
front/template/default/assets/css/style.css.map
front/template/default/assets/css/style.css
front/temp/
dev22-git.zip

/nbproject/private/
front/template/default/assets/css/style.css
index.php
.htaccess
