<section class="site-container">
  <div class="default-page">
    <div
      class="default-header" style="background-image: url('{$template}/assets/image/background/header-calendar.jpg');">
      <div class="list-wrapper">
        <div class="container">
          <h1 class="page-title">ปฏิทินกิจกรรม</h1>
          <ol class="breadcrumb">
            <li><a href="./th/home/">หน้าหลัก</a></li>
            <li><a href="./th/calendar/">ปฏิทินกิจกรรม</a></li>
            <li class="active">
              รับการตรวจประเมินตามมาตรฐาน WHO Prequalification
            </li>
          </ol>
        </div>
      </div>
    </div>
    <div class="default-bar">
      <div class="container">
        <div class="whead">
          <div class="col-md-9">
            <div class="whead-title text-primary">
              รับการตรวจประเมินตามมาตรฐาน WHO Prequalification
            </div>
          </div>
          <div class="col-md-3">
            <div class="whead-addon">
              <div class="detail-info">
                <ul>
                    <li>
                        <i class="fa fa-calendar" aria-hidden="true"></i>1.05.2022
                    </li>
                    <li>
                        <i class="fa fa-eye" aria-hidden="true"></i>33
                    </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="default-body">
      <div class="container">
        <div class="news-page">
          <div class="detail-block">
            <div class="detail-fullImg">
              <figure>
                <img src="upload/cl/pictures/pic-971-56.jpg" alt="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification" title="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification"/>
              </figure>
            </div>
            <div class="editor-content">
              <p>วันที่ : 1.05.2022 - 30.06.2022</p>
              <div style="line-height: normal">
                <p style="line-height: 25px">
                  ตรวจประเมินของสำนักยาและวัตถุุเสพติด ตามมาตรฐาน WHO
                  Prequalification จากองค์การอนามัยโลก
                </p>
              </div>
            </div>

            <div class="content-video" style="margin-top: 20px; margin-bottom: 20px">
              <iframe width="560" height="315" src="https://www.youtube.com/embed/tUuqWFExZgY?rel=0&showinfo=0" frameborder="0" allowfullscreen></iframe>
            </div>

            <div class="detail-img" id="boxDetail-img">
              <div class="owl-carousel">
                <div>
                  <a href="upload/cl/album/pic-56-Thai-692.jpg" data-fancybox="image" title="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification">
                    <figure class="thumb-bg" style="background-image: url('upload/cl/album/pic-56-Thai-692.jpg');">
                      <img src="{$template}/assets/image/asset/thumb-detail-img.png" alt="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification" title="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification"/>
                    </figure>
                  </a>
                </div>
                <div>
                  <a href="upload/cl/album/pic-56-Thai-252.jpg" data-fancybox="image" title="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification">
                    <figure class="thumb-bg" style="background-image: url('upload/cl/album/pic-56-Thai-252.jpg');">
                      <img src="{$template}/assets/image/asset/thumb-detail-img.png" alt="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification" title="รับการตรวจประเมินตามมาตรฐาน WHO Prequalification"/>
                    </figure>
                  </a>
                </div>
              </div>
            </div>

            <div class="download-block">
              <div class="download-list-title">
                <h2 class="head-title text-primary">ดาวน์โหลด</h2>
              </div>
              <div class="download-list">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="list-wrapper">
                      <div class="list-title text-primary">file-sample_1MB</div>
                      <div class="list-info">
                        <span>ประเภทไฟล์ : <span class="text-primary">.doc</span></span>
                        <span>ขนาด : <span class="text-primary">0.98 Mb</span></span>
                        <span>จำนวนดาวน์โหลด : <span class="text-primary">0</span></span>
                      </div>
                      <div class="list-btn">
                        <a href="./attachment/calendar/download.php?WP=oJkaL3ECnMO4hKQtoJg3Wxj2oH9axUF5nrO4MNo7o3Qo7o3Q" class="btn btn-primary" title="อ่านต่อ" target="_parent" ><i class="fa fa-download"></i>อ่านต่อ</a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-bar">
              <div class="row">
                <div class="col-sm-8"></div>
                <div class="col-sm-4">
                  <div class="social-block">
                    <div class="social-title">SHARE :</div>
                    <ul>
                      <li>
                        <a href="" target="_blank" title="Facebook this post" ><img src="{$template}/assets/image/icon/social-fb.png" alt="Facebook this post" title="Facebook this post" /></a>
                      </li>
                      <li>
                        <a href="" title="Twitter this post" target="_blank">
                          <img src="{$template}/assets/image/icon/social-tw.png" alt="Twitter this post" title="Twitter this post"/>
                        </a>
                      </li>
                      <li>
                        <a
                          href="" title="Google plus this post" target="_blank">
                          <img src="{$template}/assets/image/icon/social-gg.png" alt="Google plus this post" title="Google plus this post"/>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>

            <div class="detail-bottom">
                <a href="javascript:history.back();" class="btn btn-primary">
                    กลับ
                </a>
            </div>
            <div style="clear: both; height: 20px"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
