.theme-style-2 {
    .site-header {
        border-top: 5px solid var(--color-light);
        color: var(--color-white);
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: #000000;
        .site-header-topbar {
            .text-color,
            .text-size {
                .txt {
                    color: var(--color-light);
                }
                .item-list>li {
                    a {
                        color: var(--color-light);
                    }
                    // a.active {
                    //     border: 1px solid var(--color-light);
                    // }
                }
            }
        }
        .brand {
            img {
                filter: grayscale(1);
            }
        }
        .site-header-main {
            .search {
                a {
                    color: var(--color-light);
                }
            }
            .menu {
                .menu-toggle {
                    .bar {
                        background-color: var(--color-light);
                    }
                }
            }
            .main-menu-list {
                .nav-list>li {
                    a {
                        color: var(--color-light);
                    }
                    a.active {
                        border: 2px solid var(--color-light);
                    }
                }
            }
        }
    }
    .site-container {
        background-color: rgba(0, 0, 0, 0.7);
        .fw-extra-light,
        .fw-light,
        .fw-normal,
        .fw-medium,
        .fw-semi-bold,
        .fw-bold,
        .typo-xs,
        .typo-sm,
        .typo-md,
        .typo-lg,
        .typo-xl,
        .typo-default,
        .text-primary,
        .text-primary-light,
        .text-secondary,
        .text-success,
        .text-info,
        .text-warning,
        .text-danger,
        .text-gray,
        .text-light,
        .text-white,
        .text-dark,
        .text-black,
        .text-default,
        .desc,
        .profile-position,
        .profile-timeline,
        .profile-contact,
        .breadcrumb .breadcrumb-item a,
        .breadcrumb-item.active {
            color: var(--color-light) !important;
        }
        img {
            filter: grayscale(1);
        }
        .attachment-slider,
        .default-nav-slider,
        .default-tab-slider {
            .attachment-block {
                border: 1px solid var(--color-black);
                &:hover {
                    background-color: var(--color-black);
                }
                .icon {
                    filter: brightness(0) invert(1);
                }
                .subtitle {
                    color: var(--color-light);
                }
            }
            .slick-dots {
                li {
                    button {
                        &::before {
                            color: var(--color-light);
                        }
                        &:hover {
                            &::before {
                                color: #C5B500;
                            }
                        }
                    }
                }
                .slick-active {
                    border: 1px solid var(--color-black);
                    button {
                        &::before {
                            color: var(--color-black);
                        }
                        &:hover {
                            &::before {
                                color: var(--color-black);
                            }
                        }
                    }
                }
            }
        }
        .default-nav-slider {
            .item {
                a {
                    &:hover {
                        color: var(--color-light);
                        &::before {
                            filter: brightness(0) invert(1);
                        }
                    }
                }
                .active {
                    color: var(--color-light);
                    &::before {
                        filter: brightness(0) invert(1);
                    }
                }
            }
            .slick-prev,
            .slick-next {
                filter: brightness(0%);
                &:hover {
                    filter: brightness(0) invert(1);
                }
            }
        }
        .default-tab-slider {
            &::before {
                background-color: var(--color-light);
            }
            .active {
                background-color: var(--color-black);
                a {
                    color: var(--color-light);
                }
            }
            .tab-block {
                .item {
                    border: 1px solid var(--color-black);
                    a {
                        color: var(--color-light);
                    }
                    &:hover {
                        background-color: var(--color-black);
                    }
                }
            }
            .slick-prev,
            .slick-next {
                border: 1px solid var(--color-black);
                &::before {
                    filter: brightness(0%);
                }
                &:hover {
                    background-color: var(--color-black);
                    &::before {
                        filter: brightness(0) invert(1);
                    }
                }
            }
        }
        .download-block {
            border-top: 1px solid var(--color-light);
            border-bottom: 1px solid var(--color-light);
            .download-block-type {
                .desc.view {
                    &::before {
                        border: 1px solid var(--color-light);
                    }
                }
            }
            .icon {
                filter: brightness(0) invert(1);
            }
        }
        .detail-link-block {
            .detail-desc {
                border: 1px solid var(--color-black);
                background-color: var(--color-black);
            }
        }
        .gallery-block {
            .gallery-desc {
                border: 1px solid var(--color-black);
                background-color: var(--color-black);
                .title {
                    color: var(--color-light);
                }
            }
        }
        .related-sites-block {
            .related-sites-thumbnail,
            .related-sites-desc {
                border: 1px solid var(--color-black);
            }
        }
        .pagination-block {
            .pagination-label,
            .pagination li a {
                color: var(--color-light);
            }
        }
    }
}

.theme-style-3 {
    .site-header {
        border-top: 5px solid #C5B500;
        // background-color: rgba(0, 0, 0, 0.7);
        background-color: #000000;
        .site-header-topbar {
            .text-color,
            .text-size {
                .txt {
                    color: #C5B500;
                }
                .item-list>li {
                    a {
                        color: #C5B500;
                    }
                    // a.active {
                    //     border: 1px solid #C5B500;
                    // }
                }
            }
        }
        .brand {
            img {
                filter: grayscale(1);
            }
        }
        .site-header-main {
            .search {
                a {
                    color: #C5B500;
                }
            }
            .menu {
                .menu-toggle {
                    .bar {
                        background-color: #C5B500;
                    }
                }
            }
            .main-menu-list {
                .nav-list>li {
                    a {
                        color: #C5B500;
                    }
                    a.active {
                        border: 2px solid #C5B500;
                    }
                }
            }
        }
    }
    .site-container {
        background-color: rgba(0, 0, 0, 0.7);
        .fw-extra-light,
        .fw-light,
        .fw-normal,
        .fw-medium,
        .fw-semi-bold,
        .fw-bold,
        .typo-xs,
        .typo-sm,
        .typo-md,
        .typo-lg,
        .typo-xl,
        .typo-default,
        .text-primary,
        .text-primary-light,
        .text-secondary,
        .text-success,
        .text-info,
        .text-warning,
        .text-danger,
        .text-gray,
        .text-light,
        .text-white,
        .text-dark,
        .text-black,
        .text-default,
        .desc,
        .profile-position,
        .profile-timeline,
        .profile-contact,
        .breadcrumb .breadcrumb-item a,
        .breadcrumb-item.active {
            color: #C5B500 !important;
        }
        img {
            filter: grayscale(1);
        }
        .attachment-slider,
        .default-nav-slider,
        .default-tab-slider {
            .attachment-block {
                border: 1px solid #C5B500;
                &:hover {
                    background-color: #C5B500;
                }
                .icon {
                    filter: brightness(0%);
                }
                .title {
                    color: var(--color-black) !important;
                }
                .subtitle {
                    color: var(--color-black);
                }
            }
            .slick-dots {
                li {
                    button {
                        &::before {
                            color: var(--color-black);
                        }
                        &:hover {
                            &::before {
                                color: #C5B500;
                            }
                        }
                    }
                }
                .slick-active {
                    border: 1px solid #C5B500;
                    button {
                        &::before {
                            color: #C5B500;
                        }
                        &:hover {
                            &::before {
                                color: #C5B500;
                            }
                        }
                    }
                }
            }
        }
        .default-nav-slider {
            .item {
                a {
                    color: #C5B500;
                    &:hover {
                        color: var(--color-black);
                        &::before {
                            filter: brightness(0%);
                            // #Group_7584 {
                            //     stroke: #C5B500;
                            //     #Path_7857,
                            //     #Path_7858,
                            //     #Path_7856 {
                            //         stroke: #C5B500;
                            //         fill: #C5B500;
                            //     }
                            // }
                        }
                    }
                }
                .active {
                    color: #C5B500;
                    &::before {
                        filter: brightness(0%);
                        // #Group_7584 {
                        //     stroke: #C5B500;
                        //     #Path_7857,
                        //     #Path_7858,
                        //     #Path_7856 {
                        //         stroke: #C5B500;
                        //         fill: #C5B500;
                        //     }
                        // }
                    }
                }
            }
            .slick-prev,
            .slick-next {
                filter: brightness(0%);
                &:hover {
                    filter: brightness(0) invert(1);
                }
            }
        }
        .default-tab-slider {
            &::before {
                background-color: var(--color-black);
            }
            .item {
                .tab-block {
                    border: 1px solid var(--color-black);
                    a {
                        color: var(--color-black);
                    }
                    &:hover {
                        background-color: #C5B500;
                    }
                }
                .active {
                    background-color: #C5B500;
                    a {
                        color: var(--color-black);
                    }
                }
            }
            .slick-prev,
            .slick-next {
                border: 1px solid var(--color-black);
                &::before {
                    filter: brightness(0%);
                }
                &:hover {
                    background-color: #C5B500;
                    &::before {
                        filter: brightness(0%);
                    }
                }
            }
        }
        .download-block {
            border-top: 1px solid#C5B500;
            border-bottom: 1px solid #C5B500;
            .download-block-type {
                .desc {
                    &::before {
                        border: 1px solid var(--color-black);
                    }
                }
                .desc.view {
                    &::before {
                        border: 1px solid var(--color-black);
                    }
                }
            }
            .icon {
                filter: brightness(0%);
            }
        }
        .detail-link-block {
            .detail-desc {
                border: 1px solid var(--color-black);
                background-color: var(--color-black);
            }
        }
        .detail-link-block {
            .detail-desc {
                border: 1px solid #C5B500;
                background-color: #C5B500;
                .desc {
                    color: var(--color-black) !important;
                }
            }
        }
        .gallery-block {
            .gallery-desc {
                border: 1px solid #C5B500;
                background-color: #C5B500;
                .title {
                    color: var(--color-black);
                }
            }
        }
        .related-sites-block {
            .related-sites-thumbnail,
            .related-sites-desc {
                border: 1px solid #C5B500;
            }
        }
        .pagination-block {
            .pagination-label,
            .pagination li a {
                color: #C5B500;
            }
        }
    }
}

// .site-header-topbar .text-color .item-list > li a, .site-header-topbar .text-size .item-list > li a