.breadcrumb-block {}

.breadcrumb {
    background-color: transparent;
    margin: 5px 0 0 0;
    padding: 0;
    border-radius: 0;
    li {
        &+li {
            &:before {
                font-family: 'feather';
                content: '\e844' !important;
                color: var(--color-white) !important;
                padding: 0 6px;
                float: left;
                position: relative;
                top: 1px;
            }
        }
    }
    .link {
        float: left;
        display: block;
        max-width: 200px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        &.-nolimit {
            max-width: inherit;
        }
        &.active {
            color: var(--color-primary);
        }
    }
    li,
    .link {
        color: var(--color-default);
    }
}