.btn {
    background: none;
    position: relative;
    padding: 0 30px;
    min-width: 180px;
    // min-width: 120px;
    height: 50px;
    line-height: 48px;
    border: 1px solid transparent;
    border-radius: 0;
    font-size: var(--typo-default);
    font-weight: var(--fw-medium);
    &.fluid {
        min-width: inherit;
        width: 100%;
    }
    &:focus {
        box-shadow: none;
    }
    &.btn-xs {}
    &.btn-sm {}
    &.btn-lg {
        font-size: var(--typo-sm);
        height: 60px;
        line-height: 58px;
    }
    &.btn-xl {
        font-size: var(--typo-sm);
        height: 77px;
        line-height: 75px;
        min-width: 200px;
    }
    span {
        position: relative;
        // top: 2px;
    }
}

.btn:not(:disabled):not(.disabled).active:focus,
.btn:not(:disabled):not(.disabled):active:focus,
.show>.btn.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-primary,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
    color: #fff;
    background-color: var(--color-primary);
    border-color: transparent;
}

.btn-primary:hover,
.btn-primary:active:hover,
.btn-primary.active:hover,
.btn-primary:active:focus,
.btn-primary.actitve:focus,
.btn-primary:active.focus,
.btn-primary.active.focus,
.btn-primary:focus:hover,
.btn-primary.focus:hover {
    color: #fff;
    background-color: #5F99FF;
    border-color: transparent;
    // opacity: 0.8;
}

.btn-primary.disabled,
.btn-primary.disabled:hover {
    color: #fff;
    background-color: var(--color-primary);
    border-color: transparent;
    opacity: 0.5;
}

.btn-light,
.btn-light:focus,
.btn-light.focus,
.btn-light:not(:disabled):not(.disabled).active,
.btn-light:not(:disabled):not(.disabled):active,
.show>.btn-light.dropdown-toggle {
    color: var(--color-primary);
    background-color: var(--color-light);
    border-color: transparent;
}

.btn-light:hover,
.btn-light:active:hover,
.btn-light.active:hover,
.btn-light:active:focus,
.btn-light.actitve:focus,
.btn-light:active.focus,
.btn-light.active.focus,
.btn-light:focus:hover,
.btn-light.focus:hover {
    color: var(--color-light);
    background-color: var(--color-primary);
    border-color: transparent;
}

.btn-light.disabled,
.btn-light.disabled:hover {
    color: var(--color-primary);
    background-color: var(--color-light);
    border-color: transparent;
    opacity: 0.5;
}

.btn-border-primary,
.btn-border-primary:focus,
.btn-border-primary.focus,
.btn-border-primary:not(:disabled):not(.disabled).active,
.btn-border-primary:not(:disabled):not(.disabled):active,
.show>.btn-border-primary.dropdown-toggle {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
}

.btn-border-primary:hover,
.btn-border-primary:active:hover,
.btn-border-primary.active:hover,
.btn-border-primary:active:focus,
.btn-border-primary.actitve:focus,
.btn-border-primary:active.focus,
.btn-border-primary.active.focus,
.btn-border-primary:focus:hover,
.btn-border-primary.focus:hover {
    color: #fff;
    background-color: var(--color-primary);
    border-color: transparent;
}

.btn-border-primary.disabled,
.btn-border-primary.disabled:hover {
    color: var(--color-primary);
    background-color: transparent;
    border-color: var(--color-primary);
    opacity: 0.5;
}

.btn-border-light,
.btn-border-light:focus,
.btn-border-light.focus,
.btn-border-light:not(:disabled):not(.disabled).active,
.btn-border-light:not(:disabled):not(.disabled):active,
.show>.btn-border-light.dropdown-toggle {
    color: var(--color-light);
    background-color: transparent;
    border-color: var(--color-light);
}

.btn-border-light:hover,
.btn-border-light:active:hover,
.btn-border-light.active:hover,
.btn-border-light:active:focus,
.btn-border-light.actitve:focus,
.btn-border-light:active.focus,
.btn-border-light.active.focus,
.btn-border-light:focus:hover,
.btn-border-light.focus:hover {
    color: var(--color-black);
    background-color: var(--color-light);
    border-color: transparent;
}

.btn-border-light.disabled,
.btn-border-light.disabled:hover {
    color: var(--color-light);
    background-color: transparent;
    border-color: var(--color-light);
    opacity: 0.5;
}

.btn-file {
    position: relative;
    overflow: hidden;
    background: #AEAEAE;
    height: 40px;
    line-height: 38px;
    margin: 0;
}

.btn-file:hover {
    background-color: var(--color-primary);
}

.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}

@media (max-width: 991px) {
    .btn {
        min-width: 120px;
        height: 44px;
        line-height: 42px;
        &.btn-lg {
            height: 55px;
            line-height: 53px;
        }
        &.btn-xl {
            height: 66px;
            line-height: 64px;
        }
    }
}

@media (max-width: 767px) {
    .btn {
        min-width: 100px;
        height: 40px;
        line-height: 38px;
        &.btn-lg {
            height: 48px;
            line-height: 46px;
        }
        &.btn-xl {
            height: 55px;
            line-height: 53px;
        }
    }
}

@media (max-width: 575px) {}