.default-page {
    .editor-content {
        font-size: var(--typo-default);
        color: var(--color-default);
        line-height: 1.4em;
        .title {
            color: var(--color-dark);
            font-size: var(--typo-sm);
            font-weight: var(--fw-medium);
            margin-bottom: 20px;
        }
        p {
            font-size: var(--typo-xs);
            margin-bottom: 20px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        .-mc {
            margin-bottom: 5px;
            &:last-child {
                margin-bottom: 0;
            }
        }
        img {
            // height: auto !important;
            margin-bottom: 20px;
            margin-top: 3rem;
        }
        .border-block {
            margin: 30px 0;
            .title {
                font-size: var(--typo-xs);
            }
            .border-topic {
                font-size: var(--typo-sm);
                font-weight: var(--fw-medium);
                color: var(--color-dark);
                border: 1px solid #d0dbff;
                padding: 20px 120px;
            }
            .border-desc {
                border: 1px solid #d0dbff;
                border-top: 1px solid transparent;
                padding: 30px 100px;
            }
            .-C {
                padding: 30px 50px;
            }
        }
        .border-nav-slider {
            bottom: 0;
        }
        .organization-direction {
            .h-title {
                font-size: var(--typo-xl);
                font-weight: var(--fw-medium);
                color: var(--color-dark);
                margin-bottom: 40px;
            }
            .list-wrapper {
                text-align: center;
                .circle {
                    position: relative;
                    width: 182px;
                    height: 182px;
                    border-radius: 50%;
                    margin: auto;
                    p {
                        font-size: 60px;
                        font-weight: var(--fw-bold);
                        color: var(--color-light);
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
                .title {
                    margin-top: 15px;
                    margin-bottom: 5px;
                    font-size: var(--typo-sm);
                }
                p {
                    color: #707070;
                    font-size: 15px;
                }
                .-bg-style-1 {
                    background-color: #1c45d6;
                }
                .-bg-style-2 {
                    background-color: #013f94;
                }
                .-bg-style-3 {
                    background-color: #091741;
                }
                .-bg-style-4 {
                    background-color: #4e84d3;
                }
                .-bg-style-5 {
                    background-color: #f2f5ff;
                    p {
                        font-size: var(--typo-lg);
                        width: inherit;
                        color: #4e84d3;
                    }
                }
            }
        }
        .button.-ck {
            margin-top: 50px;
            .btn {
                width: fit-content;
                height: 55px;
                line-height: 55px;
                svg {
                    margin-left: 25px;
                }
            }
            .btn-border-primary.-c {
                &:hover {
                    svg {
                        path {
                            stroke: white;
                        }
                    }
                }
                svg {
                    path {
                        stroke: var(--color-primary);
                    }
                }
            }
        }
        .note-flow-chart {
            margin-top: 50px;
            ul {
                display: flex;
                justify-content: center;
                li {
                    list-style: none;
                    // margin: 0 15px;
                    position: relative;
                    padding: 0 40px;
                    &::before {
                        content: "";
                        display: block;
                        // vertical-align: middle;
                        width: 23px;
                        height: 23px;
                        position: absolute;
                        left: 0;
                        top: 0;
                    }
                    span {
                        color: var(--color-primary);
                        font-size: var(--typo-sm);
                        font-weight: var(--fw-medium);
                        margin-bottom: 20px;
                    }
                }
                .-color-1 {
                    &::before {
                        background-color: #7289d9;
                    }
                }
                .-color-2 {
                    &::before {
                        background-color: #efefef;
                    }
                }
                .-color-3 {
                    &::before {
                        background-color: #cbd6ff;
                    }
                }
            }
        }
        .btn-rounded.-ck {
            // border-radius: 30%;
            margin: 30px 0;
            border-radius: 40px;
            background-color: #f2f5ff;
            color: var(--color-primary);
        }
        .consultant-search {
            position: relative;
            .wrapper {
                position: absolute;
                top: 50%;
                left: 100px;
                transform: translate(0%, -50%);
                width: 40%;
                .title {
                    font-size: var(--typo-lg);
                    color: var(--color-primary);
                }
            }
        }
        .border-block.II {
            .border-title {
                padding: 30px 50px;
            }
            .border-desc {
                padding: 30px 50px;
            }
        }
        .collapse-block {
            .card-body {
                .desc {
                    color: var(--color-primary);
                }
                .table {
                    margin: 0;
                }
                .table tbody td {
                    vertical-align: middle;
                    // p {
                    //     line-height: 3;
                    // }
                    img {
                        margin: 0;
                    }
                }
                .table tbody td {
                    padding: 20px 15px;
                    p {
                        margin-bottom: 30px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                    .-fix-height {
                        height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        line-height: 1em;
                    }
                    .desc {
                        line-height: 1.5;
                    }
                }
                .table.bordered-custom thead th {
                    padding: 1.2rem 0.75rem;
                }
                .table.bordered-custom thead th:nth-child(2),
                .table.bordered-custom thead th:nth-child(3),
                .table.bordered-custom tbody td:nth-child(2),
                .table.bordered-custom tbody td:nth-child(3) {
                    border-right: 1px solid transparent;
                }
            }
            .card-body.precious-metal {
                img {
                    margin-top: 0;
                    margin-bottom: 0;
                }
                table tbody td {
                    padding: 0;
                    vertical-align: unset;
                    p {
                        margin-bottom: 0;
                        padding: 10px;
                        height: 70px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    p.height-custom {
                        height: 80px;
                    }
                    p:nth-child(even) {
                        background-color: #d0dbff8a;
                        border-top: 1px solid #d0dbff;
                        border-bottom: 1px solid #d0dbff;
                    }
                }
                table {
                    height: 579px;
                    tbody td:nth-child(odd) {
                        p {
                            // padding: 10px 30px;
                            // align-items: center;
                            justify-content: left;
                        }
                    }
                    tr th.width-custom {
                        width: 200px;
                    }
                }
            }
        }
        .border-table {
            border: 1px solid #d0dbff;
            border-top: 1px solid transparent;
            padding: 10px 15px;
            margin: 0;
            p {
                color: #2b63ff;
                margin-bottom: 30px;
            }
        }
        .download-block {
            .title {
                margin-bottom: 10px;
            }
            img {
                margin-bottom: 0;
                margin-top: 0;
            }
        }
        .download-block:not(:last-child) {
            margin: 0;
            border-bottom: 1px solid transparent;
            &:last-child {
                border-bottom: 1px solid #cccccc;
            }
        }
    }
}

.editor-content,
.default-page .editor-content {
    font-size: var(--typo-default);
    color: var(--color-default);
    line-height: 1.4em;
    .title {
        color: var(--color-dark);
        font-size: var(--typo-sm);
        font-weight: var(--fw-normal);
    }
    .desc {
        font-size: var(--typo-xs);
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    p {
        font-size: var(--typo-xs);
        margin-bottom: 20px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    div,
    h2,
    h3,
    h4,
    h5,
    p,
    span {
        font-family: "Prompt" !important;
    }
    p,
    span {
        font-size: var(--typo-default) !important;
        line-height: 1.4em;
    }
    // h2 {
    //     font-size: var(--typo-lg) !important;
    // }
}

@media (max-width: 1440px) {
    .default-page {
        .editor-content {
            img {
                margin-top: 2rem;
            }
        }
    }
}

@media (max-width: 1199px) {
    .default-page {
        .editor-content {
            img {
                margin-top: 1rem;
            }
            .border-block {
                .border-topic {
                    padding: 20px 100px;
                }
                .border-desc {
                    padding: 30px 60px;
                }
            }
            .border-block {
                .border-topic.-C {
                    padding: 30px;
                }
                .border-desc.-C {
                    padding: 30px;
                }
            }
            .border-nav-slider {
                bottom: 0;
            }
            .collapse-block {
                .collapse {
                    overflow: auto;
                }
                .card-body {
                    width: 1180px;
                }
                .table thead th {
                    padding: 1rem 0.75rem;
                }
                .card-body.precious-metal .table thead th {
                    padding: 1.6rem 0.75rem;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .default-page {
        .editor-content {
            img {
                margin-top: 20px;
            }
            .organization-direction {
                .list-wrapper {
                    .circle {
                        width: 150px;
                        height: 150px;
                    }
                }
            }
            .border-nav-slider {
                bottom: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .default-page {
        .editor-content {
            .organization-direction {
                .list-wrapper {
                    .circle {
                        width: 130px;
                        height: 130px;
                    }
                }
            }
            .border-block {
                .border-topic {
                    padding: 20px;
                }
                .border-desc {
                    padding: 20px 30px;
                }
            }
            .border-nav-slider {
                bottom: 0;
            }
            .note-flow-chart {
                ul {
                    padding: initial;
                    display: block;
                    li {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .default-page {
        .editor-content {
            .organization-direction {
                .list-wrapper {
                    margin-bottom: 20px;
                    // &:last-child {
                    //     margin-bottom: 0;
                    // }
                    .circle {
                        width: 182px;
                        height: 182px;
                    }
                }
            }
            .border-block {
                .border-topic {
                    padding: 20px !important;
                }
                .border-desc {
                    padding: 20px !important;
                }
            }
            .border-nav-slider {
                bottom: 0;
            }
            .button.-ck {
                text-align: center;
                .btn {
                    margin-bottom: 15px;
                    // width: 325px;
                    width: 100%;
                    text-align: center;
                }
            }
            .consultant-search {
                position: relative;
                .wrapper {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    .default-page {
        .editor-content {
            .collapse-block {
                .btn {
                    padding: 0 10px;
                    span {
                        // font-size: 15px;
                        &:last-child {
                            font-size: 22px;
                        }
                    }
                }
            }
            .consultant-search {
                .wrapper {
                    .title {
                        font-size: var(--typo-sm);
                        margin-bottom: 10px;
                    }
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .default-page {
        .editor-content {
            .consultant-search {
                .wrapper {
                    .title {
                        font-size: var(--typo-xs);
                    }
                }
            }
        }
    }
}
