.form-control {
    border: 1px solid #aeaeae;
}

.form-default .form-group {
    position: relative;
}

.form-default .control-label {
    margin-bottom: 10px;
    font-weight: var(--fw-normal);
    font-size: var(--typo-xs);
    color: var(--color-dark);
    line-height: 1.2em;
}

.form-default .form-search .form-control {
    padding-right: 55px;
}

.form-default .form-group .form-control {
    height: 50px;
    border: 1px solid #aeaeae;
}

.form-default .form-group .form-text-area {
    height: auto;
}

// .form-control-feedback {
// }
.form-control:focus {
    border: 1px solid #aeaeae;
    box-shadow: none;
}

.form-default .block-control {
    position: relative;
}

.form-default .block-control .form-control {
    line-height: 1.2em;
    padding: 10px 15px;
    background-color: #fff;
    border: 1px solid var(--color-border);
    border-radius: 0;
    box-shadow: none;
    font-size: var(--typo-xs);
    color: var(--color-dark);
    font-weight: var(--fw-normal);
    &::-webkit-input-placeholder {
        color: var(--color-gray);
        opacity: 1;
    }
    &:-ms-input-placeholder {
        color: var(--color-gray);
        opacity: 1;
    }
    &::placeholder {
        color: var(--color-gray);
        opacity: 1;
    }
}

.form-default .form-note {
    position: absolute;
    top: 100%;
    left: 20px;
    margin-top: 4px;
    font-size: var(--typo-xs);
    color: var(--color-gray);
}

.form-default .block-control .form-control:focus {
    border: 1px solid #aeaeae;
    text-shadow: none;
}

.form-default .block-control {
    position: relative;
}

.form-default .has-error .form-control:focus {
    box-shadow: none;
}

.form-default .has-success .form-control:focus {
    box-shadow: none;
}

.form-default .floating-label {
    color: var(--color-default);
    font-size: var(--typo-xs);
    position: absolute;
    pointer-events: none;
    left: 15px;
    top: 9px;
    transition: all 200ms ease-out;
}

.form-default .block-control .form-control:focus ~ .floating-label,
.form-default .block-control .form-control:not(:focus):valid ~ .floating-label {
    color: var(--color-default);
    font-size: var(--typo-xs);
    left: 0;
    top: -22px;
}

.form-control-feedback {
    position: absolute;
    right: 0;
    width: 20px;
    height: 20px;
    background-size: 100%;
    transform: translate(-50%, -50%);
    top: 50%;
}

.form-control-feedback:before {
    display: none;
}

.form-control-feedback.glyphicon-ok {
    background: url("../img/icon/checked.png") center no-repeat;
    background-size: 16px;
}

.form-control-feedback.glyphicon-remove {
    background: url("../img/icon/cancel.png") center no-repeat;
    background-size: 16px;
}

.radio-control {
    position: relative;
    display: inline-block;
}

.radio-control .icon {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-border);
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
}

.radio-control .title {
    margin: 0;
    font-size: var(--typo-default);
    font-weight: var(--fw-normal);
    color: var(--color-default);
    padding-left: 30px;
    line-height: 1.2em;
    display: block;
}

.radio-control input[type="radio"] {
    margin-top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.radio-control input[type="radio"]:checked ~ .icon {
    border-color: transparent;
    border-color: var(--color-border);
}

.radio-control input[type="radio"]:checked ~ .icon:before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background-color: var(--color-default);
    border-radius: 50%;
}

.checkbox-control {
    position: relative;
    display: inline-block;
}

.checkbox-control .icon {
    width: 20px;
    height: 20px;
    border: 1px solid var(--color-border);
    background-color: var(--color-white);
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
}

.checkbox-control .title {
    margin: 0;
    font-size: var(--typo-default);
    font-weight: var(--fw-normal);
    color: var(--color-default);
    padding-left: 30px;
    line-height: 1.2em;
    display: block;
}

.checkbox-control input[type="checkbox"] {
    margin-top: 0;
    position: absolute;
    z-index: 5;
    opacity: 0;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    cursor: pointer;
}

.checkbox-control input[type="checkbox"]:checked ~ .icon {
    border-color: transparent;
    background-color: var(--color-default);
}

.checkbox-control input[type="checkbox"]:checked ~ .icon:before {
    font-family: "feahter";
    content: "\e83f";
}

.form-check .control-label {
    position: relative;
    margin-bottom: 0;
    top: 4px;
    cursor: pointer;
}

.form-check {
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5em;
    margin-bottom: 0.125rem;
    cursor: pointer;
}

.form-check-input {
    width: 1em;
    height: 1em;
    margin-top: 0.25em;
    vertical-align: top;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    border: 1px solid rgba(0, 0, 0, 0.25);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.form-check-input:disabled {
    pointer-events: none;
    filter: none;
    opacity: 0.5;
}

.form-check-input[type="radio"] {
    border-radius: 50%;
}

.form-check .form-check-input {
    float: left;
    margin-left: -1.5em;
}

.radio-check:checked {
    background-color: var(--color-white) !important;
    border: 1px solid var(--color-border) !important;
}

.radio-check:focus,
.form-check-input:focus {
    border: 1px solid var(--color-border);
    box-shadow: none;
}

.radio-check:checked[type="radio"] {
    background-image: url(../img/static/view-box.svg);
}

.form-check-input:checked[type="checkbox"] {
    background-image: url(../img/static/checkbox.svg);
}

.form-check-input:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
}

.form-check-input[type="checkbox"] {
    border-radius: 0.25em;
}

.form-check .form-check-input {
    border: 1px solid var(--color-border);
}

.form-control-icon {
    position: absolute;
    right: 15px;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    background-repeat: no-repeat;
}

.icon-from {
    width: 32px;
    height: 32px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.icon-from.-icon-search {
    background-image: url(../img/icon/icon-search.svg);
}

// .form-default .form-search .form-control {
//     height: 60px;
// }
.form-default .block-control .form-control:focus {
    border: 1px solid var(--color-secondary);
}

.form-default .form-search button {
    padding: 10px;
    background: #2196f3;
    font-size: 17px;
    border: none;
    border-left: none;
    cursor: pointer;
    position: absolute;
    right: 0;
}

.form-default .form-search .form-control-icon {
    right: 15px;
}

// .select2-container {
//     width: 100%;
// }
.select2-container--default .select2-selection--single,
.select2-container--option-year .select2-selection--single {
    padding: 24px 5px;
    display: flex;
    align-items: center;
    border: 1px solid #aeaeae;
    position: relative;
    border-radius: unset;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #0f2852;
}

.select2-results__option {
    font-size: var(--typo-xs);
    padding: 16px 15px;
    color: #0f2852;
    // transition: all 200ms ease-out;
}

.select2-container--option-year .select2-results__option {
    padding-top: 10px;
}

.select2-container--open .select2-dropdown--below {
    border: 1px solid #aeaeae;
    border-top: none;
    animation: growDown 300ms ease-in-out;
}

// .select2-container--default .select2-results__option--selected
.select2-container--default .select2-results__option--highlighted[aria-selected],
.select2-container--default .select2-results__option--highlighted {
    background-color: var(--color-primary);
    color: var(--color-white);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    top: 0;
    height: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    opacity: 0;
}

.select2-container--default .select2-selection--single .select2-selection__arrow::before,
.select2-container--option-year .select2-selection--single .select2-selection__arrow::before,
.select2-container--option-gray .select2-selection--single .select2-selection__arrow::before {
    font-family: "feather" !important;
    content: "\e842";
    position: absolute;
    font-size: var(--typo-md);
    color: var(--color-primary);
    top: 50%;
    transform: translate(-50%, -50%);
    right: 0;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow::before,
.select2-container--option-year.select2-container--open .select2-selection--single .select2-selection__arrow::before,
.select2-container--option-gray.select2-container--open .select2-selection--single .select2-selection__arrow::before {
    content: "\e845";
}

.select-wrapper {
    font-size: var(--typo-xs);
}

.select-wrapper:focus {
    border: 1px solid var(--color-primary);
}

.select-year {
    width: 137px;
}

.select2-container--option-year .select2-selection--single {
    height: 50px;
    border: none;
    background-color: #f2f5ff;
}

.select2-container--option-year.select2-container--open .select2-dropdown--below {
    background-color: #f2f5ff;
    border: none;
    animation: growDown 300ms ease-in-out;
}

.select2-container--option-year .select2-selection--single .select2-selection__rendered {
    color: var(--color-primary);
    font-weight: var(--fw-medium);
    font-size: var(--typo-sm);
}

.select2-container--option-year .select2-results__option {
    color: var(--color-dark);
    font-weight: var(--fw-medium);
    font-size: var(--typo-sm);
    &:hover {
        color: var(--color-primary);
    }
}

.select-gray .select2-selection--single {
}

.select2-container--option-gray .select2-selection--single {
    padding: 24px 5px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border: 1px solid transparent;
    position: relative;
    border-radius: unset;
    background-color: #f2f5ff;
}

.select2-container--option-gray.select2-container--open .select2-dropdown--below {
    background-color: #f2f5ff;
    border: none;
    animation: growDown 300ms ease-in-out;
}

.select2-container--option-gray .select2-selection--single .select2-selection__rendered {
    color: #4b4b4b;
}

.select2-container--option-gray .select2-results__option {
    &.select2-results__option--highlighted {
        color: var(--color-light);
        background-color: var(--color-primary);
    }
    &:hover {
        color: var(--color-light);
        background-color: var(--color-primary);
    }
}
.select2-container--option-gray .select2-dropdown {
    border-radius: 0;
}

.select2-container--option-gray .select2-results > .select2-results__options {
    max-height: 200px;
    overflow-y: auto;
}

.select2-dropdown {
    border-radius: 0;
}

@keyframes growDown {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
    }
}

// 2022/12/26
.form-check .control-label {
    top: 0;
}
.form-check .control-label .title {
    line-height: 1.2em;
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
    .select2-container--option-gray .select2-selection--single {
        padding: 21px 5px;
    }
    .select2-container--default .select2-selection--single,
    .select2-container--option-year .select2-selection--single {
        padding: 21px 5px;
    }
    .select2-results__option {
        padding: 15px 15px;
    }
}

@media (max-width: 767px) {
    .select2-container--option-gray .select2-selection--single {
        padding: 19px 5px;
    }
    .select2-container--default .select2-selection--single,
    .select2-container--option-year .select2-selection--single {
        padding: 19px 5px;
    }
    .select2-results__option {
        padding: 13px 15px;
    }
}
