.form-default{padding: 45px 100px 70px; background-color: #F8F8F8; position: relative;
    &:before{content: ''; position: absolute; z-index: 0; right: 45px; bottom: 20px; width: 205px; height: 165px;
        background-image: url(../img/static/graphic-form-default.svg);
        background-repeat: no-repeat; background-size: contain;
    }
    .form-group{position: relative;margin-bottom: 20px;}
    .control-label{margin-bottom: 10px;font-weight: normal;font-size: 30px; font-weight: normal; color: $color-darkgray; line-height: 1.2em; padding-left: 35px;}
    .form-control{line-height: 1.2em; padding: 10px 35px;  font-size: 30px; font-weight: normal; color: #BFBFBF;min-height: 60px;
        background-color: $color-light; border: 2px solid #BFBFBF;
        @include border-radius(30px);
        @include box-shadow(none);
        &:focus{border-color: $color-primary;}
    }
    .floating-label{color: $color-darkgray; font-size: 14px;position: absolute;pointer-events: none;left: 15px;top: 9px;
        @include transition(all 200ms ease-out);
    }
    .form-control:focus ~ .floating-label,
    .form-control:not(:focus):valid ~ .floating-label{color: $color-primary; font-size: 12px; left: 0; top: -22px;}
    .block-control{position: relative;}
    .has-error{
        .form-control:focus{@include box-shadow(none);}
    }
    .has-success{
        .form-control:focus{@include box-shadow(none);}
    }
    .form-attach{position: relative; margin-top: 30px; margin-bottom: 20px; padding: 0 18px;
        background-color: $color-light; border: 2px solid #BFBFBF;
        @include border-radius(30px);
        .height{height: 60px;}
        .btn{min-width: 114px; height: 35px; line-height: 31px; font-size: 28px; font-weight: normal;
            background-color: #DFDFDF; border: 2px solid #BFBFBF;
        }
        .txt{font-size: 28px; font-weight: normal; line-height: 1em; color: $color-gray; padding-left: 20px;
            overflow: hidden;
			height: calc(1em*1);
			display: -webkit-box;
			-webkit-line-clamp: 1;
			-webkit-box-orient: vertical;
        }
    }
    .form-checkbox{padding-top: 30px;
        .title{color: $color-gray; margin-bottom: 20px;}
    }
    .form-action{text-align: center; padding-top: 40px;}
}
.form-control-feedback{position: absolute;top: 20px;right: 25px;width: 20px;height: 20px;background-size: 100%;
    &:before{display: none;}
    &.glyphicon-ok{
        background: url('../img/icon/checked.png') center no-repeat;background-size: 16px;
    }
    &.glyphicon-remove{
        background: url('../img/icon/cancel.png') center no-repeat;background-size: 16px;
    }
}