.modal-content {
    border-radius: 0;
    .close {
        position: absolute;
        right: -10px;
        top: -10px;
        width: 50px;
        height: 50px;
        background: var(--color-primary);
        border-radius: 50%;
        padding: 7px;
        color: var(--color-light);
        z-index: 1;
        opacity: 1;
        span {
            font-size: 28px;
        }
    }
}

.modal-body {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: 2rem;
}

@media (max-width: 767px) {
    .modal-body {
        padding-top: 3rem;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-bottom: 1rem;
    }
    .modal-content .close {
        position: absolute;
        right: -8px;
        top: -8px;
        width: 45px;
        height: 45px;
    }
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 700px;
    }
}