.modal-content{border: none;border-radius: 30px;box-shadow: none;}

.modal-close{position: absolute; z-index: 99; top: 35px; right: 35px; background-color: $color-none;
    border: 5px solid $color-primary; font-size: 50px; color: $color-primary; width: 76px; height: 76px;
    display: flex; justify-content: center; align-items: center;
    @include transition(All 400ms ease);
    @include border-radius(50%);
    &:hover{background-color: $color-primary; color: $color-light;}
}

.-sucsess{
    .modal-dialog{max-width: 900px;}
}
.modal-sucsess{display: flex; justify-content: center; align-items: center;
    height: 800px; text-align: center;
    .icon{width: 230px; margin: 0 auto; margin-bottom: 50px;
        img{max-height: 230px; margin: 0 auto;}
    }
    .h-title{color: $color-gray; font-size: 90px; font-weight: 500; line-height: 1; margin-bottom: 20px;}
    .desc{color: $color-secondary; font-size: 43px; font-weight: 300; line-height: 1.2em;}
    .action{padding-top: 80px;
        .btn{width: 100%; min-width: 600px; height: 80px; line-height: 78px; font-size: 36px;}
    }
}

/* ----- modal policy ----- */
.modal-policy{
    .mcscroll{height: 50vh;}
    .modal-content{background-color: #F3F4F5; border-radius: 0;box-shadow: none; border: none;padding: 40px; position: relative;}
    .modal-dialog{max-width: 1280px;}
    .modal-header{text-align: center;display: block;padding: 0 0 20px 0;border: none; border-bottom: 1px solid $color-border; margin: 0 0 20px 0; position: relative;
        .title{font-size: 40px;font-weight: 500;color: $color-secondary; margin: 0;line-height: 1.2em;}
        .sub{font-size: 36px;font-weight: 500;color: $color-secondary;margin: 0;line-height: 1.2em;}
        .desc{font-size: 28px;font-weight: 500; color: $color-gray; margin: 0;line-height: 1.4em;}
    }
    .modal-body{padding: 30px;
        .desc{font-size: 26px; color: $color-gray; font-weight: 300; margin: 0; line-height: 1.2em; margin-bottom: 25px;}
        .indent{text-indent: 30px;}
        .topic{font-size: 26px;font-weight: 500; color: $color-darkgray; margin: 0 0 25px 0; line-height: 1.2em;}
    }
    .detail-area{padding: 20px 0 0 0; background-color: $color-none;}
    .download-box { position: relative;
        .item-list{ white-space: nowrap; -ms-flex-wrap: nowrap;flex-wrap: nowrap; margin: 0 -8px;}
        .item {padding: 0 8px; width: 600px; display: inline-flex; float: none;}
        .link{width: 100%;}
        .wrapper{border: 1px solid #DCE5EA; overflow:hidden; background-color: $color-light; padding: 0 30px;
            @include transition(all 400ms ease-out);
        }
        .height{height: 136px;}
        .icon-load{width: 49px;
            .lazy{@include transition(all 400ms ease-out);}
        }
        .content{padding: 0 15px;
            img{display: inline-block; vertical-align: middle;}
            .title{font-size: 36px; font-weight: 500; color: $color-primary; margin-bottom: 5px;
                max-height: 1em; line-height: 1em; overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 1;
                @include transition(all 400ms ease-out);
            }
            .desc{
                font-size: 20px; line-height: 1; font-weight: normal; color: #555555;
                @include transition(all 400ms ease-out);
                .color{color: $color-primary;@include transition(all 400ms ease-out);}
                .item-list{margin: 0 -5px;
                    li{padding: 0 5px;@include transition(all 400ms ease-out);}
                    li+li{border-left: 1px solid #CCCCCC;}
                }
                .update{color: #9B9B9B; font-size: 20px; line-height: 1; font-weight: normal; margin-top: 5px;
                    @include transition(all 400ms ease-out);
                }
            }
        }
        .action{
            .btn-link{width: 56px; height: 56px; display: flex; justify-content: center; align-items: center;
                background-color: $color-primary; border: 1px solid $color-primary;
                font-size: 24px; color: $color-light;
                @include border-radius(50%);
                @include transition(all 400ms ease-out);
            }
        }
        .link:hover{
            .wrapper{border-color: $color-primary; background-color: $color-primary;}
            .icon-load{
                .lazy{filter: grayscale(1) invert(1) brightness(300%);}
            }
            .content{
                .title{color: $color-light;}
                .desc{color: $color-light;
                    .color{color: $color-light;}
                    .item-list{
                        li+li{border-left-color:$color-light;}
                    }
                    .update{color: $color-light;}
                }
            }
            .action{
                .btn-link{background-color: $color-light; border-color: $color-light; color: $color-primary;}
            }
        }
    }   
}

.modal-search{
    .modal-title{font-size: 48px; font-weight: 600; font-style: italic; line-height: 0.8; color: $color-primary;}
    .search-form{position: relative;}
    .search-group{position: relative;margin-bottom: 20px;}
    .search-control{line-height: 1.2em; padding: 10px 15px; font-size: 30px; color: $color-lightgray; min-height: 50px;
        background-color: $color-light; border: 1px solid $color-lightgray; width: 100%; outline-offset: 0;
        @include border-radius(0px);
        @include box-shadow(none);
        &:focus{border-color: $color-primary;}
        &:focus-visible{outline: none;}
    }
    .search-btn{
        &:after{content: ''; display: table; clear: both;}
        .btn:nth-child(1){float: left;}
        .btn:nth-child(2){float: right;}
    }
}

@media (max-width: 1600px) {

}

@media (max-width: 1440px) /*check 1280*/ {
    .modal-search .modal-title {font-size: 42px;}
    .modal-search .search-control {font-size: 26px;}
}

@media (max-width: 1199px) /*check 1024*/{
}

@media (max-width: 991px) {

}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}