// .fancybox-controls{
//     bottom: 0;
// }
// .fancybox-buttons {
//     left: 0;
//     bottom: 0;
// }
// .fancybox-button.fancybox-button--play {
//     position: absolute;
//     bottom: 0;
// }

.fancybox-bg {
    background: #060f29;
}

.fancybox--gallery-popup {
    .fancybox-infobar__body {
        font-family: "Prompt";
        font-size: 18px;
    }
    .fancybox-container--ready .fancybox-bg {
        opacity: 0.75;
    }

    .fancybox-button,
    .fancybox-infobar__body {
        background: transparent;
    }

    .fancybox-button.fancybox-button--play {
        position: absolute;
        bottom: -99vh;
        left: -51.5vw;
    }
    .fancybox-button.fancybox-button--left {
        position: absolute;
        bottom: -49vh;
        left: 26px;
    }
    .fancybox-button.fancybox-button--right {
        position: absolute;
        bottom: -49vh;
        right: 26px;
    }
    .fancybox-button:focus {
        outline: none;
    }
    .fancybox-button.fancybox-button--close {
        position: absolute;
        top: 0;
        right: 0;
        width: 80px;
        height: 60px;
    }
    .fancybox-button--close:after,
    .fancybox-button--close:before {
        width: 40px;
        top: 30px;
        right: 30px;
        left: auto;
    }

    .fancybox-button:hover {
        background: transparent;
    }

    .fancybox-button--play:before {
        top: 12px;
        left: 15px;
        width: 0;
        height: 0;
        border-top: 10px inset transparent;
        border-bottom: 10px inset transparent;
        border-left: 14px solid;
        border-radius: 1px;
        background: transparent;
    }
    .fancybox-button--pause:before {
        top: 12px;
        left: 15px;
        width: 15px;
        height: 20px;
        border-style: solid;
        border-width: 0 4px;
        background: transparent;
    }
    .fancybox-button--left:after,
    .fancybox-button--right:after {
        top: 28px;
        width: 30px;
        height: 30px;
    }

    .fancybox-button.fancybox-button--left,
    .fancybox-button.fancybox-button--right {
        width: 90px;
        height: 90px;
        border-radius: 50%;
        border: 2px solid #fff;
        background: rgba(255, 255, 255, 0.25);
    }
    .fancybox-button--left:after {
        left: 34px;
    }

    .fancybox-button--right:after {
        right: 34px;
    }
}

@media (max-width: 1440px) {
    .fancybox--gallery-popup {
        .fancybox-button.fancybox-button--left,
        .fancybox-button.fancybox-button--right {
            width: 70px;
            height: 70px;
        }
        .fancybox-button--left:after,
        .fancybox-button--right:after {
            top: 21px;
            width: 24px;
            height: 24px;
        }
        .fancybox-button--left:after {
            left: 27px;
        }
        .fancybox-button--right:after {
            right: 27px;
        }
    }
}
