.slick-prev:before,
.slick-next:before{display: none;}
.slick-prev:hover:before,
.slick-next:hover:before{color: $color-primary;}
.slick-prev, .slick-next{z-index: 1; top: auto; bottom: 10px;
    width: 60px; height: 60px; line-height: 68px; text-align: center;
    border: 1px solid $color-lightgray; color: $color-lightgray; font-size: 30px;
    @include border-radius(50%); @include transition(All 400ms ease);  @include transform(none);
}
.slick-prev{left: 50%; margin-left: -67px;}
.slick-next{right: 50%; margin-right: -67px;}
.slick-prev:hover, 
.slick-prev:focus, 
.slick-next:hover, 
.slick-next:focus{background-color: $color-none; color: $color-primary; border-color: $color-primary;}
.slick-dots{
    li{width: auto; height: auto; margin: 0 7px; position: relative; 
        @include transition(All 400ms ease);
        button{
            width: 25px;height: 22px; padding: 0; background: $color-none;
            &:before{content: ''; position: absolute;
                width: 0; height: 0; opacity: 1;
                border-style: solid;
                border-width: 0 12.5px 22px 12.5px;
                border-color: transparent transparent $color-lightgray transparent;
                @include transition(All 400ms ease);
            }
        }
        &.slick-active{
            button{background: $color-none;
                &:before{border-color: transparent transparent $color-primary transparent;}
            }
        }
    }
}
.slick-dots:hover li{opacity: 0.8;}
.slick-dots:hover li:hover{opacity: 1;}

.slick-slide{
    .item{float: left;}
}