.video-gallery {
    .h-title {
        // font-size: var(--typo-xl);
        font-size: 60px;
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        margin-bottom: 40px;
    }
    // .nav {
    //     padding-top: 40px;
    //     width: 90%;
    //     margin: auto;
    //     li {
    //         width: 50%;
    //         text-align: center;
    //         position: relative;
    //         .item {
    //             font-size: var(--typo-lg);
    //             color: var(--color-gray);
    //             transition: all 200ms ease-out;
    //             &:hover {
    //                 color: var(--color-primary);
    //                 text-decoration: none;
    //                 &::before {
    //                     content: "";
    //                     background-image: url(../img/icon/underline-style.svg);
    //                     width: 90%;
    //                     background-repeat: no-repeat;
    //                     height: 15px;
    //                     position: absolute;
    //                     background-position: center;
    //                     left: 0;
    //                     right: 0;
    //                     margin: auto;
    //                     bottom: -30px;
    //                 }
    //             }
    //         }
    //         .item.active {
    //             color: var(--color-primary);
    //             &::before {
    //                 content: "";
    //                 background-image: url(../img/icon/underline-style.svg);
    //                 width: 90%;
    //                 background-repeat: no-repeat;
    //                 height: 15px;
    //                 position: absolute;
    //                 background-position: center;
    //                 left: 0;
    //                 right: 0;
    //                 margin: auto;
    //                 bottom: -30px;
    //             }
    //         }
    //     }
    // }
    .tab-content {
        // padding-top: 70px;
        .video-gallery-banner {
            position: relative;
            display: flex;
            align-items: center;
            .cover.-banner {
                padding-bottom: 48%;
                width: 75%;
            }
            .link {
                position: absolute;
                width: 35%;
                padding: 30px 40px;
                right: 0;
                background-color: var(--color-primary);
                .title,
                .desc,
                .feather {
                    color: var(--color-light);
                    margin-bottom: 15px;
                }
                .title {
                    font-size: var(--typo-xl);
                }
                .desc {
                    font-size: var(--typo-sm);
                }
                .feather {
                    font-size: 60px;
                }
            }
        }
        .item-list {
            padding-top: 30px;
            margin: 0 -10px;
            li {
                width: calc(100%/3);
                padding: 10px;
                &:hover {
                    .link {
                        .desc {
                            color: var(--color-primary);
                        }
                    }
                }
                .yt-frame {
                    position: relative;
                    .icon {
                        position: absolute;
                        z-index: 1;
                        right: 25px;
                        bottom: 25px;
                        pointer-events: none;
                        border-radius: 50%;
                        color: var(--color-light);
                        transition: all 400ms ease-out;
                        .feather {
                            font-size: 50px;
                        }
                    }
                    .cover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        background-color: #ffffff;
                        cursor: pointer;
                    }
                    &.hide {
                        .icon,
                        .cover {
                            display: none;
                        }
                    }
                }
                .link {
                    .desc {
                        font-size: var(--typo-sm);
                        color: #29282D;
                        padding-bottom: 70px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .video-gallery {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .iframe-container {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 38%;
                    padding: 20px 30px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .video-gallery {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .icon {
                            right: 15px;
                            bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .video-gallery {
        .tab-content {
            padding-top: 60px;
            .video-gallery-banner {
                .link {
                    width: 50%;
                    .title {
                        font-size: var(--typo-lg);
                    }
                    .feather {
                        font-size: 50px;
                    }
                }
            }
            .item-list {
                padding-top: 20px;
                li {
                    width: 50%;
                    .link {
                        .desc {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .video-gallery {
        .nav {
            li {
                .item {
                    font-size: var(--typo-md);
                }
            }
        }
        .tab-content {
            .video-gallery-banner {
                padding-bottom: 100px;
                .cover.-banner {
                    width: 100%;
                }
                .link {
                    width: 80%;
                    top: 70%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    .feather {
                        font-size: 40px;
                    }
                }
            }
            .item-list {
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .video-gallery {
        .tab-content {
            .video-gallery-banner {
                padding-bottom: 130px;
                .link {
                    width: 95%;
                    top: 65%;
                    padding: 20px 10px;
                    .feather {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}