.video-gallery-block {
    .h-title {
        font-size: 70px;
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        margin-bottom: 40px;
    }
    .tab-content {
        .video-gallery-banner {
            position: relative;
            display: flex;
            align-items: center;
            .cover.-banner {
                padding-bottom: 48%;
                width: 75%;
            }
            .link {
                position: absolute;
                width: 35%;
                padding: 30px 40px;
                right: 0;
                background-color: var(--color-primary);
                .title,
                .desc,
                .feather {
                    color: var(--color-light);
                    margin-bottom: 15px;
                }
                .title {
                    font-size: var(--typo-xl);
                }
                .desc {
                    font-size: var(--typo-sm);
                }
                .feather {
                    font-size: 60px;
                }
            }
        }
        .item-list {
            padding-top: 30px;
            margin: 0 -10px;
            li {
                width: calc(100%/3);
                padding: 10px;
                &:hover {
                    .link {
                        .desc {
                            color: var(--color-primary);
                        }
                    }
                }
                .yt-frame {
                    position: relative;
                    .icon {
                        position: absolute;
                        z-index: 1;
                        right: 25px;
                        bottom: 25px;
                        pointer-events: none;
                        border-radius: 50%;
                        color: var(--color-light);
                        transition: all 400ms ease-out;
                        .feather {
                            font-size: 50px;
                        }
                    }
                    .cover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        background-color: #ffffff;
                        cursor: pointer;
                    }
                    &.hide {
                        .icon,
                        .cover {
                            display: none;
                        }
                    }
                }
                .link {
                    .desc {
                        font-size: var(--typo-sm);
                        color: #29282D;
                        padding-bottom: 70px;
                    }
                }
            }
        }
    }
}

.service-block {
    .sidebar-menus {
        .h-title {
            font-size: 70px;
            font-weight: var(--fw-medium);
            color: var(--color-primary);
        }
        .sub-title {
            font-size: var(--typo-xl);
            color: var(--color-primary);
            margin-bottom: 25px;
        }
        .item-list {
            .menu-service {
                padding: 15px 0;
                .topic {
                    font-size: var(--typo-lg);
                    color: var(--color-primary);
                    margin-bottom: 25px;
                    // padding: 15px 0;
                    // border-bottom: 1px solid #CCCCCC;
                }
                .sub-topic {
                    padding-top: 20px;
                    padding-left: 0;
                    li {
                        font-size: var(--typo-sm);
                        color: var(--color-gray);
                        padding: 15px 0;
                        border-bottom: 1px solid #CCCCCC;
                    }
                    .-border-top {
                        border-top: 1px solid #CCCCCC;
                    }
                }
            }
        }
    }
}

// .sub-topic {
//     display: none;
// }
@media (max-width: 1199px) {
    .video-gallery-block {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .iframe-container {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 38%;
                    padding: 20px 30px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .video-gallery-block {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .icon {
                            right: 15px;
                            bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 40%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .video-gallery-block {
        .tab-content {
            .video-gallery-banner {
                .link {
                    width: 50%;
                    .title {
                        font-size: var(--typo-lg);
                    }
                    .feather {
                        font-size: 50px;
                    }
                }
            }
            .item-list {
                padding-top: 20px;
                li {
                    width: 50%;
                    .link {
                        .desc {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .video-gallery-block {
        .h-title {
            margin-bottom: 30px;
        }
        .nav {
            li {
                .item {
                    font-size: var(--typo-md);
                }
            }
        }
        .tab-content {
            .video-gallery-banner {
                padding-bottom: 210px;
                .cover.-banner {
                    width: 100%;
                }
                .link {
                    width: 100%;
                    top: 60%;
                    .feather {
                        font-size: 40px;
                    }
                }
            }
            .item-list {
                padding-top: 10px;
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .video-gallery-block {
        .tab-content {
            .video-gallery-banner {
                .link {
                    top: 50%;
                    padding: 20px 10px;
                    .feather {
                        font-size: 40px;
                    }
                }
            }
            .item-list {
                padding-top: 40px;
            }
        }
    }
}