.git-vdo-block {
    .h-title {
        font-size: 70px;
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        margin-bottom: 40px;
    }
    .tab-content {
        .video-gallery-banner {
            position: relative;
            display: flex;
            align-items: center;
            .cover.-banner {
                padding-bottom: 48%;
                width: 75%;
            }
            .link {
                position: absolute;
                width: 35%;
                padding: 30px 40px;
                right: 0;
                background-color: var(--color-primary);
                .title,
                .desc,
                .feather {
                    color: var(--color-light);
                    margin-bottom: 15px;
                }
                .title {
                    font-size: var(--typo-xl);
                }
                .desc {
                    font-size: var(--typo-sm);
                }
                .feather {
                    font-size: 60px;
                }
            }
        }
        .item-list {
            padding-top: 30px;
            margin: 0 -10px;
            li {
                width: calc(100%/3);
                padding: 10px;
                &:hover {
                    .link {
                        .desc {
                            color: var(--color-primary);
                        }
                    }
                }
                .yt-frame {
                    position: relative;
                    .icon {
                        position: absolute;
                        z-index: 1;
                        right: 25px;
                        bottom: 25px;
                        pointer-events: none;
                        border-radius: 50%;
                        color: var(--color-light);
                        transition: all 400ms ease-out;
                        .feather {
                            font-size: 50px;
                        }
                    }
                    .cover {
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                        background-size: cover;
                        background-position: center;
                        background-color: #ffffff;
                        cursor: pointer;
                    }
                    &.hide {
                        .icon,
                        .cover {
                            display: none;
                        }
                    }
                }
                .link {
                    .desc {
                        font-size: var(--typo-sm);
                        color: #29282D;
                        padding-bottom: 70px;
                    }
                }
            }
        }
    }
}

.git-service-block {
    position: relative;
    margin-bottom: 10rem;
    .h-title {
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        margin-bottom: 0;
    }
    .sub-title {
        font-size: var(--typo-xl);
        color: var(--color-primary);
        margin-bottom: 25px;
    }
    .sidebar-menus {
        min-height: 440px;
        .item-list {
            padding-right: 20px;
            .menu-service {
                padding: 10px 0;
                float: none;
                width: 100%;
                cursor: pointer;
                .block-dots {
                    width: 100px;
                }
                .dots-topic {
                    position: relative;
                    // width: 60px;
                    // height: 60px;
                    width: 20px;
                    height: 20px;
                    margin: 0 auto;
                    border: 1px solid transparent;
                    border-radius: 50%;
                    transition: 300ms ease-in-out;
                    &::before {
                        content: "";
                        opacity: 0;
                        font-family: "slick";
                        font-size: 6px;
                        line-height: 20px;
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 20px;
                        height: 20px;
                        // content: "•";
                        text-align: center;
                        color: black;
                        -webkit-font-smoothing: antialiased;
                        -moz-osx-font-smoothing: grayscale;
                        border-radius: 50%;
                        border: 1px solid var(--color-primary);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                }
                .dots-topic.active {
                    position: relative;
                    width: 60px;
                    height: 60px;
                    border: 1px solid var(--color-primary);
                    &::before {
                        border-radius: 50%;
                        background-color: var(--color-primary);
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        opacity: 1;
                    }
                }
                .topic {
                    font-size: var(--typo-md);
                    color: var(--color-primary);
                    display: flex;
                    align-items: center;
                }
                .topic.active {
                    font-size: var(--typo-lg);
                    .dots-topic {
                        position: relative;
                        width: 60px;
                        height: 60px;
                        border: 1px solid var(--color-primary);
                        &::before {
                            border-radius: 50%;
                            background-color: var(--color-primary);
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%, -50%);
                            opacity: 1;
                        }
                    }
                }
                .sub-topic {
                    padding-top: 20px;
                    padding-left: 0;
                    display: none;
                    li {
                        padding: 20px 0;
                        padding-left: 100px;
                        border-bottom: 1px solid #CCCCCC;
                        list-style: none;
                        a {
                            font-size: var(--typo-sm);
                            color: var(--color-gray);
                            &:hover {
                                color: #41C0F7;
                            }
                        }
                    }
                    .-border-top {
                        border-top: 1px solid #CCCCCC;
                    }
                    // &:active {
                    //     display: block;
                    // }
                }
                .sub-topic.-block {
                    display: block;
                }
            }
        }
    }
    .cover {
        padding-bottom: 76%;
    }
    .topic-content-block {
        background-color: var(--color-primary);
        // background-color: #cc1212;
        color: var(--color-light);
        padding: 35px 40px;
        position: absolute;
        margin-top: -75px;
        left: 15%;
        transform: translate(-50%, -50%);
        width: 480px;
        .h-title {
            font-size: var(--typo-xl);
            color: var(--color-light);
            margin: 0;
        }
        .sub-title {
            font-size: var(--typo-md);
            color: var(--color-light);
        }
        .desc {
            font-size: var(--typo-sm);
            color: var(--color-light);
        }
        .btn-border-primary {
            border: 1px solid var(--color-light);
            color: var(--color-light);
        }
    }
}

.git-information-block {
    color: var(--color-light);
    background: url(../img/background/information-bg.png), var(--color-primary);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5rem 0;
    margin-bottom: 5rem;
    .h-title {
        color: var(--color-light);
    }
    .sub-title {
        font-size: var(--typo-xl);
        color: var(--color-light);
        margin-bottom: 25px;
    }
    .slick-dots li button {
        background-color: var(--color-light);
    }
    .slick-dots li.slick-active button {
        background-color: transparent;
    }
    .slick-dotted.slick-slider {
        padding-top: 3rem;
    }
    .default-slider-dots .slick-dots {
        bottom: -115px
    }
    .default-slider .slick-list {
        margin: 0 -10px;
    }
    .item {
        padding: 0 10px;
        .link {
            .wrapper {
                background-color: var(--color-light);
                .inner {
                    padding: 1.5rem;
                }
                .title {
                    font-size: var(--typo-lg);
                    font-weight: var(--fw-medium);
                    color: var(--color-primary);
                    margin-bottom: 1rem;
                }
                .desc {
                    font-size: var(--typo-xs);
                    color: var(--color-primary);
                    margin-bottom: 4rem;
                }
                .divider {
                    border-style: dashed;
                }
                .date {
                    font-size: var(--typo-xs);
                    color: var(--color-primary);
                    span {
                        position: relative;
                        top: 4px;
                        font-size: var(--typo-md);
                    }
                }
            }
        }
    }
    .load-more-hide {
        padding-top: 7rem;
    }
}

.git-news-block {
    margin-bottom: 5rem;
    .h-title {
        text-align: center;
        color: var(--color-primary);
    }
    .default-nav-tab {
        margin-bottom: 80px;
        li {
            width: 33.33%;
        }
    }
    .default-slider {
        .item {
            padding: 0 15px;
            .link {
                .wrapper {
                    position: relative;
                    .cover {
                        padding-bottom: 50%;
                    }
                    .inner {
                        position: absolute;
                        width: 100%;
                        bottom: 0;
                        padding: 1.5rem;
                        backdrop-filter: blur(26px);
                        .title {
                            font-size: var(--typo-lg);
                            font-weight: var(--fw-medium);
                            color: var(--color-light);
                            margin-bottom: 1rem;
                        }
                        .desc {
                            font-size: var(--typo-md);
                            color: var(--color-light);
                            margin-bottom: 1rem;
                        }
                        .date {
                            font-size: var(--typo-md);
                            color: var(--color-light);
                        }
                    }
                }
            }
        }
    }
    .item-list {
        .news-block:first-child {
            margin-top: 3rem;
            border-top: 1px solid #cccccc;
        }
        // .news-block:not(:last-child) {
        //     border-bottom: 1px solid #cccccc;
        // }
        .news-block {
            margin-bottom: 30px;
            margin-bottom: 0;
            border-bottom: 1px solid transparent;
            .cover {
                width: 160px;
                height: auto;
                padding-bottom: 63%;
            }
            .desc,
            .date {
                padding-top: 15px;
                padding: 10px;
                .icon-calendar {
                    color: #000;
                    opacity: 0.5;
                }
            }
        }
    }
    .load-more-hide {
        margin-top: 5rem;
    }
}

@media (max-width: 1440px) {
    .git-information-block {
        .default-slider-dots .slick-dots {
            bottom: -100px
        }
    }
}

@media (max-width: 1199px) {
    .git-vdo-block {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .iframe-container {
                            margin-bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 38%;
                    padding: 20px 30px;
                }
            }
        }
    }
    .git-service-block {
        margin-bottom: 5rem;
        .sub-title {
            font-size: var(--typo-lg);
        }
        .cover {
            padding-bottom: 37%;
        }
        .topic-content-block {
            position: relative;
            width: 100%;
            left: 0;
            transform: none;
            margin-top: 0;
        }
        .sidebar-menus {
            min-height: 355px;
            .item-list {
                .menu-service {
                    .sub-topic {
                        padding-top: 15px;
                        li {
                            padding: 15px 0;
                            padding-left: 100px;
                        }
                    }
                    .dots-topic {
                        &::before {
                            width: 15px;
                            height: 15px;
                        }
                    }
                    .topic.active {
                        .dots-topic {
                            width: 40px;
                            height: 40px;
                            &::before {
                                width: 15px;
                                height: 15px;
                            }
                        }
                        .dots-topic.active {
                            width: 40px;
                            height: 40px;
                            &::before {
                                width: 15px;
                                height: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
    .git-information-block {
        .sub-title {
            font-size: var(--typo-lg);
        }
        .default-slider-dots .slick-dots {
            bottom: -80px
        }
        .load-more-hide {
            padding-top: 5rem;
        }
    }
}

@media (max-width: 991px) {
    .git-vdo-block {
        .tab-content {
            .item-list {
                li {
                    .yt-frame {
                        .icon {
                            right: 15px;
                            bottom: 15px;
                        }
                    }
                }
            }
            .video-gallery-banner {
                .link {
                    width: 44%;
                }
            }
        }
    }
    .git-service-block {
        margin-bottom: 5rem;
        .sidebar-menus {
            .item-list {
                padding-right: 0;
            }
        }
        .cover {
            padding-bottom: 40%;
        }
    }
    .git-information-block {
        padding: 3rem 0;
        .item {
            .link {
                .wrapper {
                    .desc {
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .git-vdo-block {
        .tab-content {
            .video-gallery-banner {
                .link {
                    width: 50%;
                    .title {
                        font-size: var(--typo-lg);
                    }
                    .feather {
                        font-size: 50px;
                    }
                }
            }
            .item-list {
                padding-top: 20px;
                li {
                    width: 50%;
                    .link {
                        .desc {
                            padding-bottom: 10px;
                        }
                    }
                }
            }
        }
    }
    .git-service-block {
        margin-bottom: 3rem;
        .sidebar-menus {
            .cover {
                margin-top: 2rem;
            }
            .topic-content-block {
                padding: 30px;
            }
        }
    }
}

@media (max-width: 575px) {
    .git-vdo-block {
        .h-title {
            margin-bottom: 30px;
        }
        .nav {
            li {
                .item {
                    font-size: var(--typo-md);
                }
            }
        }
        .tab-content {
            .video-gallery-banner {
                padding-bottom: 210px;
                .cover.-banner {
                    width: 100%;
                }
                .link {
                    width: 100%;
                    top: 60%;
                    .feather {
                        font-size: 40px;
                    }
                }
            }
            .item-list {
                padding-top: 10px;
                li {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 375px) {
    .git-vdo-block {
        .tab-content {
            .video-gallery-banner {
                .link {
                    top: 50%;
                    padding: 20px 10px;
                    .feather {
                        font-size: 40px;
                    }
                }
            }
            .item-list {
                padding-top: 40px;
            }
        }
    }
}