@media (min-width: 1200px) {
    .container {
        max-width: inherit;
        // width: 1210px;
        width: 1280px;
    }
}

@media (max-width: 1600px) {
    .container {
        max-width: inherit;
        // width: 1210px;
        width: 1280px;
    }
}

@media (max-width: 1440px) {
     :root {
        // --typo-s: 14px;
        // --typo-xs: 16px;
        // --typo-sm: 20px;
        --typo-md: 22px;
        --typo-lg: 26px;
        --typo-xl: 36px;
        // --typo-default: 18px;
    }
    .container {
        max-width: inherit;
        width: 1210px;
        // width: 1280px;
    }
    .site-container {
        margin-top: 120px;
    }
}

@media (max-width: 1199px) {
     :root {
        --typo-s: 12px;
        --typo-xs: 14px;
        --typo-sm: 18px;
        --typo-md: 20px;
        --typo-lg: 24px;
        --typo-xl: 34px;
        // --typo-default: 18px;
    }
    .container {
        max-width: inherit;
        width: 970px;
        // width: 1130px;
    }
    .site-container {
        margin-top: 100px;
    }
    .about.form-about {
        .emergency-case,
        .family-datails {
            .font-size-C {
                font-size: 14px !important;
            }
        }
    }
}

@media (max-width: 991px) {
     :root {
        --typo-s: 12px;
        --typo-xs: 14px;
        --typo-sm: 16px;
        --typo-md: 18px;
        --typo-lg: 22px;
        --typo-xl: 32px;
        --typo-default: 16px;
    }
    .container {
        max-width: inherit;
        width: 100%;
    }
    .site-container {
        // margin-top: 65px;
        margin-top: 112px;
    }
    .about.form-about {
        .emergency-case,
        .family-datails {
            .font-size-C {
                font-size: 14px !important;
            }
        }
    }
    .theme-3 .site-header {
        height: 114px;
    }
    .theme-3 .site-container {
        margin-top: 114px;
    }
}

@media (max-width: 767px) {
    .container {
        max-width: inherit;
        width: 100%;
    }
    // .site-header-main .search.show .form .form-control {
    //     width: auto;
    // }
}

@media (max-width: 575px) {
    .container {
        max-width: inherit;
        width: 100%;
    }
}