.site-footer {
    .link {
        color: var(--color-light);
    }
    .footer-top {
        color: var(--color-light);
        background: url(../img/background/GIT-Pattern-Signature.svg), var(--color-primary);
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        padding: 2rem 0 8rem 0;
        // padding: 2rem 0;
        .title {
            font-size: var(--typo-md);
            font-weight: var(--fw-normal);
            margin-bottom: 1rem;
        }
        .desc {
            font-size: var(--typo-sm);
            font-weight: var(--fw-light);
            margin-bottom: 2rem;
        }
    }
    .contact {
        margin-bottom: 2rem;
        .item-list {
            >li {
                float: none;
                &+li {
                    margin-top: 2.5rem;
                }
                &>.link {
                    font-size: var(--typo-sm);
                    font-weight: var(--fw-medium);
                    &:hover {
                        // color: var(--color-primary-light);
                    }
                }
                a {
                    span {
                        background-color: var(--color-primary-light);
                        padding: 10px;
                        border-radius: var(--circle);
                        margin-right: 15px;
                    }
                }
            }
        }
    }
    .maps {
        .item-list>li+li {
            margin-left: 1rem;
        }
    }
    .social {
        .item-list {
            margin: 0 -8px;
            &>li {
                float: right;
                padding: 0 8px;
                margin-top: 15px;
                &+li {}
                .btn {
                    font-size: 12px;
                    padding: 18px 15px;
                    background-color: #122a72;
                }
                .inner {
                    display: flex;
                    .txt {
                        margin-left: 15px;
                        text-align: left;
                        line-height: 1.4em;
                        min-width: 130px;
                    }
                    span {
                        position: absolute;
                        font-size: 20px;
                        right: 12px;
                        top: initial;
                        bottom: 12px;
                    }
                }
                &:hover a,
                a:hover {
                    background-color: var(--color-primary);
                }
            }
        }
    }
    .footer-sitemap {
        .link {
            color: var(--color-primary);
        }
        .card {
            border: none;
            // transition: 3s;
        }
        .card-header {
            position: absolute;
            top: -50px;
            right: 0;
            background: #357af3;
            height: auto;
            padding: 0;
            border-radius: 0;
            border-bottom: none;
            .btn {
                color: var(--color-light);
                span {
                    position: relative;
                    top: 2px;
                    font-weight: bold;
                }
                &.collapsed {
                    span::before {
                        content: "\e842";
                    }
                }
                &:hover,
                &:focus {
                    text-decoration: none;
                }
            }
        }
        .card-body {
            padding: 3rem 0;
            .h-title {
                font-size: var(--typo-lg);
                font-weight: var(--fw-medium);
                color: var(--color-primary);
                text-align: center;
                padding-bottom: 2rem;
                margin-bottom: 2rem;
                border-bottom: 1px solid rgba(58, 122, 243, 0.2);
            }
            .title {
                font-size: var(--typo-md);
                color: var(--color-primary);
                margin-bottom: 1rem;
            }
            .list-group-item {
                border: none;
            }
            .list-group {
                margin-bottom: 1.5rem;
                &>li>a::before {
                    content: "";
                    position: absolute;
                    width: 5px;
                    height: 5px;
                    border-radius: var(--circle);
                    border: 1px solid var(--color-primary);
                    top: 9px;
                    left: 0;
                }
                .list-group-item,
                .list-group-item>a,
                .list-group-item>.link {
                    font-size: var(--typo-xs);
                    font-weight: var(--fw-medium);
                    color: var(--color-primary);
                }
                .link:hover {
                    color: var(--color-primary-light);
                }
            }
            .sub-list-group {
                >li {
                    float: none;
                }
                &>li,
                &>li a,
                &>li .link {
                    font-size: 14px;
                    font-weight: var(--fw-light);
                    line-height: 1.4em;
                }
            }
            .list-group-item {
                padding: 0.2rem 0.6rem;
            }
            .sub-list-group {
                padding-top: 0.2rem;
            }
            .sub-list-group>li {
                padding: 0.2rem 0;
                &:last-child {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
    .footer-sitemap,
    .footer-sitemap .card,
    .footer-sitemap .list-group-item {
        background-color: #f2f5ff;
    }
    .footer-bottom {
        color: var(--color-light);
        background-color: var(--color-primary-dark);
        padding: 3.5rem 0;
        .link:hover {
            color: #8bbdff;
        }
    }
    .policy {
        font-size: var(--typo-xs);
        margin-bottom: 1rem;
        .item-list>li+li {
            padding-left: 1rem;
            margin-left: 1rem;
            border-left: 1px solid var(--color-light);
        }
    }
    .copyright {
        line-height: 1.4em;
    }
}

// theme 2
.theme-2 {
    .site-footer .link:hover {
        color: #286ece;
        svg path {
            fill: #286ece;
        }
    }
    .site-footer .footer-top {
        background: var(--color-primary-dark);
        padding-top: 5rem;
        padding-bottom: 3rem;
        .title {
            margin-bottom: 1.5rem;
        }
    }
    .site-footer .footer-sitemap .card-header .btn {
        display: none;
    }
    .site-footer .brand {
        padding-right: 3rem;
        img {
            max-width: 148px;
        }
    }
    .site-footer .contact {
        padding-left: 3.2rem;
        padding-right: 1rem;
        border-left: 1px solid rgba(255, 255, 255, 0.16);
        margin-bottom: 0;
        .item-list>li {
            float: left;
            &+li {
                margin-top: 1rem;
            }
            &:not(:last-child) {
                margin-right: 1rem;
            }
        }
        .item-list .email {
            width: 100%;
        }
    }
    .site-footer .links {
        .link {
            display: block;
            font-size: var(--typo-xs);
            padding-bottom: 1rem;
            border-bottom: 1px solid var(--color-light);
            margin-bottom: 1rem;
            span {
                font-size: 16px;
                color: var(--color-primary-light);
                float: right;
            }
            &:not(.collapsed) span::before {
                content: "\e897";
            }
        }
    }
    .site-footer .social {
        .item-list {
            display: flex;
            justify-content: space-between;
            margin: 0;
            &>li {
                float: left;
                padding: 0;
                // width: calc(100% / 4);
                margin: 0;
            }
        }
        .item-list:before,
        .item-list:after {
            display: none;
        }
        .link {
            svg {
                width: 16px;
            }
            .circle-border {
                width: 34px;
                height: 34px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}

// end theme 2
// theme 3
.theme-3 {
    .site-footer {
        .brand {
            margin-bottom: 2rem;
        }
        .link {
            color: var(--color-dark);
        }
        .footer-top {
            color: var(--color-dark);
            background: #f7faff;
        }
        .footer-bottom {
            padding: 3.213rem 0;
        }
        .policy {
            margin-top: 1rem;
            margin-bottom: 0;
            .link {
                color: var(--color-light);
                &:hover {
                    color: #8bbdff;
                }
            }
        }
        .footer-stat {
            margin-top: 1.5rem;
            .table {
                border: 1px solid #d0dbff;
                margin-left: auto;
                background-color: var(--color-light);
                text-align: left;
                td {
                    color: var(--color-primary);
                    // font-size: var(--typo-s);
                    font-size: 10px;
                    padding: 0.45rem;
                }
            }
        }
        .footer-sitemap {
            .card-header {
                position: relative;
                top: initial;
                width: fit-content;
                background: var(--color-primary);
                margin: 0 auto;
                margin-top: -50px;
            }
        }
        .footer-sitemap,
        .footer-sitemap .card,
        .footer-sitemap .list-group-item {
            background-color: var(--color-light);
        }
        .contact .item-list>li {
            float: left;
            &+li {
                margin-top: 0;
                margin-left: 2rem;
            }
            a span {
                background-color: #dee6f5;
            }
        }
        .social .item-list>li {
            float: left;
            .inner {
                align-items: center;
                justify-content: center;
                width: 55px;
                height: 55px;
                border-radius: 50%;
                border: 2px solid var(--color-gray);
                transition: 0.3s;
                span {
                    position: relative;
                    right: initial;
                    top: initial;
                    bottom: initial;
                }
                svg path {
                    fill: var(--color-gray);
                    transition: 0.3s;
                }
            }
            .link:hover {
                .inner {
                    border-color: var(--color-primary);
                    svg path {
                        fill: var(--color-primary);
                    }
                }
            }
        }
        .maps .item-list {
            margin: 0;
        }
        .maps .item-list>li {
            // width: 100%;
            float: none;
            padding: 0;
            .btn {
                position: relative;
                // line-height: 135px;
                padding: 15px 20px;
                height: 135px;
                min-width: 375px;
                font-weight: var(--fw-normal);
                color: var(--color-dark);
                text-align: left;
                .inner {
                    display: flex;
                    .icon {
                        width: 104px;
                        margin-right: 15px;
                    }
                    span {
                        position: absolute;
                        right: 20px;
                        bottom: 20px;
                    }
                    .txt {
                        margin-top: 15px;
                        line-height: 1.4em;
                    }
                }
                &.btn-primary {
                    color: var(--color-light);
                }
                &:hover {
                    color: var(--color-light);
                }
            }
            &+li {
                margin-left: 0;
            }
        }
    }
}

// theme 3
@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .theme-3 .site-footer .maps .item-list>li .btn .inner .icon {
        width: 85px;
    }
    .theme-3 .site-footer .maps .item-list>li .btn {
        height: 120px;
        min-width: 350px;
    }
    .theme-3 .site-footer .maps .item-list>li {
        width: 100%;
    }
}

@media (max-width: 1199px) {
    .theme-3 .site-footer .maps .item-list>li {
        float: left;
        width: 50%;
    }
    .theme-3 .site-footer .maps {
        margin-top: 1rem;
    }
    .theme-3 .site-footer .social .item-list>li {
        width: auto;
    }
    .theme-3 .site-footer .maps .item-list>li .btn {
        min-width: 100%;
    }
}

@media (max-width: 991px) {
    .site-footer .footer-top {
        padding: 2rem 0 6rem 0;
    }
    .site-footer .footer-bottom {
        padding: 3rem 0;
    }
    .site-footer .policy,
    .site-footer .copyright {
        text-align: center;
    }
    .site-footer .policy .item-list {
        display: inline-block;
    }
    .site-footer .copyright {
        margin-bottom: 1rem;
    }
    .site-footer .w3c img {
        width: 100px;
        height: auto;
    }
    .site-footer .maps .item-list>li,
    .site-footer .social .item-list>li {
        width: 50%;
    }
    .site-footer .maps .item-list>li .btn,
    .site-footer .social .item-list>li .btn {
        min-width: 100%;
    }
    .site-footer .maps .item-list {
        margin: 0 -7.5px;
    }
    .site-footer .maps .item-list>li {
        padding: 0 7.5px;
    }
    .site-footer .maps .item-list>li+li {
        margin-left: 0;
    }
    .site-footer .footer-sitemap .card-header {
        top: -44px;
    }
    .site-footer .social .item-list>li .btn {
        padding: 12px 15px;
    }
    .theme-2 .site-footer .brand {
        padding-right: 2rem;
    }
    .theme-2 .site-footer .contact {
        padding-left: 2rem;
    }
    .theme-2 .site-footer .footer-top .desc {
        br {
            display: none;
        }
    }
    .theme-2 .site-footer .social .item-list>li {
        width: auto;
    }
    .theme-3 .site-footer .footer-sitemap .card-header {
        margin-top: -44px;
    }
}

@media (max-width: 767px) {
    .site-footer .footer-bottom {
        padding: 2rem 0;
    }
    .site-footer .contact .item-list>li+li {
        margin-top: 2rem;
    }
    .site-footer .footer-sitemap .card-body {
        padding: 2rem 0 0.5rem 0;
    }
    .site-footer .footer-sitemap .card-body .h-title {
        padding-bottom: 1rem;
        margin-bottom: 1rem;
    }
    .site-footer .footer-sitemap .card-body .sub-list-group>li:last-child {
        margin-bottom: 1rem;
    }
    .site-footer .footer-sitemap .card-header {
        top: -40px;
    }
    .site-footer .social .item-list>li .btn {
        padding: 10px 15px;
    }
    .site-footer .social .item-list>li .inner {
        align-items: center;
    }
    .site-footer .social .item-list>li .btn svg {
        width: 30px;
        height: 30px;
    }
    .site-footer .social .item-list>li .inner span {
        bottom: inherit;
    }
    .theme-2 .site-footer .footer-top {
        padding-top: 3rem;
        padding-bottom: 2rem;
    }
    .theme-2 .site-footer .contact {
        padding-left: 0;
        margin-top: 2rem;
        border: none;
    }
    .theme-3 .site-footer .contact .item-list>li {
        float: none;
    }
    .theme-3 .site-footer .contact .item-list>li+li {
        margin-top: 2rem;
        margin-left: 0;
    }
    .theme-3 .site-footer .maps .item-list>li {
        width: 100%;
    }
    .theme-3 .site-footer .footer-sitemap .card-header {
        margin-top: -40px;
    }
    .theme-3 .site-footer .social .item-list>li .inner {
        width: 48px;
        height: 48px;
    }
    .theme-3 .site-footer .social .item-list {
        margin: 0 -7px;
    }
    .theme-3 .site-footer .social .item-list>li {
        padding: 0 7px;
    }
    .theme-3 .site-footer .footer-bottom {
        padding: 2rem 0;
    }
    .theme-3 .site-footer .maps .item-list>li .btn {
        height: 100px;
    }
    .theme-3 .site-footer .maps .item-list>li .btn .inner .txt {
        margin-top: 5px;
    }
    .theme-3 .site-footer .maps .item-list>li .btn .inner .icon {
        width: 64px;
    }
    .theme-3 .site-footer .footer-top {
        padding: 2rem 0 4rem 0;
    }
}

@media (max-width: 575px) {
    .site-footer .footer-sitemap .card-body {
        text-align: center;
    }
    .site-footer .footer-sitemap .card-body .list-group .list-group-item>a,
    .site-footer .footer-sitemap .card-body .list-group .list-group-item>.link {
        display: block;
        width: fit-content;
        position: relative;
        margin: 0 auto;
    }
    .site-footer .footer-sitemap .card-body .list-group>li>a::before {
        top: 6px;
        left: -8px;
    }
    .site-footer .maps .item-list>li,
    .site-footer .social .item-list>li {
        width: 100%;
    }
    .site-footer .maps .item-list>li+li {
        margin-left: 0;
        margin-top: 15px;
    }
    .site-footer .policy .item-list>li {
        width: 100%;
    }
    .site-footer .policy .item-list>li+li {
        margin-left: 0;
        margin-top: 1rem;
        padding-top: 1rem;
        border-left: none;
        border-top: 1px solid rgba(255, 255, 255, 0.4);
    }
    .site-footer .copyright {
        font-size: 14px;
    }
    .theme-2 .site-footer .contact {
        margin-bottom: 3rem;
    }
    .theme-2 .site-footer .social .item-list {
        display: block;
    }
    .theme-2 .site-footer .social .item-list>li+li {
        margin-left: 1rem;
    }
    .theme-3 .site-footer .maps .item-list>li+li {
        margin-top: 0;
    }
}