.site-header {
    position: fixed;
    top: 0;
    width: 100%;
    // z-index: 100;
    z-index: 1052;
    height: 130px;
    background: var(--color-white);
    // background: var(--color-primary);
    border-top: 5px solid var(--color-primary);
    padding: 0.8rem 0;
    transition: 0.3s;
    .container {
        max-width: 1760px;
        width: 100%;
    }
    .brand {
        transition: all 300ms;
        max-width: 380px;
    }
    .search {
        a {
            text-decoration: none;
        }
        span {
            font-size: var(--typo-lg);
        }
    }
    .search {
        margin-left: 1rem;
        .search-toggle-modal,
        .search-toggle {
            color: var(--color-dark);
            position: relative;
            z-index: 1;
        }
        .input-group {
            position: absolute;
            right: 0;
            top: -5px;
            justify-content: end;
        }
        .form-control {
            width: 0;
            height: 40px;
            opacity: 0;
            transition: 0.3s;
        }
        .btn {
            opacity: 0;
            height: initial;
            padding: 0 0.75rem;
            line-height: 1;
            position: absolute;
            top: 0;
            bottom: 0;
            min-width: 0;
        }
        .btn.close {
            display: none;
        }
        &.show {
            .search-toggle {
                z-index: 0;
            }
            .form {
                .form-control {
                    width: 50vh;
                    opacity: 1;
                    padding-right: 5.5rem;
                }
                .btn {
                    opacity: 1;
                    min-width: auto;
                    &.btn-search {
                        margin-right: 2rem;
                    }
                    &.close {
                        display: block;
                    }
                }
            }
        }
    }
    &.tiny {
        height: 98px;
        .brand {
            max-width: 260px;
        }
        .site-header-topbar {
            transform: translateY(-100px);
            display: none;
        }
    }
}

.menu-full {
    position: fixed;
    // background: var(--color-primary);
    // background: rgba(0,0,0,.5);
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    top: 130px;
    transition: 0.5s;
    // transform: translateY(-100%);
    overflow-y: scroll;
    &.tiny {
        top: 98px;
        .dropright .dropdown-menu {
            height: calc(100vh - 98px);
        }
    }
    &.show {
        z-index: 1052;
        background: var(--color-primary);
        // transform: translateY(0);
        .main-menu {
            transform: translateX(0);
        }
    }
    .main-menu {
        position: absolute;
        // right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        width: 400px;
        // width: 470px;
        padding: 0 3rem;
        background: var(--color-light);
        color: var(--color-primary);
        transform: translateX(-100%);
        transition: 0.5s;
        .nav-list > li {
            float: none;
            & > a {
                display: block;
                font-size: var(--typo-md);
                font-weight: var(--fw-medium);
                color: var(--color-primary);
            }
            & + li {
                margin-top: 2rem;
            }
            &.show {
                & > a {
                    color: var(--color-secondary);
                }
            }
        }
        .nav-list {
            margin: 3rem 0;
        }
    }
    .dropright {
        .dropdown-menu {
            position: fixed !important;
            color: var(--color-light);
            margin-left: 400px;
            // margin-left: 470px;
            padding: 3rem 2rem;
            background: transparent;
            // background: var(--color-yellow);
            right: 0;
            border: none;
            width: calc(100vw - 400px);
            height: calc(100vh - 130px);
            border-radius: 0;
            transform: none !important;
            // transform: translateX(200%) !important;
            transition: 0.6s;
            // opacity: 0;
            &.show {
                // transform: translateX(0) !important;
            }
            .dropdown-item {
                // float: left;
                // width: 16%;
                // height: 50%;
                padding: 0 20px;
                margin-bottom: 3rem;
                // clear: none;
                & > a {
                    display: block;
                    padding-bottom: 1rem;
                    margin-bottom: 1rem;
                    border-bottom: 1px solid var(--color-light);
                    white-space: normal;
                    // height: calc(1.2em *2);
                }
                &.active {
                    background: transparent;
                    & > a {
                        border-bottom-width: 4px;
                    }
                }
                &:hover {
                    background: transparent;
                }
            }
        }
    }
    .item-list.bullet {
        & > li + li {
            margin-top: 1rem;
        }
        & > li::before {
            width: 0.31em;
            height: 0.31em;
            top: 0.6em;
            background: var(--color-light);
        }
    }
}

.site-header-topbar {
    font-size: var(--typo-s);
    font-weight: var(--fw-medium);
    color: var(--color-dark);
    margin-bottom: 1rem;
    margin-top: -1rem;
    transition: 0.3s;
    &.mobile {
        display: none;
        // background-color: var(--color-primary);
        // color: var(--color-light);
    }
    .text-color,
    .text-size {
        display: flex;
        align-items: baseline;
        .item-list {
            display: flex;
            align-items: baseline;
            margin-left: 0.5rem;
            & > li a {
                color: var(--color-dark);
            }
            & > li.active a {
                text-decoration: underline;
                border: 1px solid var(--color-gray);
                border-radius: var(--circle);
            }
        }
    }
    .text-color .theme,
    .text-size .size,
    .text-language .lg {
        width: 32px;
        height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .text-color {
        .item-list > li {
            .theme {
                font-size: 18px;
                &.theme-style-1 {
                    color: var(--color-primary);
                }
                &.theme-style-2 {
                    color: var(--color-black);
                }
                &.theme-style-3 {
                    color: var(--color-warning);
                }
            }
        }
    }
    .text-size {
        margin-left: 1rem;
        .txt {
            line-height: 1.6em;
            padding-left: 1.5rem;
            border-left: 1px solid var(--color-gray);
        }
        .item-list > li.active a {
            text-decoration: none;
        }
    }
    .text-language {
        margin-left: 1rem;
        margin-bottom: 3px;
        .item-list > li + li {
            margin-left: 0.8rem;
        }
        .item-list > li a {
            border-radius: var(--circle);
            overflow: hidden;
            filter: grayscale(1);
            &:hover {
                filter: grayscale(0.2);
            }
        }
        .item-list > li.active a {
            filter: grayscale(0);
        }
        .icon {
            width: 100%;
            height: 100%;
        }
    }
}

.site-header-main {
    .main-menu-list {
        .nav-list {
            > li a {
                display: block;
                font-size: var(--typo-xs);
                font-weight: var(--fw-medium);
                color: var(--color-dark);
                line-height: 1em;
                padding: 0.8rem 1.2rem;
                border: 2px solid transparent;
                &.active {
                    color: var(--color-primary);
                    border-color: var(--color-primary-light);
                }
            }
            > li.active {
                border: 2px solid var(--color-primary-light);
                a {
                    border: none;
                }
            }
        }
    }
    .menu {
        margin-left: 2rem;
        .menu-toggle {
            text-decoration: none;
            color: var(--color-primary);
        }
    }
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu > .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    border-radius: 0;
}

.dropdown-submenu:hover > .dropdown-menu {
    display: block;
}

.dropdown-submenu > a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover > a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left > .dropdown-menu {
    left: -100%;
    margin-left: 10px;
    border-radius: 0;
}

.dropdown-submenu .dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -1px;
}

// theme 2
.theme-2 {
    .site-header {
        border-top: none;
        background-color: transparent;
        height: 200px;
        .container {
            max-width: 1280px;
        }
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            height: 260px;
            background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.6) 100%);
            transition: all 300ms;
        }
        .search {
            margin-left: 2.5rem;
            .form-outline {
                width: 100%;
            }
            .form-control {
                color: var(--color-primary);
                width: 100%;
                border-radius: 30px;
                background-color: rgba(255, 255, 255, 0.5);
                border-color: rgba(255, 255, 255, 0.5);
                padding-right: 4.6rem;
                opacity: 1;
            }
            .input-group {
                position: relative;
                top: 0px;
            }
            .search-toggle {
                position: absolute;
                right: 15px;
                span {
                    position: relative;
                    top: 8px;
                }
            }
            span {
                font-size: var(--typo-md);
                color: var(--color-light);
            }
        }
        .search.show {
            .form .form-control {
                width: 100%;
                padding-right: 4.6rem;
            }
            .search-toggle {
                opacity: 0;
            }
        }
    }
    .site-header-topbar {
        color: var(--color-light);
        margin-top: 0.2rem;
        // margin-bottom: 1rem;
        .text-color {
            margin-left: 1rem;
        }
    }
    .site-header-topbar .text-color .item-list > li a,
    .site-header-topbar .text-size .item-list > li a {
        color: var(--color-light);
    }
    .site-header-topbar .text-color .item-list > li .theme.theme-style-1,
    .site-header-topbar .text-color .item-list > li .theme.theme-style-2,
    .site-header-topbar .text-color .item-list > li .theme.theme-style-3 {
        color: var(--color-light);
    }
    .site-header-topbar .text-color .item-list > li.active a,
    .site-header-topbar .text-size .item-list > li.active a {
        border-color: var(--color-light);
    }
    .site-header-main .main-menu-list .nav-list {
        float: none;
        display: flex;
        align-items: center;
        justify-content: space-between;
        &::before,
        &::after {
            display: none;
        }
    }
    .site-header-main .main-menu-list .nav-list > li {
        width: 100%;
    }
    .site-header-main .main-menu-list .nav-list > li a {
        font-size: var(--typo-default);
        color: var(--color-light);
        text-align: center;
        padding-left: 0;
        padding-right: 0;
        &:hover {
            border-color: var(--color-light);
        }
    }
    .site-header-main .main-menu-list .nav-list > li.active {
        border-color: var(--color-primary);
        background-color: var(--color-primary);
        > a {
            color: var(--color-light);
        }
    }
    .site-header-main .main-menu-list .nav-list > li > a.active {
        border-color: var(--color-light);
        background-color: var(--color-light);
        color: var(--color-primary);
    }
    .menu .menu-toggle .bar {
        background-color: var(--color-light);
    }
    .menu-full {
        top: 200px;
        .dropright .dropdown-menu {
            height: calc(100vh - 200px);
        }
    }
    .site-header.tiny::before {
        // height: 100px;
        height: 68px;
        backdrop-filter: blur(26px);
    }
    .site-header.blur::before {
        backdrop-filter: blur(26px);
    }
    .site-header.tiny {
        height: 74px;
        .brand {
            // transform: translateY(96px);
            position: absolute;
            width: 165px;
            top: 96px;
        }
        .site-header-topbar {
            display: block;
            margin: 0;
        }
        .search,
        .site-header-topbar .text-color,
        .site-header-topbar .text-size,
        .site-header-topbar .text-language {
            display: none;
        }
        .site-header-main {
            padding-left: 185px;
            .main-menu-list .nav-list > li a {
                font-size: 14px;
            }
            .menu {
                margin-left: 0.5rem;
            }
        }
    }
    .menu-full.tiny {
        top: 74px;
        .dropright .dropdown-menu {
            height: calc(100vh - 74px);
        }
    }
}

// end theme 2
// theme 3
.theme-3 {
    .site-header {
        height: 158px;
        &.tiny {
            height: 100px;
        }
        .search {
            .form-control {
                width: 10vw;
                opacity: 1;
                // padding-right: 5.5rem;
            }
            .input-group {
                position: relative;
                top: 0px;
            }
            .search-toggle {
                position: absolute;
                right: 15px;
                span {
                    position: relative;
                    top: 5px;
                }
            }
        }
    }
    .site-header-topbar {
        margin-top: 0.5rem;
    }
    .site-header-main .main-menu-list .nav-list > li.active a {
        background-color: var(--color-primary-light);
        color: var(--color-light);
    }
    .menu-full {
        top: 158px;
        .dropright .dropdown-menu {
            height: calc(100vh - 158px);
        }
        &.tiny {
            top: 100px;
            .dropright .dropdown-menu {
                height: calc(100vh - 100px);
            }
        }
        .dropdown-item:hover {
            background: transparent;
        }
    }
}

.menu-full .dropdown-menu .link {
    line-height: 1.4em;
    white-space: normal;
}

// end theme 3
@media (max-width: 1600px) {
    .site-header .container {
        max-width: 1440px;
    }
    .site-header .brand {
        max-width: 280px;
    }
    .site-header-topbar {
        margin-top: 0;
    }
    .site-header-main .main-menu-list .nav-list > li a {
        font-size: var(--typo-s);
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // width: 20%;
    }

    .menu-full .main-menu {
        width: 350px;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 350px;
        width: calc(100vw - 350px);
    }
}

@media (max-width: 1440px) {
    .site-header {
        height: 120px;
    }
    .site-header .menu-full {
        top: 120px;
    }
    .site-header .container {
        max-width: 1260px;
    }
    .site-header .brand {
        max-width: 220px;
    }
    .site-header-main .main-menu-list .nav-list > li a {
        padding: 0.6rem 0.8rem;
    }
    .site-header-main .menu {
        margin-left: 1rem;
    }
    .site-header-topbar .text-size {
        margin-left: 0.5rem;
    }
    .site-header-topbar .text-size .txt {
        padding-left: 1rem;
    }
    .menu .menu-toggle {
        width: 26px;
        height: 18px;
    }
    .menu-full {
        top: 120px;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // width: 25%;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // margin-bottom: 50px;
        margin-bottom: 2rem;
    }
    .menu-full .dropright .dropdown-menu {
        height: calc(100vh - 120px);
    }
    .menu-full.tiny {
        top: 84px;
    }
    .menu-full.tiny .dropright .dropdown-menu {
        height: calc(100vh - 84px);
    }
    .site-header .search.show .form .form-control {
        width: 40vh;
    }
    .site-header.tiny {
        height: 84px;
    }
    .site-header.tiny .brand {
        max-width: 200px;
    }
    .theme-2 .site-header {
        height: 164px;
    }
    .theme-2 .site-header::before {
        height: 180px;
    }
    .theme-2 .menu-full {
        top: 164px;
        .dropright .dropdown-menu {
            height: calc(100vh - 164px);
        }
    }
    .theme-3 .site-header {
        height: 140px;
    }
    .theme-3 .site-header.tiny {
        height: 76px;
    }
    .theme-3 .site-header .search .form-control {
        width: 11vw;
    }
    .theme-3 .menu-full {
        top: 140px;
        .dropright .dropdown-menu {
            height: calc(100vh - 140px);
        }
    }
    .theme-3 .menu-full.tiny {
        top: 76px;
        .dropright .dropdown-menu {
            height: calc(100vh - 76px);
        }
    }
    .menu-full .main-menu {
        width: 300px;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 300px;
        width: calc(100vw - 300px);
    }
}

@media (max-width: 1199px) {
    .site-header {
        height: 100px;
    }
    .site-header .menu-full {
        top: 100px;
    }
    .site-header .brand {
        max-width: 190px;
    }
    .site-header-topbar {
        margin-bottom: 0.5rem;
    }
    .site-header-topbar .text-color .item-list > li .theme {
        font-size: 14px;
    }
    .site-header .search .feather {
        font-size: 20px;
    }
    .site-header-main .main-menu-list .nav-list > li a {
        padding: 0.5rem;
    }
    .site-header-topbar .text-color .theme,
    .site-header-topbar .text-size .size,
    .site-header-topbar .text-language .lg {
        width: 28px;
        height: 28px;
    }
    .site-header.tiny {
        height: 78px;
    }
    .site-header.tiny .brand {
        max-width: 180px;
    }
    .menu .menu-toggle {
        width: 24px;
        height: 16px;
    }
    .menu-full {
        top: 100px;
    }
    .menu-full .main-menu {
        width: 300px;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 300px;
        width: calc(100vw - 300px);
        height: calc(100vh - 100px);
    }
    .menu-full .dropright .dropdown-menu .dropdown-item > a {
        padding-bottom: 0.6rem;
    }
    .menu-full.tiny {
        top: 78px;
    }
    .menu-full.tiny .dropright .dropdown-menu {
        height: calc(100vh - 78px);
    }
    .theme-2 .site-header {
        height: 144px;
    }
    .theme-2 .menu-full {
        top: 144px;
    }
    .theme-2 .menu-full .dropright .dropdown-menu {
        height: calc(100vh - 144px);
    }
    .theme-2 .site-header-main .main-menu-list .nav-list > li a {
        font-size: 16px;
    }
    .theme-2 .site-header.tiny .site-header-main {
        padding-left: 164px;
    }
    .theme-2 .site-header.tiny .brand {
        width: 145px;
    }
    .theme-3 .site-header {
        height: 124px;
    }
    .theme-3 .site-header .search .search-toggle span {
        top: 10px;
    }
    .theme-3 .site-header .search .form-control {
        width: 13vw;
    }
    .theme-3 .menu-full {
        top: 124px;
        .dropright .dropdown-menu {
            height: calc(100vh - 124px);
        }
    }
    .theme-3 .menu-full.tiny {
        top: 76px;
        .dropright .dropdown-menu {
            height: calc(100vh - 76px);
        }
    }
    .menu-full .main-menu {
        width: 250px;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 250px;
        width: calc(100vw - 250px);
    }
}

@media (max-width: 991px) {
    // .site-header {
    //     height: 65px;
    //     padding: 0.4rem 0;
    // }
    .site-header .menu-full {
        top: 65px;
    }
    .site-header .brand {
        max-width: 180px;
    }
    // .site-header-topbar{position: absolute;right: -100%;top: 80px;z-index: 100;transition: .5s;}
    // .site-header-topbar.show{right: 0; left: 0;}
    .site-header-main .main-menu-list {
        display: none;
    }
    .site-header .menu-full .main-menu {
        width: 100%;
    }
    .site-header-topbar {
        display: none;
    }
    // .site-header-topbar .txt {
    // 	display: none;
    // }
    // .site-header-topbar .text-color .item-list{
    // 	margin-left: 0;
    // }
    // .site-header-topbar .text-color .theme, .site-header-topbar .text-size .size, .site-header-topbar .text-language .lg {
    // 	width: 26px;
    // 	height: 26px;
    // }
    .site-header .search .input-group {
        top: -10px;
    }
    .menu-full.show {
        // top: 65px;
        top: 112px;
        // background-color: transparent;
    }
    .menu-full .dropright .dropdown-menu {
        background: var(--color-primary);
        height: calc(100vh - 112px);
        overflow: auto;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // width: 50%;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item > .item-list.bullet li {
        width: 100%;
    }
    .site-header-topbar.mobile {
        display: block;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }
    .site-header {
        height: 112px;
        padding: 0.28rem 0 0.5rem 0;
    }
    .site-header-topbar .text-language {
        margin-top: 0.2rem;
        margin-bottom: 0;
    }
    .site-header .search .input-group {
        top: 41px;
        right: -59px;
    }
    .site-header .search.show .form .form-control {
        width: 100vw;
    }
    .theme-2 .site-header {
        height: 124px;
    }
    .theme-2 .site-header::before {
        height: 124px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
    }
    .theme-2 .menu-full {
        top: 124px;
        .dropright .dropdown-menu {
            height: calc(100vh - 124px);
        }
    }
    .theme-2 .site-header.tiny .brand {
        display: none;
    }
    .theme-2 .site-header-topbar .text-color {
        margin-left: 0;
    }
    .theme-3 .site-header-topbar {
        margin-top: 0;
    }
    .theme-3 .menu-full {
        top: 114px;
        .dropright .dropdown-menu {
            height: calc(100vh - 114px);
        }
    }
    .menu-full .item-list.bullet > li::before {
        width: 0.3em;
        height: 0.3em;
        top: 0.6em;
    }
}

@media (max-width: 767px) {
    .menu-full .main-menu {
        padding: 0 2rem;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // width: 100%;
        // padding: 0 15px;
    }
    .site-header-topbar.mobile {
        .txt {
            display: none;
        }
        .text-size::before {
            content: "";
            position: absolute;
            top: 6px;
            left: 5px;
            bottom: 0;
            background-color: var(--color-gray);
            width: 1px;
            height: 70%;
        }
    }
    .site-header-topbar .text-color .theme,
    .site-header-topbar .text-size .size,
    .site-header-topbar .text-language .lg {
        width: 26px;
        height: 26px;
    }
    .site-header-topbar .text-language .item-list > li + li {
        margin-left: 0.4rem;
    }
    .site-header-topbar .text-color .item-list {
        margin-left: 0;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item {
        // height: auto;
    }
}

@media (max-width: 575px) {
    .menu-full .main-menu {
        width: 50%;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 100%;
        width: 50vw;
    }
    .menu-full.show {
        // background: transparent;
    }
    .menu-full .main-menu {
        width: 100%;
        &.hide {
            transform: translateX(-100%);
        }
    }
    .menu-full .main-menu .nav-list {
        margin: 30px 0;
    }
    .menu-full .dropright .dropdown-menu {
        margin-left: 100%;
        width: 100vw;
        padding: 30px 15px 30px 15px;
    }
}
