:root {
    --color-primary: #013f94;
    --color-primary-light: #2963ff;
    --color-secondary: #41c0f7;
    --color-success: #28a745;
    --color-info: #17a2b8;
    --color-warning: #E6C743;
    --color-yellow: #FFFF00;
    --color-danger: #dc3545;
    --color-gray: #707070;
    --color-gray-light: #D1D1D1;
    --color-light: #fff;
    --color-white: #fff;
    --color-dark: #091741; // change
    // --color-dark: #29282d;
    --color-black: #000;
    --color-default: #707070;
    --color-border: #ccc; // change
    --fw-extra-light: 200;
    --fw-light: 300;
    --fw-normal: normal;
    --fw-medium: 500;
    --fw-semi-bold: 600;
    --fw-bold: bold;
    --typo-s: 14px;
    --typo-xs: 16px;
    --typo-sm: 20px;
    --typo-md: 24px;
    --typo-lg: 30px;
    --typo-xl: 40px;
    --typo-default: 18px;
    --border-radius: 5px;
    --circle: 50%;
    // --box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    // theme 3
    --color-primary-3: #063F94;
    --color-default-3: #9D9D9D;

}

.text-primary {
    color: var(--color-primary) !important;
}

.text-primary-light {
    color: var(--color-primary-light) !important;
}

.text-secondary {
    color: var(--color-secondary) !important;
}

.text-success {
    color: var(--color-success) !important;
}

.text-info {
    color: var(--color-info) !important;
}

.text-yellow {
    color: var(--color-yellow) !important;
}

.text-warning {
    color: var(--color-warning) !important;
}

.text-danger {
    color: var(--color-danger) !important;
}

.text-gray {
    color: var(--color-gray) !important;
}

.text-light {
    color: var(--color-light) !important;
}

.text-white {
    color: var(--color-white) !important;
}

.text-dark {
    color: var(--color-dark) !important;
}

.text-black {
    color: var(--color-black) !important;
}

.text-default {
    color: var(--color-default) !important;
}

.bg-primary {
    background-color: var(--color-primary) !important;
}

.fw-extra-light {
    font-weight: var(--fw-extra-light);
}

.fw-light {
    font-weight: var(--fw-light);
}

.fw-normal {
    font-weight: var(--fw-normal);
}

.fw-medium {
    font-weight: var(--fw-medium);
}

.fw-semi-bold {
    font-weight: var(--fw-semi-bold);
}

.fw-bold {
    font-weight: var(--fw-bold);
}

.typo-s {
    font-size: var(--typo-s);
}

.typo-xs {
    font-size: var(--typo-xs);
}

.typo-sm {
    font-size: var(--typo-sm);
}

.typo-md {
    font-size: var(--typo-md);
}

.typo-lg {
    font-size: var(--typo-lg);
}

.typo-xl {
    font-size: var(--typo-xl);
}

.typo-default {
    font-size: var(--typo-default);
}