/*  start calendar  */
.icon-list-inner{
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 15px;
  left: -17px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/*  end calendar  */