/*  start calendar  */
.icon-list-inner{
  width: 0.5em;
  height: 0.5em;
  position: absolute;
  top: 15px;
  left: -17px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
/*  end calendar  */

.theme-1 .site-container {
  background: none;
}
.view-pdf {
  position: relative;
  padding-bottom: 100%;
  margin-bottom: 2em;
}
.view-pdf iframe, .view-pdf object{
  position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1199px){
.theme-3 .site-header {
    height: auto;
}
}
