nav.menu li + li {
    margin-left: 30px;
  }

/* 11/05/2022 */
@media (max-width: 1800px) {
    nav.menu li+li {
        margin-left: 30px;
    }
}

@media (max-width: 1730px) {
    .header .logo {
        width: 180px;
    }
}

@media (max-width: 1600px) {
    .header .logo {
        width: 180px;
      }
    nav.menu li+li {
        margin-left: 30px;
    }
}


@media (max-width: 1440px) {

    nav.menu li+li {
        margin-left: 17px;
    }
}

@media (max-width: 1199px) {

    nav.menu li+li {
        margin-left: 0;
        border-top: 1px solid #ebebeb;
    }
}

/* 13/05/2022 */
.default-nav-slider .link.active {
    color: #e72c3a;
    border-bottom: none;
}

.default-nav-slider .slick-current .link {
    color: #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}

.default-nav-slider .slick-current .link.active {
    color: #e72c3a;
    border-bottom: none;
}


.default-nav-slider.sub-nav-slider {
    margin: 0 -15px;
    margin-bottom: 55px;
}

.default-nav-slider.sub-nav-slider .link {
    font-weight: 600;
    text-align: center;
    color: #ffffff;
    border-bottom: none;
    position: relative;
    padding: 0 20px;
    height: 80px;
    line-height: 80px;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    background: #ccc;
    font-size: 43px;
    text-align: center;
    margin: 0 15px;
}

.default-nav-slider.sub-nav-slider .slick-current .link {
    background: #ccc;
    color: #ffffff;
}


.default-nav-slider.sub-nav-slider .link.active {
    color: #ffffff;
    background: #e72c3a;
}

.default-nav-slider.sub-nav-slider .link.active:hover {
    color: #ffffff;
}

.default-nav-slider.sub-nav-slider .slick-current .link:hover {
    color: #e72c3a;
}

.default-nav-slider.sub-nav-slider .slick-slide:before {
    display: none;
}

.sub-head {
    margin-bottom: 3rem;
}

.sub-head .font-head {
    font-style: normal;
    font-size: 48px;
    width: fit-content;
    margin: 0 auto;
    border-bottom: 5px solid #e72c3a;
    padding-bottom: .8rem;
}



@media (max-width: 1600px) {

    .default-nav-slider.sub-nav-slider .link {
        font-size: 40px;
        height: 76px;
        line-height: 76px;
    }

    .sub-head .font-head {
        font-size: 44px;
    }
}

@media (max-width: 1440px) {

    .default-nav-slider.sub-nav-slider .link {
        font-size: 36px;
        height: 70px;
        line-height: 70px;
    }

    .sub-head .font-head {
        font-size: 40px;
    }
}

@media (max-width: 1199px) {

    .default-nav-slider.sub-nav-slider .link {
        font-size: 32px;
        height: 60px;
        line-height: 60px;
    }

    .sub-head .font-head {
        font-size: 36px;
    }
}

@media (max-width: 991px) {
    .default-nav-slider.sub-nav-slider {
        margin-bottom: 50px;
    }

    .default-nav-slider.sub-nav-slider .link {
        font-size: 28px;
    }

    .sub-head {
        margin-bottom: 2rem;
    }

    .sub-head .font-head {
        font-size: 32px;
        border-bottom: 4px solid #e72c3a;
    }

}

@media (max-width: 767px) {
    .default-nav-slider.sub-nav-slider {
        margin-bottom: 30px;
    }

    .default-nav-slider.sub-nav-slider .link {
        font-size: 24px;
        height: 40px;
        line-height: 40px;
    }

    .sub-head .font-head {
        font-size: 28px;
    }
}

/* 19/05/2022 */

.i-s-s .txts {
    position: relative;
    margin-bottom: 3rem;
}
.i-s-s .tab-content .tab-pane:first-child {
    margin-bottom: 3rem;
}
.i-s-s .tab-content {
    background-color: transparent;
}
.i-s-s .tab-content .tab-pane {
    background: #f8f8f8;
}

@media (max-width: 991px) {
    .i-s-s .txts {
        margin-bottom: 2rem;
    }
    .i-s-s .tab-content .tab-pane:first-child {
        margin-bottom: 2rem;
    }
}

/* 23/05/2022 */
@media (max-width: 1800px) {
    nav.menu li+li {
        margin-left: 20px;
    }
}

@media (max-width: 1600px) {

    nav.menu li+li {
        margin-left: 20px;
    }
}


@media (max-width: 1440px) {

    nav.menu li+li {
        margin-left: 17px;
    }
}

@media (max-width: 1199px) {

    nav.menu li+li {
        margin-left: 0;
        border-top: 1px solid #ebebeb;
    }
}

nav.menu .dropdown-menu {
    min-width: 16rem;
}

.about .mid-img .image .tri02 {
    width: auto; 
}

/* 25/05/2022 */

.vision-main {
    margin-bottom: 5rem;
}