/*  start calendar  */

.icon-list-inner {
    width: 0.5em;
    height: 0.5em;
    position: absolute;
    top: 15px;
    left: -17px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
}


/*  end calendar  */

.theme-1 .site-container {
    background: none;
}

.view-pdf {
    position: relative;
    padding-bottom: 100%;
    margin-bottom: 2em;
}

.view-pdf iframe,
.view-pdf object {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@media (max-width: 1199px) {
    /* .theme-3 .site-header {
        height: auto;
    } */
}


/* ancr */

.home-notice {
    /* background-color: #f0f0f0; */
    background-color: var(--color-primary-3);
    padding: 15px 30px;
    margin: 15px 0;
    /* border-radius: 15px; */
    /* border: 1px solid #ebebeb; */
}

.home-notice .title {
    background: #ff6c00;
    color: #FFF;
    float: left;
    padding: 7px 10px;
    font: 400 normal 21px "Helvethaica Mon";
    box-sizing: border-box;
    height: 40px;
    text-align: center;
    width: 50px;
    min-width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
    overflow: hidden;
    /* width: 4.546%; */
}

.home-notice .notice-slide {
    height: 48px;
    background-color: #fff;
    margin-left: auto;
    position: relative;
    overflow: visible;
    /* border-radius: 15px; */
    /* padding: 12px 10px; */
    padding: 0 55px;
    width: 93%;
}

.home-notice .notice-slide .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    /* padding: 5px; */
    font-size: 16px;
    text-align: center;
}


/* .home-notice .notice-slide .slick-list a {
  color: #000;
} */

.home-notice .notice-slide a {
    font-size: var(--typo-xs);
    color: var(--color-primary);
    display: block;
    height: 48px;
    line-height: 48px;
}

.home-notice .notice-slide .slick-prev {
    left: 15px;
}

.home-notice .notice-slide .slick-next {
    right: 15px;
}

.home-notice .notice-slide .slick-prev,
.home-notice .notice-slide .slick-next {
    top: calc(50% - 2px);
}

.notice-search {
    margin: 20px 0 20px 0;
}

.theme-1 .main-page>div:nth-child(2) {
    padding-top: 0rem;
}

@media (max-width: 1199px) {
    .home-notice .notice-slide {
        width: 91%;
    }
}

@media (max-width: 991px) {
    .theme-1 .main-page>div:nth-child(2) {
        padding-top: 0rem;
    }
    .home-notice .notice-slide {
        /* margin-left: 12.5%; */
        width: 89%;
    }
}

@media (max-width: 767px) {
    .home-notice {
        padding: 15px 15px;
    }
    .home-notice .notice-slide {
        /* margin-left: 24%; */
        width: 90%;
        padding: 0 30px;
    }
    .home-notice .notice-slide {
        height: 44px;
    }
    .home-notice .notice-slide a {
        height: 44px;
        line-height: 44px;
    }
    .home-notice .title {
        width: 44px;
        min-width: 44px;
        height: 44px;
    }
    .home-notice .notice-slide .slick-prev {
        left: 5px;
    }
    .home-notice .notice-slide .slick-next {
        right: 5px;
    }
}

@media (max-width: 575px) {
    .home-notice .notice-slide {
        width: 86%;
    }
}

@media (max-width: 425px) {
    .home-notice .notice-slide {
        width: 84%;
    }
}

@media (max-width: 376px) {
    .home-notice .notice-slide {
        width: 80%;
    }
}

@media (max-width: 320px) {
    .home-notice .notice-slide {
        width: 79%;
    }
}


/* contact require */

.contact-page .form-default .form-group .form-input-require {
    color: red;
}


/* 2022/12/29 */

.theme-3 .top-graphic .cover::before {
    opacity: 0;
    visibility: hidden;
}


/* 2022/1/16 ohm2*/

.theme-3 .default-nav .item- a {
    padding: 0;
}

.theme-3 .default-nav .item- a {
    height: auto;
}

.theme-3 .default-nav .item- a .cover {
    padding-bottom: 160px;
}

.download-block .download-block-btn.-add .btn {
    padding: 0;
}

@media (max-width: 767px) {
    .download-block .download-block-btn {
        padding-left: 60px;
    }
}

@media (max-width: 575px) {
    .download-block .download-block-btn {
        display: table;
        line-height: 2.2em;
        padding-left: 50px;
    }
}


/****/


/* 2022/1/23 ohm2*/

@media (max-width: 1600px) {
    .theme-3 .default-nav .item- a .cover {
        padding-bottom: 120px;
    }
    .theme-3 .default-nav .topic {
        height: 120px;
    }
}

@media (max-width: 1199px) {
    .theme-3 .default-nav .item- a .cover {
        padding-bottom: 100px;
    }
    .theme-3 .default-nav .topic {
        height: 100px;
    }
    .theme-3 .default-nav .item- a::before {
        border-bottom: 4px solid var(--color-light);
    }
}

@media (max-width: 575px) {
    .theme-3 .default-nav .item- a .cover {
        width: 85%;
        margin: auto;
    }
    /* .theme-3 .default-nav .item- a .cover img {
        width: 70%;
    } */
    .theme-3 .top-graphic .cover {
        padding-bottom: 50% !important;
    }
}


/* Ck */

.about-logo-pattern a img {
    border: 1px solid #0782C1;
}


/****/


/* upload-control block | edited by ohm2 */

.form-group.-file-upload {
    margin-top: 2rem !important;
}

.-file-upload .control-label {
    font-size: var(--typo-xs);
}

.upload-control {
    width: 40%;
    padding: 25px;
    background-color: #f3f3f3;
    border: 1px dashed #707070
}

.upload-control .info .icon {
    width: 44px;
    height: 44px;
    background-color: var(--color-primary);
    border-radius: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    color: #fff;
    font-size: 24px
}

.upload-control .info .icon span {
    color: var(--color-light) Im !important;
}

.upload-control .info .inner {
    margin-left: 12px
}

.upload-control .info .title {
    margin: 0;
    font-weight: 500;
    font-size: var(--typo-xs);
    color: var(--color-dark);
    line-height: 1em;
    text-align: left;
    padding-bottom: 0.5rem;
}

.upload-control .info .title .filename {
    color: var(--color-dark) !important;
}

.upload-control .info .title::before {
    display: none;
}

.upload-control .info .title span {
    display: inline-block;
    vertical-align: top;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 160px
}

.upload-control .info .desc {
    margin: 0;
    font-weight: normal;
    font-size: var(--typo-s);
    color: #919191;
    line-height: 1em
}

.upload-control .success {
    width: 120px;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    color: #2CBF4E
}

.upload-control .success span {
    position: relative;
    top: 2px;
    margin-left: 5px
}

.upload-control .btn {
    background-color: #fff;
    min-width: 120px;
    color: #555;
    height: 40px;
    font-size: var(--typo-xs);
    color: var(--color-dark);
    display: flex;
    align-items: center;
}

.upload-control .btn:hover {
    color: #fff;
    background-color: var(--color-primary)
}

.upload-control .btn-try {
    background-color: transparent
}

.upload-control .btn-try span {
    margin-left: 10px
}

.upload-control .btn-try:hover {
    color: #555;
    background-color: rgba(255, 255, 255, 0.6)
}

@media (max-width: 767px) {
    .upload-control {
        width: 50%;
    }
}

@media (max-width: 575px) {
    .upload-control {
        width: 80%;
    }
    .form-group.-file-upload {
        margin-top: 1rem !important;
        margin-bottom: 2rem !important;
    }
}

@media (max-width: 425px) {
    .upload-control {
        width: 100%;
    }
}


/****/

/* custom tgp resposive by ohm2 */
.theme-3 .top-graphic .cover {
    padding-bottom: 32%;
}

/****/

/* 2023/04/03 */
.site-container.intro {
    margin-top: 0 !important;
}

/* 2023/08/08 */
.site-header-main .main-menu-list .nav-list > li a:lang(en) {padding-left: 0.75rem;padding-right: 0.75rem;}
@media (max-width: 1440px) {
    .site-header-main .main-menu-list .nav-list > li a:lang(en) {padding-left: 0.5rem;padding-right: 0.5rem;}
}
@media (max-width: 1199px) {
    .site-header-main .main-menu-list .nav-list > li a:lang(en) {padding-left: 0.3rem;padding-right: 0.3rem;}
}
@media (max-width: 1440px) and (min-width: 1200px) {
    .site-header .brand:lang(en) {max-width: 174px;}
}
@media (max-width: 1199px) and (min-width: 1025px) {
    .site-header .brand:lang(en) {max-width: 164px;}
}
@media (max-width: 1024px) and (min-width: 992px) {
    .site-header .brand:lang(en) {max-width: 150px;}
}