.about {
    .download-block:not(:last-child),
    .news-block:not(:last-child) {
        margin: 0;
        border-bottom: 1px solid transparent;
    }
    // .collapse-block {
    //     .download-block:nth-child(even) {
    //         border-top: 1px solid transparent !important;
    //     }
    // }
    .news-block.-video {
        padding: 0;
        .video-gallery-banner {
            position: relative;
            .cover img {
                transition: All 400ms ease;
            }
            .link {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                span {
                    position: absolute;
                    z-index: 1;
                    pointer-events: none;
                    border-radius: 50%;
                    color: var(--color-light);
                    transition: all 400ms ease-out;
                    font-size: 70px;
                    transform: translate(-50%, -50%);
                    left: 50%;
                    top: 50%;
                }
            }
            &:hover {
                .cover img {
                    transform: scale(1.1);
                }
            }
        }
        .btn {
            color: var(--color-light);
            text-align: unset;
            padding: inherit;
        }
    }
    .news-block.-video {
        margin-bottom: 3rem;
        border-bottom: 1px solid #cccccc;
        .desc {
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    .form-group {
        // margin: 0;
        .select-custom {
            .select2-container--default .select2-selection--single,
            .select2-container--option-year .select2-selection--single {
                padding: 14px 5px;
            }
        }
    }
    .tag-list {
        .item-list {
            display: flex;
            flex-wrap: wrap;
            li {
                position: relative;
                padding: 15px 20px;
                padding-left: 35px;
                border-radius: 5px;
                margin-right: 10px;
                margin-bottom: 10px;
                background-color: #ECF0F3;
                &:hover {
                    background-color: #DEE7F2;
                    .detail-hashtag {
                        text-decoration: none;
                        color: #2680EB;
                    }
                }
                .detail-hashtag {
                    font-size: var(--typo-xs);
                    color: var(--color-primary);
                    &::before {
                        content: "#";
                        font-size: var(--typo-xs);
                        position: absolute;
                        top: 50%;
                        left: 25px;
                        transform: translate(-50%, -40%);
                    }
                }
            }
        }
    }
    .item-list.procurement-process {
        margin: 0 -20px;
        li {
            width: calc(100%/3);
            padding: 20px;
            .list-wrapper {
                position: relative;
                cursor: pointer;
                overflow: hidden;
                .cover {
                    padding-bottom: 155%;
                }
                .inner {
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    background-color: rgba(9, 23, 65, .7);
                    opacity: 0;
                    transition: all ease-in-out 300ms;
                    .btn-primary {
                        background-color: var(--color-light);
                        color: var(--color-primary);
                        min-width: 180px;
                        &:hover {
                            background-color: var(--color-primary);
                            color: var(--color-light);
                        }
                    }
                }
                &:hover {
                    .inner {
                        opacity: 1;
                    }
                }
            }
        }
    }
    .search-page {
        box-shadow: 0px 3px 20px rgba(167, 198, 255, 0.3);
        border-radius: 15px;
        overflow: hidden;
        .search-bar {
            position: relative;
            background-color: var(--color-primary);
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            padding: 30px;
            box-shadow: var(--box-shadow-100);
            color: var(--color-light);
            .title {
                font-size: var(--typo-md);
                font-weight: var(--fw-semi-bold);
                color: var(--color-light);
                border-left: 9px solid #fff;
                padding: 9px 0 9px 20px;
            }
            .form-group {
                .block-control {
                    position: relative;
                    .form-control {
                        border-radius: 2px;
                    }
                    .search-icon {
                        position: absolute;
                        top: 50%;
                        right: 0;
                        transform: translate(-50%, -50%);
                        width: 20px;
                    }
                }
            }
        }
        .search-list {
            background-color: var(--color-light);
            .title {
                font-size: var(--typo-sm);
                color: var(--color-dark);
                padding: 20px 30px;
                border-bottom: 2px solid #E4E9ED;
            }
        }
        li {
            position: relative;
            width: 100%;
            padding: 30px;
            padding-bottom: 20px;
            border-bottom: 2px solid #E4E9ED;
            cursor: pointer;
            &:hover {
                background-color: #CFE0FF;
            }
            .list-inner {
                font-size: var(--typo-sm);
                .list-title,
                .list-desc,
                .list-link {
                    margin-bottom: 20px;
                }
                .list-title {
                    color: var(--color-primary);
                    font-weight: var(--fw-medium);
                }
                .list-desc {
                    color: var(--color-default);
                }
                .tag-list {
                    display: flex;
                    flex-wrap: wrap;
                    .detail-hashtag-block {
                        position: relative;
                        padding: 15px 20px;
                        padding-left: 35px;
                        border-radius: 5px;
                        margin-right: 10px;
                        margin-bottom: 10px;
                        background-color: #ECF0F3;
                        &:hover {
                            background-color: #DEE7F2;
                            .detail-hashtag-link {
                                text-decoration: none;
                                color: #2680EB;
                            }
                        }
                        .detail-hashtag-link {
                            font-size: var(--typo-xs);
                            color: var(--color-primary);
                            &::before {
                                content: "#";
                                font-size: var(--typo-xs);
                                position: absolute;
                                top: 50%;
                                left: 25px;
                                transform: translate(-50%, -40%);
                            }
                        }
                    }
                }
            }
        }
    }
    .search-filter-tab {
        .collapse-block {
            .card-header {
                background-color: transparent;
                .title-search-filter {
                    cursor: pointer;
                    margin-left: auto;
                    padding-bottom: 20px;
                    width: max-content;
                    font-size: var(--typo-sm);
                    font-weight: var(--fw-semi-bold);
                    color: var(--color-dark);
                }
            }
        }
        .form-default {
            padding-bottom: 25px;
            .control-label {
                font-size: var(--typo-sm);
            }
            .select-wrapper {
                .select2-container--default .select2-selection--single {
                    border-radius: 5px;
                }
            }
            .form-control {
                border-radius: 5px;
                color: var(--color-primary);
            }
        }
    }
    .complaint-system-form {
        .title {
            position: relative;
            font-size: var(--typo-lg);
            font-weight: var(--fw-medium);
            color: var(--color-primary);
            text-align: center;
            padding-bottom: 15px;
            margin-bottom: 30px;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                bottom: 0;
                width: 110px;
                height: 2px;
                margin: auto;
                padding-top: 5px;
                border-radius: 3px;
                background: var(--color-primary);
            }
        }
        .desc {
            margin-bottom: 30px;
        }
        .form-default {
            padding: 0;
            .form-group {
                margin-top: 20px;
                .control-label {
                    font-weight: var(--fw-medium);
                    color: var(--color-primary);
                }
                span {
                    color: red;
                }
                .select-wrapper {
                    span {
                        color: unset;
                    }
                }
            }
            .btn-primary {
                width: 40%;
            }
            .btn-primary.-cancel {
                background-color: #AEAEAE;
            }
        }
    }
}

.about.form-about {
    .h-title,
    .title {
        line-height: 1.5;
    }
    .upload-form {
        padding: 40px;
        background-color: #f2f5ff87;
        .thumb {
            .showProfile {
                position: relative;
                width: 226px;
                height: 246px;
                border: 1px solid #117FE7;
            }
        }
    }
    .form-default {
        .form-group {
            margin-top: 25px !important;
            .control-label {
                color: var(--color-primary);
                // font-size: 15px;
                font-size: var(--typo-xs);
                height: 20px;
                display: flex;
                align-items: flex-end;
                text-transform: uppercase;
            }
            .label-custom {
                white-space: nowrap;
                width: 100%;
            }
            .p-color {
                color: #4B4B4B;
            }
            .c-color {
                color: #707070;
                display: contents;
                line-height: 1.5;
            }
        }
        // .upload-documents {
        //     .form-group {
        //         margin-top: 0!important;
        //     }
        // }
        .topic {
            color: var(--color-black);
            padding: 1rem 0;
            font-size: var(--typo-xs);
            line-height: 1.5;
        }
        .-note {
            font-size: var(--typo-xs);
            color: red;
        }
        .-nm {
            margin-top: 10px !important;
        }
        .-nm.I {
            margin: 0 !important;
        }
        fieldset {
            .control-legend {
                color: var(--color-primary);
                // font-size: 15px;
                font-size: var(--typo-xs);
                height: 20px;
                display: flex;
                align-items: flex-end;
                margin-bottom: 5px;
            }
            .form-group.-nm {
                margin-top: 10px !important;
                .control-label {
                    color: #0F2852;
                }
                .-C {
                    position: absolute;
                    top: -20px;
                }
            }
        }
        .btn-form {
            width: 450px;
        }
    }
    span {
        color: red;
    }
    .emergency-case,
    .family-datails {
        .font-size-C {
            font-size: var(--typo-default) !important;
        }
    }
    .form-history {
        .font-size-C {
            // font-size: var(--typo-sm) !important;
            color: #0B2845 !important;
        }
        .font-size-C.-I {
            font-size: var(--typo-default) !important;
        }
        .txt {
            margin-top: 25px;
        }
    }
    .family-datails {
        border-top: dashed 1px #2B63FF;
        border-bottom: dashed 1px #2B63FF;
        margin-top: 40px !important;
        padding-bottom: 55px;
        // padding: 30px 0 15px 0;
        .form-set {
            padding-top: 40px;
            // &:not(:last-child) {
            //     padding-top: 40px;
            // }
        }
        .form-set.-III {
            .button {
                margin-top: 25px;
            }
        }
        .form-set.-IV {
            transition: all 200ms ease-out;
            .title {
                font-size: var(--typo-xs);
            }
        }
    }
    .form-history {
        border-bottom: dashed 1px #2B63FF;
        padding: 40px 0;
    }
}

.wg-about .link {
    opacity: 0.5;
}

.wg-about .link:hover {
    opacity: 1;
}

.wg-about .item .link .action,
.wg-about .item .action {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    padding: 15px 0;
}

.wg-about-header h3.title {
    font-size: 30px;
    padding: 4px 0;
    text-align: center;
}

.btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2a72d4;
    border: 1px solid #166b8a;
    padding: 5px 10px;
}

.btn_upload:hover,
.btn_upload:focus {
    background-color: #7ca9e6;
}

.yes {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
}

.btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
}

.it {
    height: 100px;
    margin-left: 10px;
}

.btn-rmv1,
.btn-rmv2,
.btn-rmv3,
.btn-rmv4,
.btn-rmv5 {
    display: none;
}

.rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
}

.rmv:hover {
    background: rgba(255, 0, 0, 0.5);
}

//   test
.btn_upload {
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    position: relative;
    color: #fff;
    background-color: #2a72d4;
    border: 1px solid #166b8a;
    padding: 5px 10px;
}

.btn_upload:hover,
.btn_upload:focus {
    background-color: #7ca9e6;
}

.yes {
    display: flex;
    align-items: flex-start;
    margin-top: 10px !important;
}

.btn_upload input {
    cursor: pointer;
    height: 100%;
    position: absolute;
    filter: alpha(opacity=1);
    -moz-opacity: 0;
    opacity: 0;
}

.it {
    height: 100px;
    margin-left: 10px;
}

.btn-rmv1 {
    display: none;
}

.rmv {
    cursor: pointer;
    color: #fff;
    border-radius: 30px;
    border: 1px solid #fff;
    display: inline-block;
    background: rgba(255, 0, 0, 1);
    margin: -5px -10px;
}

.rmv:hover {
    background: rgba(255, 0, 0, 0.5);
}

// .input-file-container {
//     position: relative;
//     width: 225px;
// }
.js .input-file-trigger {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    font-size: 1em;
    transition: all .4s;
    cursor: pointer;
}

.js .input-file {
    position: absolute;
    top: 0;
    left: 0;
    width: 225px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}

.js .input-file:hover+.input-file-trigger,
.js .input-file:focus+.input-file-trigger,
.js .input-file-trigger:hover,
.js .input-file-trigger:focus {
    background: #34495E;
    color: #39D2B4;
}

.file-return {
    margin: 0;
}

.file-return:not(:empty) {
    margin: 1em 0;
}

.js .file-return {
    font-style: italic;
    font-size: .9em;
    font-weight: bold;
}

.js .file-return:not(:empty):before {
    content: "Selected file: ";
    font-style: normal;
    font-weight: normal;
}

.uploadTxt-close {
    cursor: pointer;
    // display: none;
}

.uploadTxt-close.active {
    display: block;
}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .about.form-about {
        .form-default {
            .form-group {
                // margin-top: 15px !important;
            }
        }
    }
}

@media (max-width: 1199px) {
    .about.form-about {
        .emergency-case,
        .family-datails {
            .font-size-C {
                font-size: 14px !important;
            }
        }
    }
    .about {
        .search-page {
            .search-bar {
                padding: 25px;
            }
            .search-list {
                .title {
                    padding: 15px 25px;
                }
            }
            li {
                padding: 25px;
                padding-bottom: 15px;
                .list-inner {
                    .list-title,
                    .list-desc,
                    .list-link {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .gutters-custom {
        margin: 0 -7.5px;
        >div {
            padding: 0 7.5px;
        }
    }
    .about.form-about {
        .emergency-case,
        .family-datails {
            .font-size-C {
                font-size: 14px !important;
            }
        }
    }
    .about {
        .complaint-system-form {
            .form-default {
                .btn-primary {
                    width: 50%;
                }
            }
        }
        .item-list.procurement-process {
            li {
                padding: 15px;
            }
        }
    }
}

@media (max-width: 767px) {
    .gutters-custom {
        margin: 0 -5px;
        >div {
            padding: 0 5px;
        }
    }
    .about.form-about {
        .upload-form {
            padding: 20px;
        }
        .form-default {
            .form-group {
                margin-top: 20px !important;
            }
            fieldset {
                .form-group.-nm {
                    .-C {
                        top: unset;
                    }
                }
            }
            .-np {
                padding: 0;
            }
            .form-group {
                .form-check-input {
                    margin-top: 0.4em;
                }
            }
            .topic {
                padding: .5rem 0;
            }
        }
        .form-history {
            padding: 30px 0;
        }
        .family-datails {
            margin-top: 15px !important;
            padding-bottom: 30px;
            .form-set {
                padding-top: 15px;
            }
        }
    }
    .about {
        .item-list.procurement-process {
            li {
                width: calc(100%/2);
            }
        }
    }
    .about .news-block.-video .btn {
        margin-top: 15px;
    }
}

@media (max-width: 575px) {
    .add-form-1,
    .add-form-2,
    .add-form-3,
    .add-form-4 {
        margin-top: 15px;
        text-align: right;
    }
    .add-form-5 {
        text-align: right;
        margin: 15px 0;
    }
    .about.form-about {
        .form-default {
            .btn-form {
                width: 80%;
            }
            .form-group {
                margin-top: 15px !important;
            }
            .control-label {
                margin-bottom: 5px;
            }
            fieldset {
                .-nm.I {
                    margin-top: 0 !important;
                    margin-bottom: 5px !important;
                }
                .-nm.IC {
                    margin-top: 0 !important;
                }
            }
        }
        .form-history {
            padding: 20px 0;
        }
    }
    .about {
        .search-page {
            .search-bar {
                padding: 20px;
                .form-group {
                    margin-top: 20px;
                }
            }
            .search-list {
                .title {
                    padding: 15px 20px;
                }
            }
            li {
                padding: 20px;
                padding-bottom: 10px;
            }
        }
        .complaint-system-form {
            .form-default {
                .btn-primary {
                    width: 100%;
                }
            }
        }
        .search-filter-tab {
            .form-default {
                .control-label {
                    margin-bottom: 5px;
                }
                .form-group {
                    padding: 10px 0;
                }
            }
        }
        .item-list.procurement-process {
            li {
                padding: 10px;
            }
        }
    }
    .about .news-block.-video .btn {
        margin-bottom: 15px;
    }
}

@media (max-width: 375px) {
    .about.form-about {
        .form-default {
            .btn-form {
                width: 100%;
            }
            .form-group {
                .form-check-input {
                    margin-top: 0.25em;
                }
                .control-label {
                    height: auto;
                }
            }
        }
    }
    .about {
        .tag-list {
            .item-list {
                justify-content: center;
            }
        }
        .item-list.procurement-process {
            li {
                width: calc(100%/1);
            }
        }
    }
}

@media (max-width: 320px) {}