.about-us-main {
    padding-bottom: 80px;
    overflow: hidden;
    .graphic {
        position: absolute;
        z-index: 0;
        z-index: -1;
        &.-L {
            top: 90px;
            left: -145px;
        }
        &.-R {
            top: 50px;
            right: -30px;
        }
        &.-I {
            top: 50%;
            left: -380px;
        }
        &.-II {
            top: 40%;
            right: -380px;
        }
        &.-III {
            bottom: 10%;
            right: -380px;
        }
    }
}
.board.board-content {
    margin-top: 5rem;
    .items {
        row-gap: 5rem;
        padding: 0;
        .item {
            text-align: center;
            width: 100%;
            display: inline-block;
            .link {
                display: block;
                margin: 0 2.5rem;
                .cover {
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 126%;
                    .lazy {
                        transition: All 400ms ease;
                    }
                }
            }
            .link:hover .thumb .cover .lazy {
                transform: scale(1.1);
            }
            // button.cover {
            //     padding: 0;
            //     border: none;
            //     img {
            //         transition: all 400ms ease-out;
            //     }
            // }
            // button.cover:hover img {
            //     transform: scale(1.1);
            //     box-shadow: 0px 40px 40px rgba(0, 0, 0, 0.16);
            // }
            .info {
                .name {
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 1;
                    color: $blue;
                    margin-top: 2rem;
                }
                .position {
                    font-size: 30px;
                    line-height: 1.2em;
                    text-align: center;
                    color: #707070;
                    max-height: 4em;
                }
            }
        }
    }
    .modal-items {
        .modal-content {
            // border-radius: 120px 15px 90px 15px;
            border-radius: 0;
            .modal-body {
                padding: 4rem;
                .cover {
                    position: relative;
                    overflow: hidden;
                    padding-bottom: 126%;
                }
                .content {
                    text-align: left;
                    margin-left: 1rem;
                    .head {
                        background: linear-gradient(
                            90deg,
                            rgba(219, 219, 219, 1) 0%,
                            rgba(223, 223, 223, 1) 30%,
                            rgba(244, 244, 244, 1) 100%
                        );
                        padding: 1.4rem;
                        border-bottom: 5px solid #e72c3a;
                        color: #191919;
                        margin-bottom: 1rem;
                    }
                    .h-title {
                        font-size: 44px;
                        font-weight: $bold;
                        line-height: 1;
                    }
                    .s-title {
                        font-size: 30px;
                        line-height: 1;
                    }
                    .title {
                        font-size: 30px;
                        font-weight: $bold;
                        color: $blue;
                        line-height: 1;
                        margin-bottom: 1rem;
                    }
                    .desc {
                        font-size: 30px;
                        line-height: 1.2em;
                        color: #707070;
                    }
                    .sline {
                        width: 100%;
                        height: 1px;
                        background-color: #e4e4e4;
                        margin: 15px 0;
                    }
                    .line {
                        margin-top: 12px;
                        margin-bottom: 30px;
                        height: 3px;
                        width: 40px;
                        background-color: #ec1f27;
                    }
                }
                // .thumb {
                //     width: 215px;
                //     height: 215px;
                //     background-color: #fff;
                //     border: 1px solid $blue;
                //     padding: 5px;
                //     border-radius: 50%;
                // }
                // .thumb > img {
                //     width: 100%;
                //     height: 100%;
                //     object-fit: cover;
                //     object-position: center;
                //     border-radius: 50%;
                // }
            }
            .modal-footer {
                border-top: none;
                padding: 0;
                button {
                    background: $red;
                    color: #fff;
                    width: auto;
                    padding: 0 1rem;
                    min-width: auto;
                    position: absolute;
                    right: -15px;
                    top: -15px;
                }
            }
        }
    }
}
// MIN

@media (min-width: 576px) {
    .board-content .modal-dialog {
        max-width: 90%;
    }
}
@media (min-width: 1199px) {
    .board-content .modal-dialog {
        max-width: 800px;
    }
}
@media (min-width: 1440px) {
    .board-content .modal-dialog {
        max-width: 1000px;
    }
}
@media (min-width: 1600px) {
    .board-content .modal-dialog {
        max-width: 1200px;
    }
}

// MAX

@media (max-width: 1600px) {
    .board.board-content {
        .items {
            // column-gap: 4rem;
            row-gap: 4rem;
            .item {
                .info {
                    .name {
                        font-size: 34px;
                        margin-top: 1.6rem;
                    }
                    .position {
                        font-size: 28px;
                    }
                }
            }
        }
        .modal-items {
            .modal-content .modal-body .content {
                .h-title {
                    font-size: 40px;
                }
                .s-title,
                .title,
                .desc {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .board.board-content {
        .items {
            .item {
                .info {
                    .name {
                        font-size: 32px;
                        margin-top: 1.6rem;
                    }
                    .position {
                        font-size: 26px;
                    }
                }
            }
        }
        .modal-items {
            .modal-content .modal-body .content {
                .h-title {
                    font-size: 36px;
                }
                .s-title,
                .title,
                .desc {
                    font-size: 26px;
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    // .board.board-content .items .item .modal-content .modal-body .content .h-title {
    //     font-size: 44px;
    //     font-weight: 600;
    //     color: #003e88;
    //     line-height: 1;
    //     margin-top: 1rem;
    // }
    .board.board-content {
        .items {
            .item {
                .info {
                    .name {
                        font-size: 30px;
                        margin-top: 1.6rem;
                    }
                    .position {
                        font-size: 24px;
                    }
                }
            }
        }
        .modal-items {
            .modal-content .modal-body {
                padding: 3rem;
                .content {
                    .h-title {
                        font-size: 32px;
                    }
                    .s-title,
                    .title,
                    .desc {
                        font-size: 24px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .board.board-content {
        .items {
            row-gap: 3rem;
            .item {
                .link .thumb {
                    margin: 0;
                }
                .info {
                    .name {
                        font-size: 28px;
                        margin-top: 1.6rem;
                    }
                    .position {
                        font-size: 22px;
                    }
                }
            }
        }
        .modal-items {
            .modal-content .modal-body {
                padding: 3rem;
                .content {
                    .h-title {
                        font-size: 30px;
                    }
                    .s-title,
                    .title,
                    .desc {
                        font-size: 22px;
                    }
                    .title {
                        margin-bottom: 0.6rem;
                    }
                    .head {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .board-content .modal-dialog {
        margin: 1.5rem;
    }
    .board.board-content .modal-items .modal-content .modal-body {
        padding: 2rem;
        .thumb {
            margin: 0 auto;
        }
        .content {
            .h-title,
            .s-title {
                text-align: center;
            }
            .line {
                height: 2px;
                margin: 20px auto;
            }
        }
    }
    .board.board-content {
        .items {
            .item {
                .link {
                    margin: 0;
                }
                .info {
                    .name {
                        font-size: 26px;
                        margin-top: 1rem;
                    }
                    .position {
                        font-size: 20px;
                    }
                }
            }
        }
        .modal-items {
            .modal-content .modal-body {
                padding: 2rem;
                .content {
                    margin-left: 0;
                    .h-title {
                        font-size: 28px;
                    }
                    .s-title,
                    .title,
                    .desc {
                        font-size: 20px;
                    }
                    .title {
                        margin-bottom: 0.6rem;
                    }
                    .head {
                        padding: 1rem;
                    }
                }
            }
        }
    }
}
@media (max-width: 575px) {
    .board.board-content .items .item .modal-content .modal-body {
        padding: 1.4rem;
    }
    .board.board-content .items .item .modal-content .modal-body .thumb img {
        width: 100%;
    }
}
