.all-history {
	.line {
		border-bottom: solid;
		color: crimson;
		margin-top: 50px;
		left: 50%;
		margin-left: -50vw;
		margin-right: -50vw;
		max-width: 100vw;
		position: relative;
		right: 50%;
		width: 100vw;
	}
	.info2 {
		position: relative;
		.list3,
		.list4 {
			font-size: 30px;
			padding-left: 1.2rem;
			font-weight: 400;
		}
		.list3 {
			color: #888787;
		}
		.list4 {
			color: #ffffff;
			text-shadow: 2px 0 black;
		}
		.list3::before,
		.list4::before {
			content: "";
			position: absolute;
			top: 12px;
			left: 0;
			width: 11px;
			height: 11px;
			background-color: #e72c3a;
			border-radius: 50%;
		}
	}
	.hsh-title {
		font-size: 45px;
		line-height: 1em;
		color: #d70000;
		font-weight: bold;
		font-style: italic;
	}

	.hsh1-title {
		font-size: 30px;
		line-height: 1.2em;
		text-align: left;
		color: #888787;
		font-style: italic;
		position: relative;
		font-weight: 400;
	}

	.font-head1 {
		font-size: 120px;
		font-weight: 600;
		line-height: 1em;
		color: #003e88;
		font-style: italic;
		margin-bottom: 2rem;
		margin-top: 3rem;
	}
	.effect1 {
		position: absolute;
	}

	.effect2 {
		position: absolute;
	}

	.effect3 {
		position: absolute;
	}
	.header1 {
		background-size: contain;
		background-position: bottom;
		background-repeat: no-repeat;
	}
	.header2 {
		background-size: cover;
		background-position: bottom;
		background-repeat: no-repeat;
		// position: relative;
		padding-bottom: 170px;
		margin-bottom: -80px;
	}
	// .backg {
	// 	left: 50%;
	// 	margin-left: -50vw;
	// 	margin-right: -50vw;
	// 	max-width: 100vw;
	// 	position: absolute;
	// 	right: 50%;
	// 	width: 100vw;
	// }
	.backg {
		background-image: url(../img/sun/history7.jpg);
		position: absolute;
		background-repeat: no-repeat;
		background-position: center;
		left: 0;
		right: 0;
		padding-bottom: 1200px;
		z-index: -1;
	}
}

@media (max-width: 1600px) {
	.all-history {
		.hsh-title {
			font-size: 42px;
		}
		.hsh1-title,
		.info2 .list3,
		.info2 .list4 {
			font-size: 28px;
		}
		.font-head1 {
			font-size: 100px;
		}
		.backg {
			padding-bottom: 1160px;
		}
		.info2 {
			.list3::before,
			.list4::before {
				top: 10px;
			}
		}
	}
}
@media (max-width: 1440px) {
	.all-history {
		.hsh-title {
			font-size: 38px;
		}
		.hsh1-title,
		.info2 .list3,
		.info2 .list4 {
			font-size: 26px;
		}
		.font-head1 {
			font-size: 80px;
		}
		.backg {
			padding-bottom: 1086px;
		}
		.info2 {
			.list3::before,
			.list4::before {
				width: 10px;
				height: 10px;
			}
		}
	}
}
@media (max-width: 1199px) {
	.all-history {
		.hsh-title {
			font-size: 34px;
		}
		.hsh1-title,
		.info2 .list3,
		.info2 .list4 {
			font-size: 24px;
		}
		.font-head1 {
			font-size: 60px;
		}
		.backg {
			padding-bottom: 850px;
		}
		.header2 {
			padding-bottom: 120px;
		}
		.info2 {
			.list3::before,
			.list4::before {
				top: 8px;
			}
		}
	}
}
@media (max-width: 991px) {
	.all-history {
		.hsh-title {
			font-size: 30px;
		}
		.hsh1-title,
		.info2 .list3,
		.info2 .list4 {
			font-size: 22px;
		}
		.font-head1 {
			font-size: 50px;
		}
		.backg {
			padding-bottom: 815px;
			background-size: contain;
		}
		.info2 {
			.list3::before,
			.list4::before {
				width: 8px;
				height: 8px;
			}
		}
	}
}
@media (max-width: 767px) {
	.all-history {
		.hsh-title {
			font-size: 28px;
		}
		.hsh1-title,
		.info2 .list3,
		.info2 .list4 {
			font-size: 20px;
			margin-top: 1rem;
		}

		.font-head1 {
			font-size: 40px;
			margin-top: 2rem;
			margin-bottom: 1rem;
		}
		.backg {
			padding-bottom: 100%;
			background-size: contain;
			bottom: -96px;
		}
	}
}
@media (max-width: 575px) {
	.all-history {
		.info2 .list4 {
			color: #191919;
			text-shadow: 2px 0 #ffffff;
		}
	}
}
@media (max-width: 375px) {
	.all-history {
		.info2 .list4 {
			color: #888787;
			text-shadow: 2px 0 #ffffff;
		}
	}
}
