.all-os {
  position: relative;
  .row {
    position: relative;
    justify-content: center;
    &.-III {
      column-gap: 2rem;
    }
    &.-V {
      position: relative;
      .box-os8 {
        position: absolute;
        right: 0;
        width: 280px;
      }
    }
  }
  .row.-III::before,
  .row.-VII::before {
    content: "";
    position: absolute;
    height: 3px;
    top: -36px;
    left: 102px;
    background-color: #c7c7c7;
  }
  .row.-III::before {
    width: 922px;
    left: 146px;
  }
  .row.-VII::before {
    left: 299px;
    width: 607px;
  }
  .row.-VII {
    justify-content: space-around;
  }
  .effect4 {
    position: absolute;
  }
  .effect5 {
    position: absolute;
  }
  .effect6 {
    position: absolute;
  }
  .effect7 {
    position: absolute;
    left: 1140px;
  }
  .effect8 {
    position: absolute;
    left: 1345px;
    top: 1060px;
  }
  .box-os- {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box-os::before {
    content: "";
    right: 50%;
    top: 100px;
    position: absolute;
    width: 3px;
    height: 744px;
    background-color: #c7c7c7;
  }
  .box-os-::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 34px;
    left: 50%;
    top: -34px;
    background-color: #c7c7c7;
    z-index: -1;
  }
  .box-os- {
    &.box-os1::before {
      height: 3px;
      width: 229px;
      top: 50%;
      left: auto;
      right: -228px;
    }
    &.box-os5::before {
      height: 422px;
    }
    &.box-os4::before,
    &.box-os6::before,
    &.box-os7::before,
    &.box-os8::before {
      display: none;
    }
    &.box-os9::before {
      height: 3px;
      width: 65px;
      top: 50%;
      left: -34px;
    }
  }
  .font- {
    padding: 0.8rem;
    margin-bottom: 0;
  }
  .font-01 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2em;
    color: #ffffff;
  }
  .font-02 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2em;
    color: #414141;
  }
  .font-03 {
    font-size: 22px;
    font-weight: 600;
    line-height: 1.2em;
    color: #ffffff;
  }
  .font-04 {
    font-size: 25px;
    font-weight: 600;
    line-height: 1.2em;
    color: #ffffff;
  }
  .font-05 {
    font-size: 36px;
    font-weight: 600;
    line-height: 1.2em;
    color: #ffffff;
  }
  .font-06 {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.2em;
    color: #191919;
  }
  .font-07 {
    font-size: 36px;
    font-weight: 300;
    line-height: 1.2em;
    color: #414141;
  }
  .box-os {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    position: relative;
    // margin-inline: 570px;
    width: 457px;
    height: 99px;
    margin-bottom: 2rem;
    background-color: #053e88;
  }
  // .box-os::after {
  //   content: "";
  //   right: 50%;
  //   // top: 100px;
  //   position: absolute;
  //   width: 3px;
  //   height: 745px;
  //   background-color: #c7c7c7;
  // }
  // .box-os2::after {
  //   content: "";
  //   right: 50%;
  //   // bottom: 106px;
  //   position: absolute;
  //   width: 3px;
  //   height: 48px;
  //   background-color: #c7c7c7;
  // }
  // .box-os3::after {
  //   content: "";
  //   right: 50%;
  //   // bottom: 106px;
  //   position: absolute;
  //   width: 3px;
  //   height: 48px;
  //   background-color: #c7c7c7;
  // }
  // .box-os5::after {
  //   content: "";
  //   // right: 50%;
  //   // bottom: 106px;
  //   position: absolute;
  //   width: 3px;
  //   height: 48px;
  //   background-color: #c7c7c7;
  // }
  // .box-os8::after {
  //   content: "";
  //   // right: 50%;
  //   // bottom: 79px;
  //   position: absolute;
  //   width: 3px;
  //   height: 275px;
  //   background-color: #c7c7c7;
  // }
  // .box-os10::after {
  //   content: "";
  //   right: 49%;
  //   bottom: 79px;
  //   position: absolute;
  //   width: 3px;
  //   height: 54px;
  //   background-color: #c7c7c7;
  // }
  // .box-os11::after {
  //   content: "";
  //   right: 49%;
  //   bottom: 79px;
  //   position: absolute;
  //   width: 3px;
  //   height: 52px;
  //   background-color: #c7c7c7;
  // }
  .box-os1 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 189px;
    // height: 79px;
    margin-bottom: 4rem;
    margin-right: 40.5rem;
    background-color: #f3f4f5;
    // right: 190px;
    // bottom: 55px;
  }
  // .box-os1::before {
  //   content: "";
  //   position: absolute;
  //   width: 230px;
  //   height: 3px;
  //   top: 40px;
  //   left: 187px;
  //   background-color: #c7c7c7;
  // }
  // .box-os2::before {
  //   content: "";
  //   position: absolute;
  //   width: 1120px;
  //   height: 2px;
  //   bottom: 152px;
  //   background-color: #c7c7c7;
  //   left: 100px;
  // }
  // .box-os10::before {
  //   content: "";
  //   position: absolute;
  //   width: 700px;
  //   height: 2px;
  //   bottom: 130px;
  //   background-color: #c7c7c7;
  //   left: 185px;
  // }
  // .box-os9::before {
  //   content: "";
  //   position: absolute;
  //   width: 175px;
  //   height: 3px;
  //   top: 40px;
  //   background-color: #c7c7c7;
  //   right: 175px;
  // }
  .box-os2 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 200px;
    height: 106px;
    margin-bottom: 5rem;
    background-color: #053e88;
    // bottom: 40px;
    // right: 450px;
  }
  .box-os3 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 200px;
    height: 106px;
    margin-bottom: 5rem;
    background-color: #053e88;
    // bottom: 226px;
    // right: 150px;
  }
  .box-os4 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 200px;
    height: 106px;
    margin-bottom: 5rem;
    background-color: #053e88;
    // bottom: 412px;
    // left: 125px;
    margin-right: 14rem;
  }
  .box-os5 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 200px;
    height: 106px;
    margin-bottom: 5rem;
    background-color: #053e88;
    // bottom: 598px;
    // left: 670px;
  }
  .box-os6 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 275px;
    height: 79px;
    margin-bottom: 5rem;
    background-color: #cccccc;
    // bottom: 598px;
    // left: 90px;
  }
  .box-os7 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 336px;
    height: 79px;
    margin-bottom: 5rem;
    background-color: #cccccc;
    // bottom: 598px;
    // left: 57px;
  }
  .box-os8 {
    text-align: center;
    // position: absolute;
    // top: 650px;
    // right: 0;
    // margin-inline: 570px;
    // width: 336px;
    height: 79px;
    margin-bottom: 2rem;
    background-color: #f3f4f5;
    // bottom: 720px;
    // left: 610px;
  }
  .box-os9 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 189px;
    height: 79px;
    margin-bottom: 2rem;
    margin-left: 16rem;
    // bottom: 820px;
    // left: 390px;
  }
  .box-os10 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    width: 363px;
    height: 79px;
    margin-bottom: 5rem;
    // bottom: 820px;
    // right: 305px;
    background-color: #f0f0f0;
  }
  .box-os11 {
    text-align: center;
    position: relative;
    // margin-inline: 570px;
    // width: 363px;
    // height: 79px;
    width: auto;
    height: auto;
    margin-bottom: 5rem;
    // bottom: 980px;
    // left: 395px;
    background-color: #f0f0f0;
  }
  .container1 {
    text-align: center;
  }
  .font-but {
    font-size: 30px;
    font-weight: 300;
    line-height: 1.2em;
    color: #e72c3a;
    position: relative;
    // left: 700px;
    width: 200px;
    height: 60px;
    border-radius: 30px;
    background-color: #ffffff;
    border-color: #e72c3a;
  }
  .but {
    font-size: 30px;
    position: relative;
    // bottom: 1000px;
    background-color: #ffffff;
    border-color: #e72c3a;
    border-radius: 30px;
    width: 200px;
    height: 60px;
  }
  .tree {
    margin: 0 auto;
    width: 1180px;
    height: fit-content; // margin-bottom: 250px;
  }
  .picture-bottom {
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    max-width: 100vw;
    position: relative;
    right: 50%;
    width: 100vw;
    margin-bottom: -80px;
  }
}

@media (max-width: 1600px) {
  .all-os .font-01 {
    font-size: 46px;
  }
  .all-os .font-02,
  .all-os .font-07 {
    font-size: 34px;
  }
  .all-os .font-03 {
    font-size: 22px;
  }
  .all-os .font-04 {
    font-size: 24px;
  }
  .all-os .font-05 {
    font-size: 34px;
  }
  .all-os .font-06 {
    font-size: 30px;
  }
  .all-os .font-but {
    font-size: 30px;
  }
  .all-os .box-os,
  .all-os .box-os- {
    height: auto;
  }
  .all-os .box-os::before {
    top: 81px;
    height: 623px;
  }
  .all-os .box-os7 {
    margin-bottom: 0rem;
  }
  .all-os .box-os9 {
    margin-bottom: 2.4rem;
  }
  .all-os .box-os8 {
    // top: 580px;
    width: auto;
  }
  // .all-os .box-os {
  //   width: 457px;
  //   height: 99px;
  // }
  // .all-os .box-os1 {
  //   width: 189px;
  //   height: 79px;
  // }
  // .all-os .box-os2 {
  //   width: 200px;
  //   height: 106px;
  // }
  // .all-os .box-os3 {
  //   width: 200px;
  //   height: 106px;
  // }
  // .all-os .box-os4 {
  //   width: 200px;
  //   height: 106px;
  // }
  // .all-os .box-os5 {
  //   width: 200px;
  //   height: 106px;
  // }
  // .all-os .box-os6 {
  //   width: 275px;
  //   height: 79px;
  // }
  // .all-os .box-os7 {
  //   width: 336px;
  //   height: 79px;
  // }
  // .all-os .box-os8 {
  //   width: 336px;
  //   height: 79px;
  // }
  // .all-os .box-os9 {
  //   width: 189px;
  //   height: 79px;
  // }
  // .all-os .box-os10 {
  //   width: 363px;
  //   height: 79px;
  // }
  // .all-os .box-os11 {
  //   width: 363px;
  //   height: 79px;
  // }
  .all-os .row.-III::before {
    width: 922px;
    left: 145px;
  }
  .all-os .row.-VII::before {
    left: 303px;
    width: 608px;
  }
}
@media (max-width: 1440px) {
  .all-os .font-01 {
    font-size: 42px;
  }
  .all-os .font-02,
  .all-os .font-07 {
    font-size: 32px;
  }
  .all-os .font-03 {
    font-size: 20px;
  }
  .all-os .font-04 {
    font-size: 22px;
  }
  .all-os .font-05 {
    font-size: 32px;
  }
  .all-os .font-06 {
    font-size: 28px;
  }
  .all-os .font-but {
    font-size: 28px;
  }
  .all-os .box-os::before {
    top: 76px;
    height: 610px;
  }
  .all-os .row.-VII::before {
    left: 309px;
  }
  // .all-os .box-os {
  //   width: 440px;
  //   height: 99px;
  //   right: 75px;
  // }
  // .all-os .box-os1 {
  //   width: 172px;
  //   height: 79px;
  //   right: 155px;
  // }
  // .all-os .box-os1::before {
  //   left: 171px;
  //   width: 126px;
  // }
  // .all-os .box-os2 {
  //   width: 183px;
  //   height: 106px;
  //   right: 390px;
  // }
  // .all-os .box-os2::before {
  //   left: 89px;
  //   width: 870px;
  // }
  // .all-os .box-os3 {
  //   width: 183px;
  //   height: 106px;
  //   right: 175px;
  // }
  // .all-os .box-os4 {
  //   width: 183px;
  //   height: 106px;
  //   left: 50px;
  // }
  // .all-os .box-os5 {
  //   width: 183px;
  //   height: 106px;
  //   left: 480px;
  // }
  // .all-os .box-os6 {
  //   width: 258px;
  //   height: 79px;
  //   left: 10px;
  // }
  // .all-os .box-os7 {
  //   width: 319px;
  //   height: 79px;
  //   left: -25px;
  // }
  // .all-os .box-os8 {
  //   width: 319px;
  //   height: 79px;
  //   left: 410px;
  // }
  // .all-os .box-os9 {
  //   width: 172px;
  //   height: 79px;
  //   left: 265px;
  // }
  // .all-os .box-os9::before {
  //   width: 150px;
  //   right: 145px;
  // }
  // .all-os .box-os10 {
  //   width: 346px;
  //   height: 79px;
  //   right: 360px;
  // }
  // .all-os .box-os10::before {
  //   left: 175px;
  //   width: 605px;
  // }
  // .all-os .box-os11 {
  //   width: 346px;
  //   height: 79px;
  //   left: 245px;
  // }
}
@media (max-width: 1199px) {
  .all-os .font-01 {
    font-size: 38px;
  }
  .all-os .font-02,
  .all-os .font-07 {
    font-size: 30px;
  }
  .all-os .font-03 {
    font-size: 20px;
  }
  .all-os .font-04 {
    font-size: 22px;
  }
  .all-os .font-05 {
    font-size: 30px;
  }
  .all-os .font-06 {
    font-size: 26px;
  }
  .all-os .font-but {
    font-size: 26px;
  }
  .all-os .wrapper {
    overflow-x: scroll;
  }
  .all-os .box-os::before {
    top: 71px;
    height: 596px;
  }
  .all-os .row.-VII::before {
    left: 314px;
  }
  .all-os .box-os-.box-os5::before {
    height: 350px;
  }
  // .all-os .box-os {
  //   width: 423px;
  //   height: 99px;
  //   right: 185px;
  // }
  // .all-os .box-os1 {
  //   width: 155px;
  //   height: 79px;
  //   right: 365px;
  // }
  // .all-os .box-os1::before {
  //   left: 155px;
  //   width: 235px;
  // }
  // .all-os .box-os2 {
  //   width: 166px;
  //   height: 106px;
  //   right: 500px;
  // }
  // .all-os .box-os2::before {
  //   left: 80px;
  //   width: 840px;
  // }
  // .all-os .box-os3 {
  //   width: 166px;
  //   height: 106px;
  //   right: 265px;
  // }
  // .all-os .box-os4 {
  //   width: 166px;
  //   height: 106px;
  //   left: -59px;
  // }
  // .all-os .box-os5 {
  //   width: 166px;
  //   height: 106px;
  //   left: 340px;
  // }
  // .all-os .box-os6 {
  //   width: 241px;
  //   height: 79px;
  //   left: -99px;
  // }
  // .all-os .box-os7 {
  //   width: 302px;
  //   height: 79px;
  //   left: -131px;
  // }
  // .all-os .box-os8 {
  //   width: 302px;
  //   height: 79px;
  //   left: 275px;
  // }
  // .all-os .box-os9 {
  //   width: 155px;
  //   height: 79px;
  //   left: 140px;
  // }
  // .all-os .box-os9::before {
  //   width: 125px;
  //   right: 145px;
  // }
  // .all-os .box-os10 {
  //   width: 329px;
  //   height: 79px;
  //   right: 500px;
  // }
  // .all-os .box-os10::before {
  //   left: 165px;
  // }
  // .all-os .box-os11 {
  //   width: 329px;
  //   height: 79px;
  //   left: 105px;
  // }
}
@media (max-width: 991px) {
  .all-os .font-01 {
    font-size: 36px;
  }
  .all-os .font-02,
  .all-os .font-07 {
    font-size: 26px;
  }
  .all-os .font-03 {
    font-size: 20px;
  }
  .all-os .font-04 {
    font-size: 22px;
  }
  .all-os .font-05 {
    font-size: 28px;
  }
  .all-os .font-06 {
    font-size: 24px;
  }
  .all-os .font-but {
    font-size: 24px;
  }
  .all-os .row.-VII::before {
    left: 314px;
  }
  .all-os .box-os::before {
    top: 77px;
    height: 593px;
  }
  .all-os .box-os-.box-os5::before {
    height: 360px;
  }
  .all-os .row.-VII::before {
    left: 320px;
  }
  .all-os .box-os::before {
    top: 68px;
    height: 562px;
  }
  .all-os .but {
    width: auto;
    height: auto;
  }
  .all-os .font-but {
    width: auto;
    height: auto;
  }
  // .all-os .font-but {
  //   font-size: 24px;
  // }
  // .all-os .box-os {
  //   width: 406px;
  //   height: 99px;
  //   right: 290px;
  // }
  // .all-os .box-os1 {
  //   width: 138px;
  //   height: 79px;
  //   right: 375px;
  // }
  // .all-os .box-os1::before {
  //   left: 140px;
  //   width: 145px;
  // }
  // .all-os .box-os2 {
  //   width: 149px;
  //   height: 106px;
  //   right: 510px;
  // }
  // .all-os .box-os2::before {
  //   left: 75px;
  //   width: 655px;
  // }
  // .all-os .box-os3 {
  //   width: 149px;
  //   height: 106px;
  //   right: 338px;
  // }
  // .all-os .box-os4 {
  //   width: 149px;
  //   height: 106px;
  //   left: -165px;
  // }
  // .all-os .box-os5 {
  //   width: 149px;
  //   height: 106px;
  //   left: 148px;
  // }
  // .all-os .box-os6 {
  //   width: 224px;
  //   height: 79px;
  //   left: -205px;
  // }
  // .all-os .box-os7 {
  //   width: 285px;
  //   height: 79px;
  //   left: -235px;
  // }
  // .all-os .box-os8 {
  //   width: 285px;
  //   height: 79px;
  //   left: 80px;
  // }
  // .all-os .box-os9 {
  //   width: 138px;
  //   height: 79px;
  //   left: 0px;
  // }
  // .all-os .box-os9::before {
  //   width: 105px;
  //   right: 120px;
  // }
  // .all-os .box-os10 {
  //   width: 312px;
  //   height: 79px;
  //   right: 490px;
  // }
  // .all-os .box-os10::before {
  //   left: 158px;
  //   width: 480px;
  // }
  // .all-os .box-os11 {
  //   width: 312px;
  //   height: 79px;
  //   left: -10px;
  // }
}
@media (max-width: 797px) {
  .all-os .font-01 {
    font-size: 32px;
  }
  .all-os .font-02,
  .all-os .font-07 {
    font-size: 24px;
  }
  .all-os .font-03 {
    font-size: 20px;
  }
  .all-os .font-04 {
    font-size: 22px;
  }
  .all-os .font-05 {
    font-size: 26px;
  }
  .all-os .font-06 {
    font-size: 22px;
  }
  .all-os .font-but {
    font-size: 22px;
  }
  .all-os .box-os::before {
    top: 64px;
    height: 552px;
  }
  .all-os .row.-VII::before {
    left: 325px;
  }
  // .all-os .box-os {
  //   width: 389px;
  //   height: 99px;
  //   right: 370px;
  // }
  // .all-os .box-os1 {
  //   width: 121px;
  //   height: 79px;
  //   right: 427px;
  // }
  // .all-os .box-os1::before {
  //   left: 120px;
  //   width: 130px;
  // }
  // .all-os .box-os2 {
  //   width: 132px;
  //   height: 106px;
  //   right: 545px;
  // }
  // .all-os .box-os2::before {
  //   left: 65px;
  //   width: 570px;
  // }
  // .all-os .box-os3 {
  //   width: 132px;
  //   height: 106px;
  //   right: 400px;
  // }
  // .all-os .box-os4 {
  //   width: 132px;
  //   height: 106px;
  //   left: -245px;
  // }
  // .all-os .box-os5 {
  //   width: 132px;
  //   height: 106px;
  //   left: 25px;
  // }
  // .all-os .box-os6 {
  //   width: 207px;
  //   height: 79px;
  //   left: -280px;
  // }
  // .all-os .box-os7 {
  //   width: 268px;
  //   height: 79px;
  //   left: -310px;
  // }
  // .all-os .box-os8 {
  //   width: 268px;
  //   height: 79px;
  //   left: -41px;
  // }
  // .all-os .box-os9 {
  //   width: 121px;
  //   height: 79px;
  //   left: -90px;
  // }
  // .all-os .box-os9::before {
  //   width: 100px;
  //   right: 110px;
  // }
  // .all-os .box-os10 {
  //   width: 295px;
  //   height: 79px;
  //   right: 545px;
  // }
  // .all-os .box-os10::before {
  //   left: 150px;
  //   width: 445px;
  // }
  // .all-os .box-os11 {
  //   width: 295px;
  //   height: 79px;
  //   left: -100px;
  // }
}
