.vision {
    .vision-main {
        .txt {
            font-size: 30px;
            color: #414141;
            font-style: italic;
            line-height: 1.2em;
            margin-top: 50px;
        }
    }
}

@media (max-width:1600px) {
    .vision {
        .vision-main {
            .txt {
                font-size: 30px;
            }
        }
    }
}

@media (max-width:1440px) {
    .vision {
        .vision-main {
            .txt {
                font-size: 28px;
            }
        }
    }
}

@media (max-width:1199px) {
    .vision {
        .vision-main {
            .txt {
                font-size: 26px;
            }
        }
    }
}

@media (max-width:991px) {
    .vision {
        .vision-main {
            .txt {
                font-size: 24px;
            }
        }
    }
}

@media (max-width:767px) {
    .vision {
        .vision-main {
            .txt {
                font-size: 20px;
                margin-top: 50px;
            }
        }
    }
}