/*accident-insurance*/
.accident-insurance {
    .detail {
        background-color: #fcfcfc;
        margin-top: 2rem;
        padding: 3rem;
        .detailI-items {
            font-size: 45px;
            color: #003e88;
            font-weight: bold;
        }

        .detailII {
            font-size: 30px;
            color: #29282d;
            line-height: 1;
        }

        .detailIII {
            margin-top: 10px;
            font-size: 30px;
            color: #29282d;
            margin-top: 20px;
            line-height: 1.2em;
        }

        .bullet {
            margin-top: 30px;
            font-size: 35px;
            color: #29282d;
            line-height: 1.2em;
            font-weight: 500;
            ul {
                padding: 0;
                li {
                    list-style: none;
                    counter-reset: li;
                    padding-left: 1.6rem;
                    position: relative;
                }
                li:before {
                    content: "•";
                    color: #e72c3a;
                    position: absolute;
                    width: 0.6em;
                    font-size: 45px;
                    left: 0;
                }
            }
        }
    }
    .table {
        font-size: 30px;
        margin-bottom: 4rem;
        display: inline-block;
        overflow: auto;
        .table-accident {
            width: 100%;
            overflow: auto;
            border-bottom: 1px solid #d7d7d7;
            .table-accidentI {
                color: #ffffff;
                .table-accidentI-items {
                    padding: 20px;
                    background-color: #053e88;
                }
                .table-accidentI-itemsI {
                    text-align: center;
                    background-color: #053e88;
                }
            }
            tr,
            td {
                border-left: 1px solid #d7d7d7;
                border-right: 1px solid #d7d7d7;
                border-top: none;
            }
            tbody tr:nth-child(even) {
                background-color: #f0f0f0;
            }
            .table-accidentII {
                text-align: left;
                line-height: 1.2em;

                .items {
                    padding: 20px;
                }

                .itemsI {
                    text-align: center;
                }

                .txtI {
                    text-align: center;
                    background-color: #f0f0f0;
                }
            }
        }
    }

    .picture-full img {
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
    }

    .picture-coverI {
        margin-top: 50px;
    }

    .detailIV {
        .picture-cover {
            margin-top: 120px;
        }
    }

    .detailV {
        margin-top: 3rem;
        background: #fcfcfc;
        margin-bottom: 2rem;
        position: relative;
        .font-headII {
            background: #053e88;
            padding: 1rem 3rem;
            color: #ffffff;
            .items {
                font-size: 45px;
                padding-top: 10px;
                font-weight: $bold;
            }
        }

        .bulletI {
            ul {
                padding: 3rem;
                font-size: 30px;
                color: #29282d;
                line-height: 1.2em;
                margin-bottom: 0;
            }
            li {
                list-style: none;
                counter-reset: li;
                position: relative;
                padding-left: 1.6rem;
            }
            li:not(:last-child) {
                margin-bottom: 0.6rem;
            }
            li:before {
                content: "•";
                color: #e72c3a;
                position: absolute;
                width: 0.6em;
                font-size: 45px;
                left: 0;
            }
        }
        .graphic-bm {
            position: absolute;
            bottom: 0;
            right: 0;
            img {
                width: 200px;
            }
        }
    }
}

@media (max-width: 1600px) {
    .accident-insurance {
        .detail {
            .detailI-items {
                font-size: 40px;
            }
            .detailII,
            .detailIII {
                font-size: 28px;
            }
            .bullet {
                font-size: 30px;
            }
        }
        .table {
            font-size: 28px;
        }
        .detailV {
            .font-headII {
                .items {
                    font-size: 40px;
                    padding: 0;
                    margin: 0;
                }
            }
            .bulletI {
                ul {
                    font-size: 28px;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    .accident-insurance {
        .detail {
            .detailI-items {
                font-size: 36px;
            }
            .detailII,
            .detailIII {
                font-size: 26px;
            }
            .bullet {
                font-size: 28px;
                ul li:before {
                    font-size: 40px;
                }
            }
        }
        .table {
            font-size: 26px;
        }
        .detailV {
            .font-headII {
                .items {
                    font-size: 36px;
                    padding: 0;
                    margin: 0;
                }
            }
            .bulletI {
                ul {
                    font-size: 26px;
                    li:before {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 1199px) {
    .accident-insurance {
        .detail {
            .detailI-items {
                font-size: 32px;
            }
            .detailII,
            .detailIII {
                font-size: 24px;
            }
            .bullet {
                font-size: 26px;
                ul li:before {
                    font-size: 40px;
                }
            }
        }
        .table {
            font-size: 24px;
        }
        .detailV {
            .font-headII {
                .items {
                    font-size: 32px;
                    padding: 0;
                    margin: 0;
                }
            }
            .bulletI {
                ul {
                    font-size: 24px;
                    li:before {
                        font-size: 40px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .accident-insurance {
        .detail {
            .detailI-items {
                font-size: 30px;
            }
            .detailII,
            .detailIII {
                font-size: 22px;
            }
            .bullet {
                font-size: 24px;
                ul li:before {
                    font-size: 35px;
                    top: -1px;
                }
            }
        }
        .table {
            font-size: 22px;
        }
        .detailV {
            .font-headII {
                padding: 1rem 2rem;
            }
            .font-headII {
                .items {
                    font-size: 30px;
                    padding: 0;
                    margin: 0;
                }
            }
            .bulletI {
                ul {
                    font-size: 22px;
                    li:before {
                        font-size: 35px;
                        top: -1px;
                    }
                }
            }
            .graphic-bm img {
                width: 170px;
            }
        }
    }
}

@media (max-width: 767px) {
    .accident-insurance {
        .detail {
            padding: 2rem;
            .detailI-items {
                font-size: 28px;
            }
            .detailII,
            .detailIII {
                font-size: 20px;
            }
            .bullet {
                font-size: 22px;
                ul li:before {
                    font-size: 35px;
                    top: 0;
                }
            }
        }
        .table {
            font-size: 20px;
            .table-accident {
                .table-accidentI .table-accidentI-items {
                    padding: 14px;
                }
                .table-accidentII .items {
                    padding: 14px;
                }
            }
        }
        .detailV {
            .font-headII {
                .items {
                    font-size: 28px;
                    padding: 0;
                    margin: 0;
                }
            }
            .bulletI {
                ul {
                    padding: 2rem;
                    font-size: 20px;
                    li:before {
                        font-size: 35px;
                        top: 0;
                    }
                }
            }
            .graphic-bm {
                display: none;
            }
        }
    }
}

// @media (max-width: 575px) {
//     .accident-insurance {
//         .detail {
//             .detailI-items {
//                 font-size: 30px;
//             }

//             .detailII {
//                 font-size: 20px;
//             }

//             .detailIII {
//                 font-size: 20px;
//             }

//             .bullet {
//                 font-size: 25px;
//             }
//         }

//         .whead {
//             .font-head {
//                 font-size: 30px;
//                 margin-top: -10px;
//             }
//         }

//         .table {
//             font-size: 20px;
//             margin-bottom: 4rem;

//             .table-accident {
//                 width: 100%;

//                 .table-accidentII {
//                     text-align: left;
//                     line-height: 1.2em;

//                     .items {
//                         padding: 20px;
//                     }

//                     .itemsI {
//                         text-align: center;
//                         padding: 20px;
//                     }

//                     .txtI {
//                         text-align: center;
//                         background-color: #f0f0f0;
//                         padding: 20px;
//                     }
//                 }
//             }
//         }
//     }
// }

// @media (max-width: 375px) {
//     .accident-insurance {
//         .detail {
//             .detailI-items {
//                 font-size: 30px;
//             }

//             .detailII {
//                 font-size: 20px;
//             }

//             .detailIII {
//                 font-size: 20px;
//             }

//             .bullet {
//                 ul {
//                     li {
//                         font-size: 22px;
//                     }

//                     li:before {
//                         width: 1em;
//                         margin-left: -1em;
//                         font-size: 25px;
//                     }
//                 }
//             }
//         }

//         .whead {
//             .font-head {
//                 font-size: 30px;
//             }
//         }

//         .table {
//             font-size: 16px;
//             margin-bottom: 4rem;

//             .table-accident {
//                 width: 100%;

//                 .table-accidentII {
//                     text-align: left;
//                     line-height: 1.2em;

//                     .items {
//                         padding: 20px;
//                     }

//                     .itemsI {
//                         text-align: center;
//                         padding: 20px;
//                     }

//                     .txtI {
//                         text-align: center;
//                         background-color: #f0f0f0;
//                         padding: 20px;
//                     }
//                 }
//             }
//         }

//         .detailV {
//             .font-headII {
//                 .items {
//                     font-size: 25px;
//                 }
//             }
//             .bulletI {
//                 ul {
//                     font-size: 20px;
//                 }

//                 li::before {
//                     font-size: 30px;
//                 }
//             }
//         }
//     }
// }
