.car-insurance {
    .picture-cover {
        box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.16);
    }
    .boxes {
        display: flex;
        column-gap: 3rem;
        margin: 3rem 0;
        .box {
            position: relative;
            background: linear-gradient(#ffb2b2 0%, #e72c3a 100%);
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
            padding: 4rem 3rem;
            width: calc(100% / 3);
            z-index: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            .txt {
                font-size: 67px;
                font-weight: 600;
                font-style: italic;
                line-height: 1;
                text-align: center;
                color: #fff;
                text-shadow: 0px 3px 5px rgba(0, 0, 0, 0.16);
            }
            .bg {
                position: absolute;
                top: 10px;
                left: 40px;
                z-index: -1;
                width: 50%;
                transition: 0.3s ease-in-out;
            }
        }
        .box:hover {
            .bg {
                opacity: 0.3;
            }
        }
        // .box::before {
        //     content: "";
        //     background-image: url(../img/ohm/camera.png);
        //     position: absolute;
        //     width: ;
        // }
    }
    .benefits {
        margin-bottom: 3rem;
        .h-title {
            font-size: 65px;
            font-weight: 600;
            line-height: 1.2em;
            color: #003e88;
            margin: 1rem 0;
            text-align: center;
        }
        .items {
            display: flex;
            column-gap: 3rem;
            justify-content: space-between;
            .item {
                .circle {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    // width: 283px;
                    // height: 283px;
                    padding: 3rem;
                    background: linear-gradient(#fff 0%, rgba(227, 227, 227, 0.84) 100%);
                    border: 10px solid #e72c3a;
                    border-radius: 50%;
                    transition: 0.3s ease-in-out;
                    // .thumb {
                    //     .cover {
                    //         position: relative;
                    //         overflow: hidden;
                    //         padding-top: 80%;
                    //     }
                    // }
                }
                .txt {
                    font-size: 35px;
                    line-height: 1;
                    text-align: center;
                    color: #e72c3a;
                    margin-top: 3rem;
                    font-weight: 600;
                }
            }
            .item:hover {
                .circle {
                    transform: scale(1.1);
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
                }
            }
        }
    }
    .picture-cover- {
        margin: 2rem 0;
    }
    .content {
        .h-desc {
            padding: 0 12.2rem;
            font-size: 30px;
            line-height: 30px;
            color: #7b7b7b;
            margin-bottom: 2rem;
        }
        .box- {
            position: relative;
            background: #f8f8f8;
            padding: 3rem 0;
            margin-bottom: 2rem;
            .h-title {
                font-size: 55px;
                line-height: 1;
                text-align: center;
                color: #003e88;
                font-weight: 600;
                margin-bottom: 1.5rem;
                font-style: italic;
            }
            .desc {
                font-size: 30px;
                line-height: 1.1em;
                text-align: center;
                color: #29282d;
                padding: 0 8rem;
            }
            .polygon {
                position: absolute;
                left: 50px;
                bottom: 90px;
            }
            .polygon-small {
                position: absolute;
                right: 30px;
                bottom: 30px;
            }
            // .polygon::before {
            //     content: "";
            //     position: absolute;
            //     background: #e72c3a;
            //     opacity: 0.05;
            //     width: 150px;
            //     height: 140px;
            //     -webkit-clip-path: polygon(0 0, 100% 50%, 0 100%);
            //     clip-path: polygon(0 0, 100% 50%, 0 100%);
            // }
        }
        .box-.II {
            .items {
                margin: 3rem 5rem 5rem 5rem;
                .item {
                    background: #fff;
                    padding: 2rem;
                    height: 93%;
                    transition: 0.3s ease-in-out;
                    .title {
                        font-size: 40px;
                        font-weight: 600;
                        font-style: italic;
                        line-height: 1.1em;
                        text-align: center;
                        color: #191919;
                        margin-bottom: 1rem;
                    }
                    .desc {
                        padding: 0;
                        text-align: left;
                        span {
                            color: #e72c3a;
                            font-style: italic;
                        }
                    }
                    .polygon {
                        bottom: 50px;
                    }
                    .polygon-line {
                        position: absolute;
                        left: 190px;
                        bottom: 150px;
                    }
                    .polygon-b-line {
                        position: absolute;
                        right: 10px;
                        bottom: 10px;
                    }
                }
                .item:hover {
                    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);
                }
                .item.I,
                .item.III {
                    height: 100%;
                    padding-bottom: 5rem;
                }
                .item.II {
                    position: relative;
                    margin-bottom: 30px;
                }
                .c-left {
                    width: calc(100% / 3);
                }
            }
        }
        .s-title {
            font-size: 45px;
            line-height: 1;
            text-align: center;
            color: #ff4856;
            font-style: italic;
            font-weight: 600;
            margin-bottom: 2rem;
        }
        .table- {
            text-align: center;
            font-style: italic;
            table {
                color: #053e88;
                font-weight: 400;
                font-size: 45px;
                line-height: 1;
                margin-bottom: 4rem;
                th {
                    padding: 1.2rem 0;
                }
                .head {
                    color: #ffffff;
                    background: #003e88;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.16);
                }
                .s-head {
                    th {
                        border: 1px solid #d7d7d7;
                    }
                    background-color: #f8f8f8;
                    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
                }
                tbody {
                    td {
                        font-weight: 600;
                        border: 1px solid #d7d7d7;
                        padding: 1.5rem 0;
                    }
                }
            }
        }
        // .table-.II {
        //     table {
        //         margin-bottom: 2rem;
        //     }
        // }
    }
}

@media (max-width: 1600px) {
    .car-insurance {
        .boxes .box .txt {
            font-size: 60px;
        }
        .benefits {
            .h-title {
                font-size: 58px;
            }
            .items .item .txt {
                font-size: 34px;
            }
        }
        .content {
            .h-desc,
            .box- .desc {
                font-size: 28px;
            }
            .box- .h-title {
                font-size: 50px;
            }
            .box-.II .items .item .title {
                font-size: 36px;
            }
            .s-title,
            .table- table {
                font-size: 40px;
            }
        }
    }
}

@media (max-width: 1440px) {
    .car-insurance {
        .boxes .box .txt {
            font-size: 55px;
        }
        .benefits {
            .h-title {
                font-size: 54px;
            }
            .items .item .txt {
                font-size: 32px;
            }
        }
        .content {
            .h-desc,
            .box- .desc {
                font-size: 26px;
            }
            .box- .h-title {
                font-size: 42px;
            }
            .box-.II .items .item .title {
                font-size: 32px;
            }
            .s-title,
            .table- table {
                font-size: 36px;
            }
        }
    }
}

@media (max-width: 1199px) {
    .car-insurance {
        .boxes {
            column-gap: 2rem;
            margin: 2rem 0;
            .box .txt {
                font-size: 46px;
            }
        }
        .benefits {
            .h-title {
                font-size: 42px;
            }
            .items .item .txt {
                font-size: 30px;
                margin-top: 2rem;
            }
        }
        .content {
            .h-desc,
            .box- .desc {
                font-size: 24px;
            }
            .box- {
                padding: 2rem 0;
                .h-title {
                    font-size: 36px;
                }
                .desc {
                    padding: 0 3rem;
                }
                .polygon {
                    display: none;
                }
            }
            .box-.II .items {
                margin: 3rem 2rem;
                .item {
                    .polygon,
                    .polygon-line {
                        display: none;
                    }
                    .title {
                        font-size: 28px;
                    }
                }
                .item.I {
                    height: auto;
                    margin-bottom: 1.8rem;
                    padding-bottom: 2rem;
                }
                .item.II {
                    height: 90%;
                }
            }
            .s-title {
                margin-bottom: 1.6rem;
            }
            .s-title,
            .table- table {
                font-size: 32px;

                th {
                    padding: 0.8rem 0;
                }
                tbody td {
                    padding: 1rem 0;
                }
            }
            .table- table {
                margin-bottom: 3rem;
            }
            .h-desc {
                padding: 0 5rem;
            }
        }
    }
}

@media (max-width: 991px) {
    .car-insurance {
        .boxes .box .txt {
            font-size: 40px;
        }
        .benefits {
            .h-title {
                font-size: 36px;
            }
            .items .item .txt {
                font-size: 28px;
            }
        }
        .content {
            .h-desc,
            .box- .desc {
                font-size: 22px;
            }
            .box- .h-title {
                font-size: 32px;
            }
            .box-.II .items .item .title {
                font-size: 26px;
            }
            .s-title,
            .table- table {
                font-size: 26px;
            }
        }
    }
}

@media (max-width: 767px) {
    .car-insurance {
        .boxes {
            flex-direction: column;
            margin-bottom: 1rem;
            .box {
                padding: 2rem;
                width: 100%;
                margin-bottom: 1rem;
                .txt {
                    font-size: 30px;
                }
                .bg {
                    display: none;
                }
            }
        }
        .benefits {
            .h-title {
                font-size: 36px;
            }
            .items {
                flex-direction: column;
                .item {
                    margin-bottom: 2rem;
                    .circle {
                        width: fit-content;
                        margin: 0 auto;
                    }
                    .txt {
                        font-size: 26px;
                        margin-top: 1rem;
                    }
                }
            }
        }
        .content {
            .h-desc,
            .box- .desc {
                font-size: 20px;
            }
            .h-desc {
                padding: 0;
            }
            .box- {
                padding-bottom: 2rem;
                .h-title {
                    font-size: 26px;
                    margin-bottom: 2rem;
                }
            }
            .box-.II .items {
                margin-bottom: 1rem;
                .item {
                    height: auto;
                    .title {
                        font-size: 22px;
                    }
                    .polygon-b-line {
                        display: none;
                    }
                }
                .item.I {
                    margin-bottom: 2rem;
                }
                .item.II {
                    height: auto;
                }
                .item.III {
                    height: auto;
                    margin-bottom: 2rem;
                    padding-bottom: 3rem;
                }
            }
            .s-title,
            .table- table {
                font-size: 22px;
            }
        }
    }
}
@media (max-width: 575px) {
    .car-insurance .content .box-.II .items .item {
        padding: 1rem;
    }
    .car-insurance .content .box-.II .items {
        margin: 1rem 1rem 0 1rem;
    }
    .car-insurance .content .box- .desc {
        padding: 0 1rem;
    }
    .car-insurance .content .table- table {
        font-size: 18px;
    }
    .car-insurance .content .h-desc,
    .car-insurance .content .box- .desc {
        font-size: 18px;
    }
    .car-insurance .content .box-.II .items {
        .item.I,
        .item.II,
        .item.III {
            margin-bottom: 1rem;
        }
    }
}

g.highcharts-axis-labels.highcharts-yaxis-labels text,
text.highcharts-axis-title,
path.highcharts-grid-line,
text.highcharts-credits,
text.highcharts-title {
    display: none;
}

g.highcharts-axis.highcharts-xaxis path.highcharts-axis-line {
    stroke: #e72c3a;
    stroke-width: 5px;
}
g.highcharts-series.highcharts-tracker rect.highcharts-point.highcharts-color-0 {
    fill:  #f0f0f0;
    stroke:  #f0f0f0;
}
g.highcharts-series.highcharts-tracker rect.highcharts-point.highcharts-color-0:last-child {
    fill: #053e88;
    stroke: #053e88;
}
g.highcharts-series.highcharts-tracker rect.highcharts-point.highcharts-color-0:nth-child(4) {
    fill: #fc5d69;
    stroke: #fc5d69;
}
