.form-default {
    padding: 15px 0;
}

.default-page {
    padding-top: 30px;
    padding-bottom: 70px;
    .h-title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        text-align: center;
        margin-bottom: 30px;
    }
    .-mc {
        margin-bottom: 5px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    .title {
        font-size: var(--typo-sm);
        color: var(--color-primary);
    }
}

.feather {
    font-size: var(--typo-md);
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.-opcity-none {
    opacity: 0;
}

.form-control {
    border-radius: 0;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff !important;
    text-decoration: none;
    background-color: var(--color-primary);
}

.menu .menu-toggle {
    display: inline-block;
    width: 28px;
    height: 18px;
    position: relative;
    margin-top: 4px;
    // margin-left: 1rem;
}

.menu .menu-toggle .bar {
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    background-color: var(--color-primary);
    margin: auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -webkit-transition: All 400ms ease;
    -moz-transition: All 400ms ease;
    -o-transition: All 400ms ease;
}

.menu .menu-toggle .bar:nth-child(1) {
    top: 0;
}

.menu .menu-toggle .bar:nth-child(2) {
    top: 0;
    bottom: 0;
}

.menu .menu-toggle .bar:nth-child(3) {
    top: 0;
    bottom: 0;
}

.menu .menu-toggle .bar:nth-child(4) {
    bottom: 0;
}

.menu .menu-toggle.close {
    margin-top: 0;
    opacity: 1;
}

.menu .menu-toggle.close .bar:nth-child(1) {
    top: 0;
    opacity: 0;
}

.menu .menu-toggle.close .bar:nth-child(2) {
    top: 0;
    bottom: 0;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

.menu .menu-toggle.close .bar:nth-child(3) {
    top: 0;
    bottom: 0;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
}

.menu .menu-toggle.close .bar:nth-child(4) {
    bottom: 0;
    opacity: 0;
}

.default-slick {
    .slick-list {
        margin: 0 -10px;
        .item {
            padding: 0 10px;
        }
    }
    .slick-prev {
        left: -40px;
    }
    .slick-next {
        right: -40px;
    }
    .slick-prev,
    .slick-next {
        border: 1px solid var(--color-primary);
        border-radius: 50%;
        width: 22px;
        height: 22px;
        &:hover {
            background-color: var(--color-primary);
            &:before {
                -webkit-filter: brightness(0) invert(1);
                filter: brightness(0) invert(1);
            }
        }
        &::before {
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            opacity: 1;
            content: "";
            color: transparent;
            background-repeat: no-repeat;
            background-position: center;
        }
    }
    .slick-prev {
        &::before {
            background-image: url(../img/icon/icon-chevron-left-tab.svg);
            right: 1px;
        }
    }
    .slick-next {
        &::before {
            background-image: url(../img/icon/icon-chevron-right-tab.svg);
            left: 1px;
        }
    }
    .slick-dots {
        margin-top: 25px;
        bottom: unset;
        li {
            width: 24px;
            height: 24px;
            border: 1px solid transparent;
            border-radius: 50%;
            button {
                &:hover {
                    &::before {
                        background-color: var(--color-secondary);
                    }
                }
                &::before {
                    font-size: 0;
                    width: 9px;
                    height: 9px;
                    border-radius: 50%;
                    background-color: #d0dbff;
                    opacity: 1;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
        .slick-active {
            border: 1px solid #d0dbff;
            border-radius: 50%;
            button {
                &:hover {
                    &::before {
                        background-color: var(--color-primary);
                    }
                }
                &::before {
                    background-color: var(--color-primary);
                }
            }
        }
    }
}

// 17/09/2022
.detail-link-block {
    .detail-thumbnail {
        .cover {
            padding-bottom: 75%;
        }
    }
    .detail-desc {
        padding: 3rem;
        background-color: var(--color-light);
        border: 1px solid var(--color-border);
        border-left: transparent;
        height: 100%;
        .title {
            font-size: var(--typo-sm);
            font-weight: var(--fw-medium);
            color: var(--color-primary);
            margin-bottom: 1.5rem;
        }
        .desc {
            font-size: var(--typo-xs);
            max-height: calc(1.5em * 5);
            -webkit-line-clamp: 5;
        }
        .btn {
            position: absolute;
            bottom: 3rem;
        }
    }
    .item-list > li + li {
        margin-top: 7.5rem;
    }
}

.profile-block {
    .h-title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        padding-bottom: 2rem;
        margin-bottom: 2rem;
        border-bottom: 1px solid var(--color-border);
    }
    .profile-thumbnail {
        margin-bottom: 3rem;
        .cover {
            padding-bottom: 100%;
            background-color: #f2f5ff;
        }
    }
    .profile-desc {
        font-size: var(--typo-sm);
        line-height: 1.4em;
        height: 350px;
        .profile-name {
            font-size: var(--typo-lg);
            font-weight: var(--fw-medium);
            color: var(--color-primary);
            line-height: 1.4em;
            margin-bottom: 2rem;
        }
        .profile-position {
            font-size: var(--typo-md);
            margin-bottom: 2rem;
        }
        .profile-timeline {
            margin-bottom: 1.5rem;
        }
        .profile-timeline,
        .profile-contact {
            font-weight: var(--fw-light);
            line-height: 1.4em;
        }
        .profile-contact {
            // margin-bottom: 5rem;
        }
        .btn {
            position: absolute;
            bottom: 0;
        }
    }
    .btn {
        display: -webkit-box;
        font-size: var(--typo-md);
        font-weight: var(--fw-light);
        padding: 0;
        span {
            position: relative;
            top: 2px;
            color: var(--color-light);
            border-radius: var(--circle);
            background-color: var(--color-primary);
            padding: 4px;
        }
    }
    .item-list {
        margin: 0 -15px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        & > li {
            flex: 0 0 33.333333%;
            width: 33.33%;
            padding: 0 15px;
            margin-bottom: 3rem;
        }
    }
}

.gallery-block {
    .gallery-thumbnail {
        .cover {
            padding-bottom: 75%;
            background-color: #f2f5ff;
        }
    }
    .gallery-desc {
        padding: 3rem;
        background-color: var(--color-light);
        border: 1px solid var(--color-border);
        border-top: transparent;
        height: 100%;
        .title {
            font-size: var(--typo-sm);
            font-weight: var(--fw-medium);
            color: var(--color-dark);
            margin-bottom: 3rem;
        }
    }
    .item-list {
        margin: 0 -20px;
        & > li {
            width: 50%;
            padding: 0 20px;
            margin-bottom: 40px;
        }
    }
}

.related-sites-block {
    .related-sites-thumbnail {
        border: 1px solid var(--color-border);
        .cover {
            padding-bottom: 75%;
            background-color: var(--color-light);
        }
    }
    .related-sites-desc {
        border: 1px solid var(--color-border);
        border-top: transparent;
        padding: 1.4rem;
        .title {
            font-size: var(--typo-xs);
            font-weight: var(--fw-medium);
            color: var(--color-dark);
            min-height: calc(1.4em * 2);
            max-height: calc(1.4em * 2);
            -webkit-line-clamp: 2;
            margin-bottom: 0.5rem;
        }
        .url {
            font-size: var(--typo-s);
        }
    }
    .item-list {
        margin: 0 -10px;
        & > li {
            width: 25%;
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
    .link {
        color: #aeaeae;
    }
}

.image-block {
    margin-bottom: 30px;
    .cover,
    .image-thumbnail .cover {
        padding-bottom: 32%;
    }
}

.collapse-block {
    .card {
        border-radius: 0;
        border: none;
    }
    .card-header {
        padding: 0;
        margin-bottom: 0;
        border: none;
        background-color: #f2f5ff;
        border-radius: 0;
    }
    .card-body {
        padding: 1.25rem 0;
        overflow: hidden;
    }
    .btn {
        font-size: var(--typo-sm);
        color: var(--color-primary);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 2.8rem;
        span.feather {
            font-size: 28px;
            font-weight: normal;
        }
        &:not(.collapsed) {
            span.feather::before {
                content: "\e894";
            }
        }
    }
}

.table thead th,
.table tbody td {
    line-height: 1.4em;
}

.table thead th {
    font-weight: var(--fw-medium);
    color: var(--color-dark);
    padding: 1.594rem 0.75rem;
    border-bottom: 1px solid #d0dbff;
}

.table tbody td {
    color: var(--color-default);
}

.table-bordered td,
.table-bordered th {
    border: 1px solid #d0dbff;
}

.top-graphic {
    .cover {
        padding-bottom: calc(100vh - 268px);
    }
}

fieldset {
    padding: 0;
}

.item-list {
    &.checked {
        > li {
            float: none;
            padding-left: 1.5rem;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 14px;
                background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12.927' height='12.927' viewBox='0 0 12.927 12.927'%3E%3Cg id='Icon_ionic-ios-checkmark-circle-outline' data-name='Icon ionic-ios-checkmark-circle-outline' transform='translate(-3.375 -3.375)'%3E%3Cpath id='Path_8049' data-name='Path 8049' d='M17.091,12.806l-.547-.562a.118.118,0,0,0-.087-.037h0a.113.113,0,0,0-.087.037l-3.791,3.819-1.38-1.38a.12.12,0,0,0-.174,0l-.553.553a.124.124,0,0,0,0,.177l1.74,1.74a.55.55,0,0,0,.364.177.577.577,0,0,0,.36-.171h0l4.155-4.176A.133.133,0,0,0,17.091,12.806Z' transform='translate(-3.939 -4.928)' fill='%231c45d6'/%3E%3Cpath id='Path_8050' data-name='Path 8050' d='M9.839,4.245A5.591,5.591,0,1,1,5.883,5.883,5.556,5.556,0,0,1,9.839,4.245m0-.87A6.464,6.464,0,1,0,16.3,9.839,6.463,6.463,0,0,0,9.839,3.375Z' fill='%231c45d6'/%3E%3C/g%3E%3C/svg%3E%0A");
                background-repeat: no-repeat;
                // background-position: center;
                background-position: 0 3px;
            }
            & + li {
                margin-top: 0.5rem;
            }
        }
    }
    &.note {
        > li {
            padding-left: 5rem;
            & + li {
                margin-top: 0.5rem;
            }
        }
    }
}

.divider {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid #bfbfbf;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.rss {
    display: block;
    margin-top: 6px;
}

.nav-slider-block {
    margin-bottom: 2rem;
}

.default-bar {
    margin: 60px 0;
    .whead {
        .h-title {
            margin: 0;
            text-align: left;
        }
    }
    .social-block {
        display: flex;
        justify-content: right;
        padding-bottom: 20px;
        // position: relative;
        // bottom: 10px;
        .title {
            margin: 0;
            color: #9f9f9f;
        }
        .item-list {
            display: flex;
            align-items: center;
            li {
                margin: 0 7px;
                a {
                    img {
                        // position: relative;
                        // top: 4px;
                        width: 22px;
                    }
                }
                .dropdown-menu {
                    padding: 0;
                    border-radius: 10px;
                    margin-left: 14px;
                    margin-right: 14px;
                    overflow: hidden;
                    margin-top: 10px;
                    transition: all 200ms ease-out;
                    .form-control {
                        border: 1px solid #b1b0b04a;
                    }
                    .embed-label {
                        display: flex;
                        align-items: center;
                        padding: 10px 15px;
                        .style-scope {
                            font-size: var(--typo-sm);
                            font-weight: var(--fw-medium);
                            color: var(--color-primary);
                        }
                        .embed-close {
                            margin-left: auto;
                            cursor: pointer;
                            padding: 5px;
                            width: 22px;
                            height: 22px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            background-color: #cc1212;
                            color: #fff;
                            border-radius: 50%;
                        }
                    }
                    .action-buttons {
                        position: relative;
                        .embed-copy {
                            font-weight: var(--fw-medium);
                            padding: 10px 15px;
                            width: 100%;
                            &:focus {
                                outline: none;
                            }
                        }
                    }
                    .alert-success {
                        transition: all 200ms ease-out;
                        bottom: 0 !important;
                        margin: 0;
                        width: 100%;
                    }
                }
            }
            .-bsc {
                &::before {
                    border: 1px solid #9f9f9f;
                    content: "";
                }
            }
        }
    }
    .whead-addon.-bsc {
        border-top: 1px solid #9f9f9f;
        .detail-info {
            .item-list {
                li {
                    color: #9f9f9f;
                    display: flex;
                    align-items: center;
                    span {
                        margin-bottom: 2px;
                    }
                }
            }
        }
    }
    .whead-addon {
        padding-top: 20px;
        .detail-info {
            .item-list {
                display: flex;
                li {
                    margin: 0 15px;
                    margin-left: 0;
                    line-height: 1.4em;
                    color: var(--color-primary);
                    &:first-child {
                        white-space: nowrap;
                    }
                }
                .-bsc {
                    border-right: 2px solid #013f94;
                }
            }
        }
    }
}

.default-nav-tab {
    margin: 0 -10px;
    margin-bottom: 60px;
    li {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 50%;
        text-align: center;
        position: relative;
        padding: 0 10px;
        .item {
            display: block;
            font-size: var(--typo-lg);
            color: var(--color-gray);
            line-height: 1.2em;
            transition: all 200ms ease-out;
            &:hover {
                color: var(--color-primary);
                text-decoration: none;
                &::before {
                    filter: unset;
                    opacity: 1;
                    color: var(--color-primary);
                    text-decoration: none;
                }
            }
            &::before {
                content: "";
                opacity: 0.1;
                filter: grayscale(1);
                background-image: url(../img/icon/underline-style.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                height: 15px;
                position: absolute;
                background-position: center;
                left: 10px;
                right: 10px;
                margin: auto;
                bottom: -30px;
            }
        }
        .item.active {
            color: var(--color-primary);
            &::before {
                opacity: 1;
                filter: unset;
            }
        }
    }
    /* one item */
    // li:first-child:nth-last-child(1) {
    //     /* -or- li:only-child { */
    //     width: 100%;
    // }
    /* two items */
    li:first-child:nth-last-child(2),
    li:first-child:nth-last-child(2) ~ li {
        width: 50%;
    }
    /* three items */
    li:first-child:nth-last-child(3),
    li:first-child:nth-last-child(3) ~ li {
        width: 33.3333%;
    }
    /* four items */
    li:first-child:nth-last-child(4),
    li:first-child:nth-last-child(4) ~ li {
        width: 25%;
    }
    /* five items */
    li:first-child:nth-last-child(5),
    li:first-child:nth-last-child(5) ~ li {
        width: 20%;
    }
    /* six items */
    li:first-child:nth-last-child(6),
    li:first-child:nth-last-child(6) ~ li {
        width: calc(100% / 6);
    }
}

.default-filter {
    .btn-search {
        padding: 0 15px;
        min-width: 75px;
        span {
            top: 2px;
        }
    }
}

.layout-filter {
    list-style: none;
    height: 50px;
    padding: 0;
    margin: 0;
    margin-bottom: 1rem;
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100%;
        width: 100%;
        // opacity: 0.5;
        transition: all 100ms;
    }
    > li {
        float: left;
        a {
            display: block;
            width: 50px;
            height: 50px;
            text-decoration: none;
            color: var(--color-primary);
            transition: all 300ms;
        }
        &.active a {
            background-color: var(--color-primary);
            color: var(--color-light);
        }
        &:hover {
            .icon {
                opacity: 1;
            }
            a {
                color: var(--color-light);
                background-color: #5f99ff;
            }
        }
    }
}

.year-list {
    .nav-list {
        margin: 0 -10px;
        li {
            width: calc(100% / 5);
            padding: 0 10px;
            margin-bottom: 20px;
        }
    }
    .link {
        display: block;
        background-color: var(--color-primary-light);
        color: var(--color-light);
        font-size: var(--typo-md);
        line-height: 2.5em;
        text-align: center;
        padding: 0 1rem;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
            background-color: var(--color-primary);
        }
        &.active {
            background-color: var(--color-primary);
            &:hover {
                background-color: #003175;
            }
        }
    }
}

.default-tab-slider {
    &.slick-dotted.slick-slider {
        margin-bottom: 80px !important;
    }
}

.oit-list {
    padding-top: 1rem;
    .item-list > li {
        & + li {
            margin-top: 1rem;
        }
        &.item {
            > .title {
                font-size: var(--typo-md);
                margin-bottom: 1rem;
            }
            a {
                color: var(--color-primary);
            }
        }
    }
    .table {
        tbody {
            tr:nth-child(odd) {
                td {
                    background-color: #f5f5f5;
                }
            }
        }
    }
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
    .detail-link-block .item-list > li + li {
        margin-top: 5rem;
    }
}

@media (max-width: 1199px) {
    .detail-link-block .detail-desc .desc {
        max-height: calc(1.5em * 4);
        -webkit-line-clamp: 4;
    }
    .profile-block .profile-desc {
        height: 340px;
    }
    .default-bar {
        margin-top: 30px;
        margin-bottom: 40px;
        .social-block {
            // justify-content: left;
            // margin: 15px 0;
        }
    }
}

@media (max-width: 991px) {
    .detail-link-block .detail-desc .desc {
        max-height: calc(1.5em * 3);
        -webkit-line-clamp: 3;
    }
    .detail-link-block .detail-desc {
        padding: 2rem;
    }
    .detail-link-block .detail-desc .btn {
        bottom: 2rem;
    }
    .detail-link-block .item-list > li + li {
        margin-top: 3rem;
    }
    .profile-block .profile-desc .profile-name {
        margin-bottom: 1.2rem;
    }
    .profile-block .profile-desc .profile-position {
        margin-bottom: 1rem;
    }
    .profile-block .profile-desc .profile-timeline {
        margin-bottom: 1rem;
    }
    .gallery-block .gallery-desc {
        padding: 2rem;
    }
    .gallery-block .gallery-desc .title {
        margin-bottom: 2rem;
    }
    .gallery-block .item-list {
        margin: 0 -15px;
    }
    .gallery-block .item-list > li {
        padding: 0 15px;
        margin-bottom: 30px;
    }
    .related-sites-block .item-list {
        margin: 0 -7.5px;
    }
    .related-sites-block .item-list > li {
        width: 33.33%;
        padding: 0 7.5px;
        margin-bottom: 15px;
    }
    .collapse-block .btn {
        padding-left: 15px;
        padding-right: 15px;
    }
    .collapse-block .btn span.feather {
        font-size: 20px;
    }
    .layout-filter {
        height: 44px;
    }
    .layout-filter > li a {
        width: 44px;
        height: 44px;
    }
    .year-list .nav-list li {
        width: calc(100% / 4);
    }
    .year-list .nav-list {
        margin: 0 -7.5px;
    }
    .year-list .nav-list li {
        padding: 0 7.5px;
    }
    .year-list .link {
        font-size: var(--typo-default);
    }
}

@media (max-width: 767px) {
    .detail-link-block .detail-desc {
        border: 1px solid #ccc;
        border-top: transparent;
    }
    .detail-link-block .detail-desc .desc {
        margin-bottom: 1.4rem;
    }
    .detail-link-block .detail-desc .btn {
        position: relative;
        bottom: initial;
    }
    .detail-link-block .item-list > li + li {
        margin-top: 2rem;
    }
    .profile-block .item-list > li {
        width: 50%;
        margin-bottom: 2rem;
    }
    .profile-block .profile-desc {
        height: 320px;
    }
    .profile-block .h-title {
        padding-bottom: 1rem;
    }
    .profile-block .profile-thumbnail {
        margin-bottom: 2rem;
    }
    .related-sites-block .related-sites-desc {
        padding: 1rem;
    }
    .item-list.note > li {
        padding-left: 2rem;
    }
    .nav-slider-block {
        margin-bottom: 2rem;
    }
    .default-nav-tab li {
        width: 100%;
        & + li {
            margin-top: 2.5rem;
        }
    }
    .default-nav-tab li:first-child:nth-last-child(2),
    .default-nav-tab li:first-child:nth-last-child(2) ~ li {
        width: 100%;
    }
    .default-nav-tab li:first-child:nth-last-child(3),
    .default-nav-tab li:first-child:nth-last-child(3) ~ li {
        width: 100%;
    }
    .default-nav-tab li:first-child:nth-last-child(4),
    .default-nav-tab li:first-child:nth-last-child(4) ~ li {
        width: 50%;
    }
    .default-nav-tab li:first-child:nth-last-child(5),
    .default-nav-tab li:first-child:nth-last-child(5) ~ li {
        width: 50%;
    }
    .default-nav-tab li:first-child:nth-last-child(6),
    .default-nav-tab li:first-child:nth-last-child(6) ~ li {
        width: 50%;
    }
    .default-nav-tab li:first-child:nth-last-child(4) ~ li:nth-child(2),
    .default-nav-tab li:first-child:nth-last-child(5) ~ li:nth-child(2),
    .default-nav-tab li:first-child:nth-last-child(6) ~ li:nth-child(2) {
        margin-top: 0;
    }
    .layout-filter {
        height: 40px;
    }
    .layout-filter > li a {
        width: 40px;
        height: 40px;
    }
    .year-list .nav-list li {
        width: calc(100% / 3);
    }
    .default-slick .slick-dots {
        margin-top: 15px;
    }
    .default-tab-slider.slick-dotted.slick-slider {
        margin-bottom: 58px !important;
    }
    .default-bar .social-block {
        padding-bottom: 15px;
    }
    .default-bar .whead-addon {
        padding-top: 15px;
    }
    .oit-list .collapse-block .btn {
        text-align: left;
        font-size: var(--typo-xs);
    }
    .oit-list .card-body {
        overflow-x: auto;
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px;
    }
    .oit-list .table {
        width: 767px;
    }
    .default-bar .whead-addon .detail-info .item-list {
        display: block;
    }
    .default-bar .whead-addon .detail-info .item-list li {
        width: 100%;
    }
    .default-bar .whead-addon .detail-info .item-list .-bsc {
        border-right: none;
        margin: 10px 0;
        border-top: 2px solid var(--color-primary);
    }
}

@media (max-width: 414px) {
    .default-bar {
        margin-top: 20px;
        margin-bottom: 30px;
        .whead-addon {
            padding-top: 15px;
            .detail-info {
                display: block;
            }
        }
    }
}

@media (max-width: 575px) {
    .detail-link-block .detail-desc {
        padding: 1rem;
    }
    .profile-block .item-list > li {
        width: 100%;
    }
    .profile-block .profile-desc {
        height: auto;
    }
    .profile-block .profile-desc .btn {
        position: inherit;
        margin-top: 1rem;
    }
    .gallery-block .gallery-desc {
        padding: 1rem;
    }
    .gallery-block .gallery-desc .title {
        margin-bottom: 1rem;
    }
    .gallery-block .item-list > li {
        width: 100%;
        margin-bottom: 15px;
    }
    .related-sites-block .item-list > li {
        width: 50%;
    }
    .default-bar .social-block {
        margin-top: 10px;
        justify-content: left;
    }
}
