// page - start
.picture-cover-slider{position: relative; padding-top: 80px;
    .thumb{position: relative;
		.cover{padding-bottom: 52%; overflow: hidden;
			.lazy{@include transition(all 400ms ease-out); @include transform(scale(1));}
		}
	}
    .link:hover{
		.thumb{
			.cover{
				.lazy{@include transform(scale(1.1));}
			}
		}
	}
}
.picture-cover-slider-for{
    .slick-prev, .slick-next {top: 0; bottom: 0;margin: auto;}    
    .slick-prev { left: -70px;margin-left: 0;}
    .slick-next { right: -70px;margin-right: 0;}
    .thumb{border: 1px solid $color-gray;}
}
.picture-cover-slider-nav{position: absolute; z-index: 1; left: 30px; right: 30px; bottom: 15px; margin: 0 -8px;
    .item{padding: 0 8px;}
    .thumb{border: 2px solid $color-light;
        @include transition(all 400ms ease-out);
    }
    .slick-current{
        .thumb{border-color: $color-primary;}
    }
}

.detail-head{padding-top: 40px;
    .title{font-size: 60px; font-weight: 600; line-height: 1.2em; color: $color-darkgray; margin: 0;}
    .info-box{padding-top: 15px;
        .data{
            .item-list{
                li+li{margin-left: 50px;}
            }
            .feather{font-size: 24px; color: $color-primary; margin-right: 10px; position: relative; top: 2px;}
            .txt{color: $color-gray; font-weight: normal;}
        }
        .share{
            .txt-box{padding-right: 15px;}
            .feather{font-size: 24px; color: $color-primary; margin-right: 10px; position: relative; top: 2px;}
            .txt{color: $color-gray; font-weight: normal;}
            .item-list{margin: 0 -6px;
                li{padding: 0 6px;}
            }
            .link{width: 36px; height: 36px; font-size: 18px;
                border: 1px solid $color-secondary; background-color: $color-light; color: $color-secondary;
                display: flex; justify-content: center; align-items: center;
                @include border-radius(50%);
                .fa{position: relative; top:0;
                    @include transition(all 400ms ease-out);
                }
                &:hover{border-color: $color-primary; color: $color-primary;
                    .fa{top: -3px;}
                }
            }
        }
    }
} 

.detail-vdo{padding-top: 40px;}

.detail-download{padding-top: 70px;
    .font-sub{margin-bottom: 30px;}
    .item-list{margin: -15px -25px;
        li{width: calc(100%/3); padding: 15px 25px;}
    }
    .link{display: block; padding: 25px 35px; background-color: #F0F0F0;
        .content{position: relative;}
        .txt{color: $color-secondary; margin-bottom: 20px;
            overflow: hidden;
			height: calc(1.2em*2);
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
        }
        .date{color: $color-gray;}
        .download-icon{position: absolute; z-index: 1; right: 0; bottom: 0; font-size: 38px; color: $color-gray;
            @include transition(all 400ms ease-out);
        }
    }
    .link:hover{@include box-shadow(0 3px 30px rgba(0,0,0,0.16)); 
        .download-icon{color: $color-primary;}
    }
}

.detail-other{padding-top: 70px;
    .font-sub{margin-bottom: 30px;}
    .item-list{margin: -15px -25px;
        li{width: calc(100%/4); padding: 15px 25px;}
    }
    .date{position: absolute; z-index: 1; top: 0; left: 0; background-color: $color-primary; color: $color-light;
        padding: 10px 8px; font-size: 16px; font-weight: 500;
    }
    .news-default{
        .thumb{
            .cover{padding-bottom: 50%;}
        }
        .content{margin: 0; padding-bottom: 0; padding-top: 10px;
            .title{font-size:30px; color: $color-secondary; margin: 0;}
        }
    }
}
// page - end

// responsive - start
@media (max-width: 1600px) {
    .detail-head .title { font-size: 56px;}

    .detail-other .news-default .content .title {font-size: 28px;}
}

@media (max-width: 1440px) /*check 1280*/ {
    .detail-head .title { font-size: 50px;}

    .detail-other .news-default .content .title {font-size: 26px;}
}

@media (max-width: 1199px) /*check 1024*/{
    .picture-cover-slider{ padding-top: 60px;}

    .detail-head .title { font-size: 46px;}

    .detail-download { padding-top: 60px;}
    .detail-download .font-sub {margin-bottom: 20px;}
    .detail-download .item-list{margin: -15px;}
    .detail-download .item-list li{padding: 15px;}
    .detail-download .link .download-icon {font-size: 28px;}

    .detail-other { padding-top: 60px;}
    .detail-other .date{padding: 5px 8px;}
    .detail-other .font-sub {margin-bottom: 20px;}
    .detail-other .item-list{margin: -15px;}
    .detail-other .item-list li{padding: 15px;}
    .detail-other .news-default .content .title {font-size: 24px;}
}

@media (max-width: 991px) {
    .picture-cover-slider{ padding-top: 50px;}

    .detail-head {padding-top: 30px;}
    .detail-head .title { font-size: 38px;}
    .detail-head .info-box .data .item-list li + li {margin-left: 30px;}

    .detail-vdo {padding-top: 30px;}

    .detail-download { padding-top: 30px;}
    .detail-download .item-list{margin: -10px;}
    .detail-download .item-list li{padding: 10px;}
    .detail-download .link {padding: 15px 20px;}
    .detail-download .link .download-icon {font-size: 24px;}

    .detail-other { padding-top: 30px;}
    .detail-other .item-list{margin: -10px;}
    .detail-other .item-list li{padding: 10px;}
    .detail-other .news-default .content .title {font-size: 22px;}
}

@media (max-width: 767px) {
    .picture-cover-slider {padding-top: 30px;}

    .picture-cover-slider-nav {position: relative; left: 0;right: 0;bottom: 0; padding-top: 6px; margin: 0 -3px;}
    .picture-cover-slider-nav .item {padding: 0 3px;}

    .detail-head {padding-top: 20px;}
    .detail-head .title { font-size: 30px;}
    .detail-head .info-box .share{padding-top: 15px;}

    .detail-vdo {padding-top: 20px;}

    .detail-download { padding-top: 20px;}
    .detail-download .item-list{margin: -5px;}
    .detail-download .item-list li{padding: 5px; width: 50%;}
    .detail-download .link {padding: 10px 15px;}
    .detail-download .link .download-icon {font-size: 20px;}

    .detail-other { padding-top: 20px;}
    .detail-other .item-list{margin: -5px;}
    .detail-other .item-list li{padding: 5px; width: 50%;}
    .detail-other .news-default .content .title {font-size: 20px;}
}

@media (max-width: 575px) {
}
// responsive - end