.site-container {
    // overflow: hidden;
    margin-top: 130px;
    background-color: var(--color-light);
}

.top-graphic {
    .cover {
        // padding-bottom: calc(100vh - 286px);
        padding-bottom: calc(100vh - 130px);
    }
}

.main-page {
    .h-title {
        font-size: 70px;
        font-weight: var(--fw-medium);
        line-height: 1.1em;
        margin-bottom: 3rem;
    }
}

.top-graphic {
    .tpg-item {
        position: relative;
    }
    .info {
        position: absolute;
        z-index: 1;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: end;
        justify-content: center;
        text-align: center;
        color: var(--color-light);
        .wrapper {
            margin: 0 auto;
            margin-bottom: 8rem;
        }
        .title {
            font-size: var(--typo-lg);
            font-weight: var(--fw-medium);
            margin-bottom: 1.8rem;
        }
        .desc {
            font-size: var(--typo-sm);
            margin-bottom: 1.5rem;
        }
    }
    .default-slider-dots {
        margin-bottom: 0;
        .slick-dots {
            bottom: 15px;
        }
    }
    // .slick-dots li {
    //     width: 20px;
    //     height: 60px;
    // }
    // .slick-dots li button {
    //     width: 20px;
    //     height: 20px;
    //     border: 1px solid var(--color-light);
    //     border-radius: 50%;
    //     transition: 300ms ease-in-out;
    // }
    // .slick-dots li button:before {
    //     content: "";
    //     opacity: 0;
    // }
    // .slick-dots li.slick-active {
    //     width: 60px;
    //     height: 60px;
    // }
    // .slick-dots li.slick-active button {
    //     width: 60px;
    //     height: 60px;
    // }
    // .slick-dots li.slick-active button::before {
    //     border-radius: 50%;
    //     background-color: var(--color-secondary);
    //     width: 20px;
    //     height: 20px;
    //     left: 20px;
    //     top: 20px;
    //     opacity: 1;
    //     transition: 300ms ease-in-out;
    // }
    // .slick-dotted.slick-slider {
    //     margin-bottom: 0;
    // }
}

.default-nav-tabs {
    justify-content: space-between;
    border-bottom: transparent;
    a,
    .nav-link {
        font-size: var(--typo-md);
        color: var(--color-light);
        padding: 15px 20px;
        border-radius: 0;
        transition: 0.3s;
        &.active {
            color: var(--color-light);
            background-color: transparent;
            &:hover {
                border-color: var(--color-light);
            }
        }
        &:hover {
            border-color: transparent;
            border-bottom-color: var(--color-light);
        }
    }
}
.default-tab-content {
    padding: 3rem 0;
    // .right-side {
    // }
}

.default-list {
    .item-list {
        > li {
            padding: 30px 0;
            border-top: 1px solid rgba(255, 255, 255, 0.6);
            &:last-child {
                border-bottom: 1px solid rgba(255, 255, 255, 0.6);
            }
        }
    }
    .icon {
        margin-right: 3rem;
    }
    .link {
        color: var(--color-primary);
    }
    .desc {
        margin-bottom: 1rem;
    }
}

.default-list {
    border-top: 1px solid rgba(255, 255, 255, 0.6);
    .icon {
        font-size: 55px;
        margin-right: 3rem;
        transition: 0.2s;
        svg path {
            transition: 0.2s;
        }
    }
    .title {
        transition: 0.2s;
    }
    .desc {
        margin-bottom: 1rem;
    }
    .link {
        display: block;
        color: var(--color-primary);
        padding: 30px 0 28px 0;
        border-bottom: 1px solid rgba(255, 255, 255, 0.6);
        &:hover {
            .title {
                color: var(--color-primary-light);
            }
            .icon {
                color: var(--color-primary-light);
            }
            .icon svg path {
                stroke: var(--color-primary-light);
            }
        }
    }
}

// theme 1
.theme-1 {
    .main-page > div:nth-child(2) {
        padding-top: 5rem;
    }
    .site-container {
        background: linear-gradient(#fff 0%, #f2f5ff 100%);
    }
    .git-conference-block {
        position: relative;
        margin-bottom: 5rem;
        padding-bottom: 4rem;
        &::before {
            content: "";
            position: absolute;
            top: 60%;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: var(--color-primary);
            background: url("../img/background/bg-git-museum.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .cover {
            position: relative;
            top: -2px;
        }
        .h-title {
            margin-bottom: 1.5rem;
        }
    }
    .banner {
        .container {
            max-width: 1780px;
            width: 100%;
        }
    }
    .banner-I-block {
        overflow: hidden;
        padding-top: 8rem;
        margin-bottom: 5rem;
        .wrapper {
            padding: 5rem 0;
            position: relative;
            color: var(--color-light);
            background: url("../img/background/bg-banner-theme-2.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            // margin-top: 6rem;
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                background: linear-gradient(200deg, #000 0%, rgba(255, 255, 255, 0) 36%);
                // z-index: 1;
            }
        }
        .action {
            position: relative;
            z-index: 2;
            a {
                display: inline-block;
            }
        }
        .graphic {
            position: absolute;
            bottom: 0;
            right: 50%;
            z-index: 1;
            margin-right: -1084px;
        }
        .h-title {
            margin-bottom: 1rem !important;
        }
        .subtitle {
            font-size: 26px;
            margin-bottom: 0.5rem;
        }
        .desc {
            font-size: 22px;
            margin-bottom: 1rem;
        }
        .banner-txt {
            position: relative;
            z-index: 1;
        }
    }
    .banner-II-block {
        position: relative;
        margin-bottom: 5rem;
        .cover {
            padding-bottom: 40.125%;
        }
        .h-title {
            margin-bottom: 0 !important;
        }
        .wrapper {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            .inner {
                display: flex;
                align-items: center;
                justify-content: center;
                height: 100%;
            }
        }
    }

    .banner-III-block {
        color: var(--color-primary);
        // padding: 3rem 0;
        margin-bottom: 5rem;
        .wrapper {
            position: relative;
        }
        .h-title {
            position: absolute;
            font-weight: var(--fw-medium);
            line-height: 1em;
            top: 30px;
            z-index: 1;
        }
        .frame-img {
            // margin-top: -8.7rem;
            margin-left: 9.8rem;
        }
        .cover {
            background-color: #f2f5ff;
            padding-bottom: 58%;
        }
        .box {
            position: absolute;
            z-index: 1;
            top: 180px;
            left: 0;
            max-width: 460px;
            .inner {
                padding: 2rem;
            }
            .title {
                font-size: var(--typo-lg);
                margin-bottom: 1rem;
            }
            .subtitle {
                font-size: var(--typo-sm);
                margin-bottom: 1rem;
            }
            .desc {
                font-size: var(--typo-xs);
                margin-bottom: 0.5rem;
            }
        }
    }

    .e-services-block {
        margin-bottom: 3rem;
        .item-list {
            margin: 0 -10px;
            & > li {
                width: 25%;
                padding: 0 10px;
                margin-bottom: 3rem;
            }
            & li:first-child {
                margin-top: 5rem;
            }
            & li:nth-child(2) {
                margin-top: 10rem;
            }
            & li:nth-child(4),
            & li:last-child {
                margin-top: 4rem;
            }
        }

        .link {
            display: block;
            position: relative;
            padding-right: 1.4rem;
            .title {
                font-size: var(--typo-lg);
                color: var(--color-light);
                transition: 0.3s;
            }
            .subtitle {
                font-size: var(--typo-lg);
                color: var(--color-light);
                text-transform: uppercase;
                transition: 0.3s;
            }
            .inner {
                position: absolute;
                top: 0;
                left: 0;
                right: 1.4rem;
                bottom: 0;
                padding: 2rem 2rem 2rem 2rem;
                z-index: 2;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
            .text-orient {
                position: absolute;
                top: 0;
                right: 0;
                text-transform: uppercase;
                color: var(--color-primary);
                max-height: 100%;
            }

            &:hover {
                // .inner {
                .title,
                .subtitle {
                    opacity: 0.6;
                }
                // transform: scale(1.2) translateX(20px) translateY(20px);
                // zoom: 1.1;
                // }
            }
        }
        .cover {
            padding-bottom: 170%;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
                z-index: 1;
                mix-blend-mode: multiply;
                background: linear-gradient(to bottom left, rgba(255, 255, 255, 0) 0%, #122a72 100%);
            }
        }
    }

    .lab-update-block {
        overflow: hidden;
        margin-bottom: 5rem;
        .default-slider-dots .slick-dots li button {
            border-color: var(--color-default);
        }
        .default-slider-dots .slick-dots li.slick-active button {
            border-color: var(--color-primary-light);
        }
        .default-slider-dots .slick-dots li.slick-active button::before {
            background-color: transparent;
            border: 1px solid var(--color-primary-light);
        }
    }
    .git-library-block {
        margin-bottom: 5rem;
        .h-title {
            margin-bottom: 2rem;
        }
        .library-form {
            padding: 2rem;
        }
        .icon {
            position: relative;
            top: 2px;
            font-size: 50px;
        }
        .desc {
            font-size: var(--typo-sm);
        }
        .form-default .block-control .form-control {
            color: var(--color-light);
            background-color: #012c7b;
            border-radius: 5px;
        }
        .select2-container--default .select2-selection--single {
            background-color: #012c7b;
            border-radius: 5px;
        }
        .select2-container--default .select2-selection--single .select2-selection__rendered {
            color: var(--color-light);
        }
        .select2-container--default .select2-selection--single .select2-selection__arrow::before {
            color: var(--color-light);
        }
    }
    .weblink-block {
        margin-bottom: 5rem;
        .weblink-list {
            margin-top: 2rem;
        }
        .thumbnail {
            border: 1px solid var(--color-border);
        }
        .cover {
            padding-bottom: 100%;
        }
        .slick-list {
            margin: 0 -10px;
        }
        .item {
            padding: 0 10px;
        }
        .default-slider-dots .slick-dots {
            bottom: -110px;
        }
        .slick-dotted.slick-slider {
            margin-bottom: 110px;
        }
        .default-slider-dots .slick-dots li button {
            border-color: var(--color-default);
        }
        .default-slider-dots .slick-dots li.slick-active button {
            border-color: var(--color-primary-light);
        }
        .default-slider-dots .slick-dots li.slick-active button::before {
            background-color: transparent;
            border: 1px solid var(--color-primary-light);
        }
    }
    .museum-block {
        position: relative;
        color: var(--color-light);
        margin-bottom: 5rem;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 200px;
            bottom: 11rem;
            background-color: var(--color-primary);
            background: url("../img/background/bg-git-museum.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
        }
        .item-list {
            > li {
                width: 33.33%;
            }
        }
        .museum-header {
            padding: 8rem 0;
            .desc {
                font-size: var(--typo-lg);
                margin-bottom: 2rem;
            }
        }
        .museum-container {
            margin-right: 0;
            padding: 0;
            max-width: 1440px;
            width: 100%;
            .wrapper {
                position: relative;
                color: var(--color-light);
                height: 360px;
                padding: 2rem;
                background-color: var(--color-primary);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                transition: all 0.3s ease-in-out;
                &::before {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--color-dark);
                    opacity: 0;
                    transition: all 0.3s ease-in-out;
                }
            }
            .topic {
                font-size: var(--typo-lg);
                line-height: 1.2em;
                min-height: 8rem;
                span {
                    position: relative;
                    top: 4px;
                    font-size: 30px;
                    transition: 0.3s;
                }
            }
            .title {
                font-size: var(--typo-xl);
                line-height: 1.2em;
                margin-bottom: 1.5rem;
            }
            .desc {
                margin-bottom: 1rem;
            }
            .topic,
            .title,
            .desc {
                position: relative;
                z-index: 1;
            }
            .link {
                &:hover {
                    .wrapper::before {
                        opacity: 0.8;
                    }
                    .topic span {
                        color: var(--color-primary);
                    }
                }
            }
        }
        .museum-header,
        .museum-container {
            position: relative;
            z-index: 1;
        }
    }
    .git-book-block {
        margin-bottom: 5rem;
        .default-nav-tab li {
            // width: 33.33%;
            .item {
                font-size: var(--typo-md);
                text-transform: uppercase;
            }
        }
        .booklist {
            // margin-top: -10rem;
            .cover {
                position: relative;
                padding-bottom: 133%;
                margin-bottom: 1rem;
                &::after {
                    content: "";
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: var(--color-primary);
                    opacity: 0;
                    transition: 0.3s;
                }
            }
            .slick-list {
                margin: 0 -10px;
            }
            .item {
                padding: 0 10px;
            }
            .link {
                color: var(--color-dark);
            }
            .default-slider-dots .slick-dots {
                bottom: -120px;
            }
            .slick-dotted.slick-slider {
                margin-bottom: 180px;
            }
            .default-slider-dots .slick-dots li button {
                border-color: var(--color-default);
            }
            .default-slider-dots .slick-dots li.slick-active button {
                border-color: var(--color-primary-light);
            }
            .default-slider-dots .slick-dots li.slick-active button::before {
                background-color: transparent;
                border: 1px solid var(--color-primary-light);
            }
        }
    }
}
// theme 1

@media (max-width: 1600px) {
    .main-page {
        .h-title {
            font-size: 60px;
        }
    }
    .theme-1 {
        .banner-I-block {
            .subtitle {
                font-size: var(--typo-md);
            }
            .desc {
                font-size: var(--typo-sm);
            }
            .graphic {
                margin-right: -920px;
                max-width: 620px;
            }
        }
        .museum-block::before {
            right: 150px;
            bottom: 10rem;
        }
        .museum-block .museum-header {
            padding: 6rem 0;
        }
        .museum-block .museum-container .wrapper {
            height: 324px;
        }
        .museum-block .museum-container {
            max-width: 1395px;
        }
        .museum-block .museum-container .topic {
            min-height: 5rem;
        }
        .git-book-block .booklist .default-slider-dots .slick-dots {
            bottom: -110px;
        }
        .git-book-block .booklist .slick-dotted.slick-slider {
            margin-bottom: 170px;
        }
    }
}

@media (max-width: 1440px) {
    .top-graphic .info .wrapper {
        margin-bottom: 7rem;
    }

    .default-nav-tabs a,
    .default-nav-tabs .nav-link {
        padding: 15px;
    }

    .default-list .link {
        padding: 25px 0 23px 0;
    }
    .default-list .icon {
        font-size: 50px;
    }

    .main-page {
        .h-title {
            font-size: 50px;
        }
    }
    .theme-1 {
        .banner-I-block {
            padding-top: 5rem;
            .wrapper {
                padding: 4rem 0;
            }
            .graphic {
                margin-right: -860px;
                max-width: 560px;
            }
        }
        .banner-III-block {
            .frame-img {
                margin-left: 8.4rem;
            }
            .box {
                top: 160px;
                max-width: 430px;
            }
        }

        .e-services-block .item-list li:first-child {
            margin-top: 4rem;
        }
        .e-services-block .item-list li:nth-child(2) {
            margin-top: 8rem;
        }
        .e-services-block .item-list li:nth-child(4),
        .e-services-block .item-list li:last-child {
            margin-top: 3rem;
        }
        .weblink-block .default-slider-dots .slick-dots {
            bottom: -100px;
        }
        .museum-block .museum-container {
            max-width: 1210px;
        }
        .museum-block .museum-header {
            padding: 4rem 0;
        }
        .git-book-block .booklist .slick-dotted.slick-slider {
            margin-bottom: 140px;
        }
        .git-book-block .booklist .default-slider-dots .slick-dots {
            bottom: -90px;
        }
    }
}

@media (max-width: 1199px) {
    .top-graphic .info .wrapper {
        margin-bottom: 6rem;
    }

    .main-page {
        .h-title {
            font-size: 40px;
        }
    }
    .theme-1 {
        .banner-I-block {
            padding-top: 4rem;
            .wrapper {
                padding: 3rem 0;
            }
            .graphic {
                margin-right: -730px;
                max-width: 470px;
            }
        }
        .banner-III-block {
            .box {
                top: 130px;
                max-width: 382px;
            }
            .frame-img {
                margin-left: 6.8rem;
            }
        }

        .e-services-block .link .title,
        .e-services-block .link .subtitle {
            font-size: var(--typo-md);
        }
        .e-services-block .link .inner {
            padding: 1.8rem;
        }
        .e-services-block .item-list li:first-child {
            margin-top: 3rem;
        }
        .e-services-block .item-list li:nth-child(2) {
            margin-top: 6rem;
        }
        .e-services-block .item-list li:nth-child(4),
        .e-services-block .item-list li:last-child {
            margin-top: 1.5rem;
        }
        .weblink-block .default-slider-dots .slick-dots {
            bottom: -80px;
        }
        .weblink-block .slick-dotted.slick-slider {
            margin-bottom: 120px;
        }
        .weblink-block .weblink-list {
            margin-top: 26px;
        }
        .git-library-block .icon {
            font-size: 44px;
        }
        .museum-block::before {
            right: 35px;
        }
        .museum-block .museum-container {
            max-width: 992px;
        }
        .museum-block .museum-container .title {
            font-size: var(--typo-lg);
        }
        .museum-block .museum-container .wrapper {
            height: 280px;
            padding: 1.5rem;
        }
        .git-book-block .booklist .default-slider-dots .slick-dots {
            bottom: -80px;
        }
    }
}

@media (max-width: 991px) {
    .top-graphic .slick-dots {
        bottom: 5px;
    }
    .top-graphic .info .wrapper {
        margin-bottom: 5rem;
    }
    .top-graphic .info .title {
        margin-bottom: 1rem;
    }

    .default-nav-tabs {
        justify-content: flex-start;
    }
    .default-nav-tabs a,
    .default-nav-tabs .nav-link {
        font-size: var(--typo-sm);
    }

    .default-list .icon {
        margin-right: 2rem;
        font-size: 44px;
    }

    .main-page {
        .h-title {
            font-size: 36px;
        }
    }

    .theme-1 {
        .banner-I-block,
        .banner-II-block,
        .banner-III-block,
        .lab-update-block,
        .git-library-block,
        .museum-block,
        .git-book-block,
        .weblink-block {
            margin-bottom: 4rem;
        }
        .git-library-weblinks,
        .git-book-block {
            overflow: hidden;
        }
        .weblink-block .slick-list,
        .git-book-block .booklist .slick-list {
            overflow: visible;
        }
        .banner-I-block {
            padding-top: 4rem;
            .graphic {
                margin-right: -660px;
                max-width: 440px;
            }
        }
        .banner-III-block {
            .box {
                top: 115px;
            }
            .frame-img {
                margin-left: 5.5rem;
            }
        }
        .e-services-block {
            margin-bottom: 1rem;
        }
        .e-services-block .item-list > li {
            width: 50%;
        }
        .e-services-block .item-list li:first-child,
        .e-services-block .item-list li:nth-child(2),
        .e-services-block .item-list li:nth-child(4),
        .e-services-block .item-list li:last-child {
            margin-top: 0;
        }
        .e-services-block .link .title,
        .e-services-block .link .subtitle {
            font-size: var(--typo-xl);
        }
        .lab-update-block {
            .default-slider-dots {
                margin-bottom: 60px;
                .slick-dots {
                    bottom: -50px;
                }
            }
        }
        .git-library-block .icon {
            font-size: 28px;
        }
        .museum-block::before {
            right: 0;
            // content: none;
        }
        .museum-block .museum-header {
            padding: 3rem 0;
        }
        .museum-block .museum-container .wrapper {
            height: 260px;
        }
        .git-book-block .booklist .slick-list {
            margin: 0 -7.5px;
        }
        .git-book-block .booklist .item {
            padding: 0 7.5px;
        }
        .git-book-block .booklist .slick-dotted.slick-slider {
            margin-bottom: 66px;
        }
    }
}

@media (max-width: 767px) {
    .top-graphic .info .wrapper {
        margin-bottom: 4.4rem;
    }
    .top-graphic .info .title {
        margin-bottom: 5px;
    }
    .default-tab-content {
        padding: 1.5rem 0;
    }
    .default-nav-tabs .nav-item {
        width: 100%;
    }

    .default-list .icon {
        font-size: 40px;
        margin-right: 1rem;
    }
    .default-list .link {
        padding: 20px 0 18px 0;
    }

    .main-page {
        .h-title {
            font-size: 32px;
            margin-bottom: 2rem;
        }
    }

    .theme-1 {
        .banner-I-block,
        .banner-II-block,
        .banner-III-block,
        .lab-update-block,
        .git-library-block,
        .museum-block,
        .git-book-block,
        .weblink-block {
            margin-bottom: 3rem;
        }
        .banner-I-block {
            padding-top: 0;
            .h-title {
                margin-bottom: 0.5rem;
            }
            .wrapper {
                padding: 2rem 15px;
            }
            .graphic {
                display: none;
            }
            .action a {
                width: 160px;
            }
            // .action a + a {
            //     margin-left: 10px;
            // }
        }
        .banner-III-block .h-title,
        .banner-III-block .box {
            top: auto;
            position: relative;
        }
        .banner-III-block .h-title {
            margin-bottom: 1rem;
        }
        .banner-III-block .box {
            margin-top: -6rem;
        }
        .banner-III-block .frame-img {
            margin-left: 3rem;
        }
        .banner-III-block .h-title br,
        .banner-III-block .box .subtitle br {
            display: none;
        }
        .e-services-block .link .title,
        .e-services-block .link .subtitle {
            font-size: var(--typo-lg);
        }
        .weblink-block .default-slider-dots .slick-dots {
            bottom: -70px;
        }
        .weblink-block .slick-list {
            margin: 0 -7.5px;
        }
        .weblink-block .item {
            padding: 0 7.5px;
        }
        .weblink-block .slick-dotted.slick-slider {
            margin-bottom: 90px;
        }
        .git-library-block .library-form {
            padding: 1.5rem;
        }
        .museum-block .item-list > li {
            width: 100%;
        }
        .museum-block .museum-container .wrapper {
            padding: 25px 15px;
            height: auto;
        }
        .museum-block .museum-container .topic {
            min-height: auto;
            margin-bottom: 1.5rem;
        }
        .museum-block .museum-header .desc {
            font-size: var(--typo-md);
            margin-bottom: 1rem;
        }
        .git-book-block .booklist .slick-dotted.slick-slider {
            margin-bottom: 55px;
        }
        .git-book-block .booklist .default-slider-dots .slick-dots {
            bottom: -65px;
        }
    }
}

@media (max-width: 575px) {
    .main-page {
        .h-title {
            font-size: 30px;
            margin-bottom: 1.5rem;
        }
    }

    .theme-1 {
        .banner-I-block .action a {
            width: 135px;
            margin-bottom: 10px;
        }
        .banner-II-block .h-title {
            font-size: 22px;
        }

        .banner-III-block .box .inner {
            padding: 1rem;
        }
        .banner-III-block .box {
            max-width: initial;
            margin-bottom: 0;
        }
        .banner-III-block .frame-img {
            margin-left: 0;
        }
        .banner-III-block .box {
            margin-top: 0rem;
        }
        .e-services-block .item-list > li {
            width: 100%;
            margin-bottom: 1rem;
        }
        .git-library-block .h-title {
            margin-bottom: 1rem;
        }
        .weblink-block .weblink-list {
            margin-top: 1rem;
        }
        .museum-block .museum-header {
            padding: 2rem 0;
        }
        .museum-block .museum-header .desc br {
            display: none;
        }
    }
}

@media (max-width: 1600px) {
}

@media (max-width: 1440px) {
}

@media (max-width: 1199px) {
}

@media (max-width: 991px) {
}

@media (max-width: 767px) {
}

@media (max-width: 575px) {
}
