.default-header {
    .top-graphic {
        position: relative;
        .cover {
            padding-bottom: 345px;
        }
        .wrapper {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            .title {
                color: var(--color-white);
                margin-bottom: 30px;
                text-align: center;
            }
            .breadcrumb {
                // flex-wrap: nowrap;
                justify-content: center;
                .breadcrumb-item {
                    margin: 10px 0;
                    color: var(--color-white);
                    font-size: 22px;
                    line-height: 1.4em;
                    a {
                        color: var(--color-white);
                        text-decoration: none;
                    }
                }
                .breadcrumb-item.active {
                    max-width: 400px;
                    overflow: hidden;
                    display: -webkit-box;
                    -webkit-box-orient: vertical;
                    -webkit-line-clamp: 1;
                }
            }
        }
        &.text-primary {
            .wrapper .title,
            .breadcrumb li + li:before,
            .wrapper .breadcrumb .breadcrumb-item,
            .wrapper .breadcrumb .breadcrumb-item a {
                color: var(--color-primary);
            }
        }
        &.text-dark {
            .wrapper .title,
            .breadcrumb li + li:before,
            .wrapper .breadcrumb .breadcrumb-item,
            .wrapper .breadcrumb .breadcrumb-item a {
                color: var(--color-dark);
            }
        }
    }
}

.theme-3 {
    .default-header {
        .top-graphic {
            position: relative;
            .cover {
                padding-bottom: 162px;
            }
            .cover::before {
                background: linear-gradient(to left, rgba(0, 0, 0, 0) 0%, #000 100%);
                opacity: 0.85;
            }
            .wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: inherit;
                padding: 0 15px;
                // width: 100%;
                z-index: 1;
                .title {
                    color: var(--color-light);
                    margin-bottom: 0;
                    text-align: left;
                }
                .breadcrumb {
                    justify-content: flex-start;
                    .breadcrumb-item {
                        margin: 0;
                        color: var(--color-light);
                        font-size: 22px;
                        &::before {
                            color: var(--color-light);
                        }
                        a {
                            color: var(--color-light);
                            text-decoration: none;
                        }
                    }
                    .breadcrumb-item.active {
                        max-width: inherit;
                        overflow: hidden;
                        display: -webkit-box;
                        -webkit-box-orient: vertical;
                        -webkit-line-clamp: 1;
                    }
                }
            }
            // &.text-light {
                // .wrapper .title,
                // .wrapper .breadcrumb .breadcrumb-item,
                // .wrapper .breadcrumb .breadcrumb-item::before,
                // .wrapper .breadcrumb .breadcrumb-item a {
                //     color: var(--color-light);
                // }
            // }
        }
    }
}

.default-nav-slider {
    position: relative;
    max-width: 1040px;
    margin: 0 auto;
    .item {
        position: relative;
        padding: 30px 40px;
        padding-bottom: 74px;
        font-size: var(--typo-sm);
        text-align: center;
        line-height: 1em;
        height: calc(1em * 2);
        -webkit-line-clamp: 2;
        z-index: 2;
        a {
            text-decoration: none;
            color: #cccccc;
            transition: all 200ms ease-out;
            &:hover {
                color: var(--color-primary);
                &::before {
                    content: "";
                    background-image: url(../img/static/border.svg);
                    width: 100%;
                    background-repeat: no-repeat;
                    height: 15px;
                    position: absolute;
                    background-position: center;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                }
            }
        }
        .active {
            color: var(--color-primary);
            &::before {
                content: "";
                background-image: url(../img/static/border.svg);
                width: 100%;
                background-repeat: no-repeat;
                height: 15px;
                position: absolute;
                background-position: center;
                left: 0;
                right: 0;
                margin: auto;
                bottom: 0;
            }
        }
    }
    .slick-arrow {
        // top: 45%;
        top: 50%;
    }
    .slick-prev,
    .slick-next {
        &::before {
            font-family: "feather";
            font-size: 30px;
            line-height: 0.5;
            opacity: 1;
            content: "#";
            color: transparent;
            background-repeat: no-repeat;
            -webkit-filter: brightness(0%);
            filter: brightness(0%);
        }
        &:hover {
            &::before {
                -webkit-filter: unset;
                filter: unset;
            }
        }
    }
    .slick-prev {
        &::before {
            background-image: url(../img/icon/icon-chevron-left.svg);
        }
    }
    .slick-next {
        &::before {
            background-image: url(../img/icon/icon-chevron-right.svg);
        }
    }
}

.border-nav-slider {
    border-bottom: 1px solid #cccccc;
    position: relative;
    // z-index: -1;
    bottom: 14px;
}

.default-tab-slider {
    margin-bottom: 100px !important;
    &::before {
        content: "";
        position: absolute;
        z-index: 2;
        // left: -10px;
        width: 4px;
        height: 100%;
        background-color: var(--color-primary);
    }
    .slick-list {
        margin: 0 -1px;
        margin-left: 0;
        .item {
            padding: 0 1px;
            .tab-block {
                padding: 20px 30px;
                border: 1px solid #e1e1e1;
                text-align: center;
                cursor: pointer;
                font-size: var(--typo-sm);
                transition: all 200ms ease-out;
                &:hover {
                    background-color: #f2f5ff;
                }
                a {
                    text-align: center;
                    color: var(--color-primary-dark);
                    text-decoration: none;
                    &:hover {
                        color: var(--color-primary-dark);
                    }
                }
            }
            .active {
                background-color: #f2f5ff;
            }
        }
        .slick-track {
            margin: 0;
        }
    }
}

.download-block {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 40px 0;
    margin-bottom: 30px;
    .title {
        margin-bottom: 10px;
        color: var(--color-primary);
    }
    .icon.-icon-download {
        margin-right: 15px;
    }
    .download-block-type {
        display: flex;
        align-items: center;
        .icon {
            margin-right: 10px;
        }
        .desc {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                border-right: 1px solid #cccccc;
                right: -15px;
                height: 100%;
            }
            span {
                color: var(--color-primary);
            }
        }
        .desc.view {
            &::before {
                border-right: 1px solid #013f94;
            }
        }
        .desc.time {
            &::before {
                border: none;
            }
        }
    }
    .download-block-btn {
        width: 100%;
        display: flex;
        padding-left: 45px;
        .btn {
            color: var(--color-primary);
            line-height: inherit;
            height: -webkit-fit-content;
            height: -moz-fit-content;
            height: fit-content;
            min-width: -webkit-max-content;
            min-width: -moz-max-content;
            min-width: max-content;
        }
    }
}

.news-block {
    border-top: 1px solid #cccccc;
    border-bottom: 1px solid #cccccc;
    padding: 20px 0;
    margin-bottom: 30px;
    .cover {
        width: 400px;
        height: 300px;
    }
    .title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
    }
    .desc {
        padding-top: 35px;
        padding-bottom: 25px;
        font-size: var(--typo-xs);
        color: var(--color-black);
    }
    .btn {
        cursor: pointer;
        color: var(--color-primary);
        margin-top: 20px;
        text-align: left;
        padding: 0;
    }
    .typo-xs {
        position: relative;
        bottom: 2px;
    }
}

.iframe-container {
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.2%;
    margin: 0 auto;
    margin-bottom: 30px;
    .responsive-iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        border: none;
        // padding-left: 15px;
        // padding-right: 15px;
    }
}

.pagination-block {
    .pagination-label {
        color: var(--color-primary);
    }
    .pagination {
        float: right;
        margin: 0;
        .item-list {
            display: flex;
            align-items: center;
        }
    }
}

.job-source-block {
    border: 2px solid #f2f5ff;
    padding: 20px;
    transition: all 200ms ease-out;
    &:hover {
        background-color: #f2f5ff;
        cursor: pointer;
    }
    .title {
        color: var(--color-primary);
        font-weight: var(--fw-medium);
        font-size: var(--typo-md);
    }
    .desc {
        color: var(--color-primary);
        font-size: var(--typo-xs);
    }
    .job-source-location {
        border-top: dashed 1px #cccccc;
        padding-top: 1rem;
        .desc {
            padding: 0 10px;
            color: var(--color-primary);
            font-weight: var(--fw-medium);
        }
    }
}

@media (max-width: 1600px) {
}

@media (max-width: 1400px) {
}

@media (max-width: 1199px) {
    .border-nav-slider {
        bottom: 13px;
    }
}

@media (max-width: 991px) {
    .default-nav-slider {
        .slick-prev {
            left: -2px;
            z-index: 2;
        }
        .slick-next {
            right: -6px;
        }
    }
    .news-block {
        .cover {
            width: 350px;
            height: 250px;
        }
        .desc {
            padding-top: 20px;
            padding-bottom: 10px;
        }
    }
    .default-header {
        .top-graphic {
            .cover {
                padding-bottom: 290px;
            }
        }
    }
}

@media (max-width: 767px) {
    .top-graphic {
        .wrapper {
            width: 100%;
            .breadcrumb {
                justify-content: center;
            }
        }
    }
    .download-block {
        padding: 20px 0;
        .download-block-btn {
            margin-top: 20px;
        }
    }
    .news-block {
        .cover {
            height: 280px;
        }
        .desc {
            padding: 10px 0;
        }
        .btn {
            margin-top: 10px;
        }
    }
    .default-header {
        .top-graphic {
            .cover {
                padding-bottom: 200px;
            }
            .wrapper {
                .title {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .download-block {
        // padding: 20px 0;
        .title {
            margin-bottom: 15px;
        }
        .icon.-icon-download {
            margin-top: 5px;
            width: 35px;
        }
        .download-block-type {
            margin-bottom: 15px;
        }
        .download-block-btn {
            margin-top: 10px;
            padding-left: 35px;
        }
    }
    .news-block {
        // padding-top:20px ;
        padding-bottom: 0;
        .cover {
            width: 100%;
            height: 300px;
        }
        .title {
            padding-top: 15px;
        }
    }
    .pagination-block {
        .pagination-label {
            text-align: center;
            padding-bottom: 20px;
        }
        .pagination {
            float: none;
            justify-content: center;
            li + li {
                margin-left: 35px;
            }
        }
    }
    .desc {
        &::before {
            display: none;
        }
    }
}

@media (max-width: 414px) {
    .top-graphic {
        .wrapper {
            .title {
                margin-bottom: 0;
            }
        }
    }
    .breadcrumb {
        display: none;
    }
    .theme-3 .default-header .top-graphic .wrapper .title {
        text-align: center;
    }
}

@media (max-width: 375px) {
    .job-source-block {
        padding: 15px 10px;
    }
    .default-header {
        .top-graphic {
            .cover {
                padding-bottom: 200px;
            }
            .wrapper {
                .title {
                    margin: 0;
                }
            }
        }
    }
}
