.intro-page {
}
.intro-slider {
    .cover {
        padding-bottom: calc(100vh - 150px);
    }
    .video-container {
        padding-bottom: calc(100vh - 150px);
        background-color: #000;
    }
}
.intro-content {
    background: url(../img/background/GIT-Pattern-Signature.svg), #091741;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    .height {
        height: 150px;
        align-items: center;
    }
    .action {
        text-align: right;
    }
}

.site-container.intro {
    margin-top: 0;
}

@media (max-width: 1440px) {
    .intro-slider .cover {
        padding-bottom: calc(100vh - 120px);
    }
    .intro-slider .video-container {
        padding-bottom: calc(100vh - 120px);
    }
    .intro-content .height {
        height: 120px;
    }
}
@media (max-width: 991px) {
    .intro-page {
        height: 100vh;
    }
    .intro-slider .cover {
        padding-bottom: 60%;
    }
    .intro-slider .video-container {
        padding-bottom: 60%;
    }
    .intro-content {
        height: 100%;
        // background: #091741;
    }
    .intro-content .height {
        padding: 2rem 0;
        height: auto;
        border-bottom: 1px solid #ebebeb;
    }
}
@media (max-width: 767px) {
    .intro-content .logo {
        text-align: center;
        margin-bottom: 1rem;
    }
    .intro-content {
    }
    .intro-content .action {
        text-align: center;
    }
    .intro-content .logo img {
        height: 70px;
    }
}