.allsun {
  table {
    border-collapse: collapse;
    width: 100%;
  }

  td,
  th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 10px;
  }

  .tg {
    padding: 10px;
    text-align: left;
    border: 1px solid #dddddd;
    position: relative;
    padding-inline: 30px;
    font-weight: normal;
  }

  .tt {
    background-color: #f0f0f0;
    font-size: 36px;
  }

  .ttt {
    color: #053e88;
  }

  .ta {
    color: #e72c3a;
    padding: 10px;
    text-align: left;
    border: 0px;
    border-left: #cccccc;
    position: relative;
    padding-inline: 30px;
    font-size: 36px;
  }

  .tb {
    color: #003e88;
    text-align: center;
    padding: 10px;
    border: 0px;
    width: 15%;
    font-size: 36px;
  }

  .tc {
    color: #888787;
    font-size: 30px;
    padding: 10px;
    border: #cccccc;
  }

  .te {
    text-align: center;
    padding: 10px;
    font-weight: normal;
  }

  .tf {
    color: #e72c3a;
    text-align: center;
    padding: 10px;
  }

  .font-sub-v2 {
    font-size: 48px;
    font-weight: 600;
    line-height: 1.2em;
    color: #003e88;
    font-style: italic;
    margin-bottom: 10px;
  }

  .ti {
    font-size: 48px;
    color: #ffffff;
    font-weight: 600;
    font-style: italic;
    padding: 30px 35px;
    background-color: #003e88;
  }
  .scroll {
    width: 100%;
    overflow-x: auto;
  }
}
@media (max-width: 1600px) {
  .allsun .font-sub-v2 {
    font-size: 35px;
  }
  .allsun .ti {
    font-size: 48px;
  }
  .allsun .ta {
    font-size: 36px;
  }
  .allsun .tb {
    font-size: 36px;
  }
  .allsun .tg {
    font-size: 30px;
  }
  .allsun .te {
    font-size: 30px;
  }
  .allsun .tf {
    font-size: 30px;
    font-weight: bold;
  }
}

@media (max-width: 1440px) {
  .allsun .font-sub-v2 {
    font-size: 34px;
  }
  .allsun .ti {
    font-size: 47px;
  }
  .allsun .ta {
    font-size: 35px;
  }
  .allsun .tb {
    font-size: 35px;
  }
  .allsun .tg {
    font-size: 29px;
  }
  .allsun .te {
    font-size: 29px;
  }
  .allsun .tf {
    font-size: 29px;
    font-weight: bold;
  }
}

@media (max-width: 1366px) {
  .allsun .font-sub-v2 {
    font-size: 33px;
  }
  .allsun .ti {
    font-size: 46px;
  }
  .allsun .ta {
    font-size: 34px;
  }
  .allsun .tb {
    font-size: 34px;
  }
  .allsun .tg {
    font-size: 28px;
  }
  .allsun .te {
    font-size: 28px;
  }
  .allsun .tf {
    font-size: 28px;
    font-weight: bold;
  }
}

@media (max-width: 1200px) {
  .allsun .font-sub-v2 {
    font-size: 32px;
  }
  .allsun .ti {
    font-size: 45px;
  }
  .allsun .ta {
    font-size: 33px;
  }
  .allsun .tb {
    font-size: 33px;
  }
  .allsun .tg {
    font-size: 27px;
  }
  .allsun .te {
    font-size: 27px;
  }
  .allsun .tf {
    font-size: 27px;
    font-weight: bold;
  }
}

@media (max-width: 1024px) {
  .allsun .font-sub-v2 {
    font-size: 30px;
  }
  .allsun .ti {
    font-size: 32px;
  }
  .allsun .ta {
    font-size: 30px;
  }
  .allsun .tb {
    font-size: 30px;
  }
  .allsun .tg {
    font-size: 25px;
  }
  .allsun .te {
    font-size: 25px;
  }
  .allsun .tf {
    font-size: 25px;
    font-weight: bold;
  }
}

@media (max-width: 991px) {
  .allsun .font-sub-v2 {
    font-size: 28px;
  }
  .allsun .ti {
    font-size: 30px;
  }
  .allsun .ta {
    font-size: 28px;
  }
  .allsun .tb {
    font-size: 28px;
  }
  .allsun .tg {
    font-size: 23px;
  }
  .allsun .te {
    font-size: 23px;
  }
  .allsun .tf {
    font-size: 23px;
    font-weight: bold;
  }
}

@media (max-width: 375px) {
  .allsun .font-sub-v2 {
    font-size: 36px;
  }
  .allsun .ti {
    font-size: 28px;
  }
  .allsun .ta {
    font-size: 26px;
  }
  .allsun .tb {
    font-size: 26px;
  }
  .allsun .tg {
    font-size: 21px;
  }
  .allsun .te {
    font-size: 21px;
  }
  .allsun .tf {
    font-size: 21px;
    font-weight: bold;
  }
}
