// page - start
.news-hilight{padding-bottom: 80px;
    .slick-prev, .slick-next {top: 0; bottom: 0;margin: auto;}    
    .slick-prev { left: -70px;margin-left: 0;}
    .slick-next { right: -70px;margin-right: 0;}
    .news-default{
        .thumb{padding-right: 50px;
            flex-basis: 0;
            flex-grow: 1;
            max-width: 100%;
            .cover{padding-bottom: 60%;}
        }
        .content{margin-bottom: 50px;
            flex: 0 0 auto;
            width: 400px;
            max-width: 100%;
            .font-body{padding-right: 0;
                height: 1.2em*6;
                -webkit-line-clamp: 6;
            }
        }
    }
    .link{display: flex; width: 100%;}
    
}
.news-list{padding-bottom: 40px; border-bottom: 1px solid #E2E2E2;
    .item-list{margin: -20px -25px;
        >li{width: calc(100%/3); padding: 20px 25px;}
    }
    .news-default{
        .content{padding-top: 25px; padding-left: 15px; padding-right: 15px; 
            background-color: $color-light; margin-top: 0;
            @include transition(all 400ms ease-out);
            .font-body{padding-right: 0;}
            .icon-text{position: absolute; left: 15px; bottom: 25px;}
        }
        .link:hover{
            .content{@include box-shadow(0 3px 30px rgba(0,0,0,0.16));}
        }
    }
}
// page - end

// responsive - start
@media (max-width: 1600px) {
}

@media (max-width: 1440px) /*check 1280*/ {
}

@media (max-width: 1199px) /*check 1024*/{
    .news-hilight{padding-bottom: 5px;}
    .news-hilight.slick-dotted.slick-slider{margin-bottom: 50px;}
    .news-hilight .news-default .thumb {padding-right: 30px;}
    .news-hilight .news-default .content { width: 300px;margin-bottom: 20px;}

    .news-list .item-list{margin: -15px;}
    .news-list .item-list > li{padding: 15px;}
    .news-list .news-default .content .icon-text {bottom: 10px;}

}

@media (max-width: 991px) {
    .news-hilight .news-default .content {width: 250px;}
    .news-hilight .news-default .content .font-body{height: 1.2em*4; -webkit-line-clamp: 4;}

    .news-list .item-list{margin: -10px;}
    .news-list .item-list > li{padding: 10px;}
    .news-list .news-default .content .icon-text {bottom: 5px;}
}

@media (max-width: 767px) {
    .news-hilight .link{display: block;}
    .news-hilight .news-default .thumb{padding-right: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }
    .news-hilight .news-default .content{width: 100%; margin-bottom: 0;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .news-list .item-list{margin: -5px;}
    .news-list .item-list > li{padding: 5px; width: 50%;}
    .news-list .news-default .content{padding-top: 15px;}
}

@media (max-width: 575px) {
}
// responsive - end