.pdpa-page {
    .default-nav-slider .item {
        padding-left: 25px;
        padding-right: 25px;
    }
    .h-title {
        margin-bottom: 3rem;
    }
    .title {
        margin-bottom: .5rem;
    }
    .desc {
        margin-bottom: 30px;
    }
}
