.training-work {
    .h-title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        text-align: center;
        margin: 30px 0;
    }
    .sponsor-block {
        padding-bottom: 4rem;
        .title {
            font-weight: var(--fw-medium);
            color: var(--color-dark);
            border-bottom: 1px solid #E1E1E1;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
        }
        .item-list {
            margin: 0 -10px;
            li {
                width: calc(100%/6);
                padding: 10px;
                .cover {
                    padding-bottom: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .training-work {
        .sponsor-block {
            .item-list {
                li {
                    width: calc(100%/5);
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .training-work {
        .sponsor-block {
            .item-list {
                li {
                    width: calc(100%/3);
                }
            }
        }
    }
}