.training-work {
    .h-title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        text-align: center;
        margin: 30px 0;
    }
    .sponsor-block {
        margin-top: 60px;
        display: block !important;
        .title {
            border-bottom: 1px solid #cccccc;
            margin: 0;
            padding-bottom: 20px;
        }
        .link {
            width: calc(100%/6);
            img {
                margin: 30px 0;
                // margin: 0;
                // margin-top: 30px;
            }
        }
    }
}

@media (max-width: 767px) {
    .training-work {
        .sponsor-block {
            .link {
                width: calc(100%/4);
                img {
                    margin: 0;
                }
            }
        }
    }
}

@media (max-width: 575px) {
    .training-work {
        .sponsor-block {
            .link {
                width: calc(100%/2);
            }
        }
    }
}