.about {
    .head-title {
        font-size: var(--typo-lg);
        font-weight: var(--fw-medium);
        color: var(--color-primary);
        text-align: center;
        margin: 30px 0;
    }
    .title {
        font-size: var(--typo-sm);
        color: var(--color-primary);
    }
    .download-block:not(:last-child),
    .news-block:not(:last-child) {
        margin: 0;
        border-bottom: 1px solid transparent;
    }
    // .collapse-block {
    //     .download-block:nth-child(even) {
    //         border-top: 1px solid transparent !important;
    //     }
    // }
    .form-group {
        margin: 0;
        .select-custom {
            .select2-container--default .select2-selection--single,
            .select2-container--option-year .select2-selection--single {
                padding: 14px 5px;
            }
        }
    }
}

.about.from-about {
    .head-title,
    .title {
        line-height: 1.5;
    }
    .upload-form {
        padding: 40px;
        background-color: #f2f5ff87;
        .upload-image {
            position: relative;
            background-color: var(--color-white);
            border: 1px solid #117FE7;
            padding: 30px 20px;
            .control-label {
                &::before {
                    content: "";
                    background-image: url(../img/static/profile.svg);
                    width: 182px;
                    height: 182px;
                    background-repeat: no-repeat;
                    background-position: center;
                    left: 0;
                    right: 0;
                    margin: auto;
                    bottom: 0;
                    display: flex;
                }
            }
            p {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }
        }
    }
    .form-default {
        .form-group {
            margin-top: 25px !important;
            .control-label {
                color: var(--color-primary);
                // font-size: 15px;
                font-size: var(--typo-xs);
                height: 20px;
                display: flex;
                align-items: flex-end;
            }
            .label-custom {
                white-space: nowrap;
                width: 100%;
            }
            .p-color {
                color: #4B4B4B;
            }
            .c-color {
                color: #707070;
                display: contents;
                line-height: 1.5;
            }
        }
        .topic {
            color: var(--color-black);
            padding: 1rem 0;
            font-size: var(--typo-xs);
            line-height: 1.5;
        }
        .-note {
            font-size: var(--typo-xs);
            color: red;
        }
        .-nm {
            margin-top: 10px !important;
        }
        fieldset {
            .control-legend {
                color: var(--color-primary);
                // font-size: 15px;
                font-size: var(--typo-xs);
                height: 20px;
                display: flex;
                align-items: flex-end;
            }
            .form-group.-nm {
                margin-top: 10px !important;
                .control-label {
                    color: #0F2852;
                }
                .-C {
                    position: absolute;
                    top: -20px;
                }
            }
        }
        .btn-form {
            width: 450px;
        }
    }
    span {
        color: red;
    }
    .emergency-case,
    .family-datails {
        .font-size-C {
            font-size: var(--typo-default) !important;
        }
    }
    .form-history {
        .font-size-C {
            font-size: var(--typo-sm) !important;
            color: #0B2845 !important;
        }
        .font-size-C.-I {
            font-size: var(--typo-default) !important;
        }
        .txt {
            margin-top: 25px;
        }
    }
    .family-datails {
        border-top: dashed 1px #2B63FF;
        border-bottom: dashed 1px #2B63FF;
        margin-top: 40px !important;
        padding-bottom: 55px;
        // padding: 30px 0 15px 0;
        .form-set {
            padding-top: 40px;
            // &:not(:last-child) {
            //     padding-top: 40px;
            // }
        }
        .form-set.-III {
            .button {
                margin-top: 30px;
            }
        }
        .form-set.-IV {
            transition: all 200ms ease-out;
            .title {
                font-size: var(--typo-xs);
            }
        }
    }
    .form-history {
        border-bottom: dashed 1px #2B63FF;
        padding: 40px 0;
    }
}

.wg-about .link {
    opacity: 0.5;
}

.wg-about .link:hover {
    opacity: 1;
}

.wg-about .item .link .action,
.wg-about .item .action {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    color: #fff;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    position: relative;
    margin-top: 20px;
    padding: 15px 0;
}

.wg-about-header h3.title {
    font-size: 30px;
    padding: 4px 0;
    text-align: center;
}

@media (max-width: 1600px) {}

@media (max-width: 1440px) {
    .about.from-about {
        .form-default {
            .form-group {
                margin-top: 15px !important;
            }
        }
    }
}

@media (max-width: 1199px) {}

@media (max-width: 991px) {}

@media (max-width: 767px) {
    .gutters-sm-10 {
        margin: 0 -5px;
        >div {
            padding: 0 5px;
        }
    }
}

@media (max-width: 575px) {}

@media (max-width: 375px) {}

@media (max-width: 320px) {}