.theme-style-2 {
    .text-primary {
        color: var(--color-black) !important;
    }
    .text-primary-light {
        color: var(--color-black) !important;
    }
    .text-secondary {
        color: #4b4b4b !important;
    }
    .text-success {
        color: var(--color-black) !important;
    }
    .text-info {
        color: var(--color-gray) !important;
    }
    .text-warning {
        color: var(--color-black) !important;
    }
    .text-danger {
        color: var(--color-black) !important;
    }
    .text-gray {
        color: var(--color-gray) !important;
    }
    .text-light {
        color: var(--color-light) !important;
    }
    .text-white {
        color: var(--color-white) !important;
    }
    .text-dark {
        color: var(--color-black) !important;
    }
    .text-black {
        color: var(--color-black) !important;
    }
    .text-default {
        color: var(--color-default) !important;
    }
    .bg-primary {
        background-color: var(--color-primary) !important;
    }
    img {
        filter: grayscale(1);
    }
    .iframe-container {
        filter: grayscale(1);
    }
    .site-header {
        // background-color: rgb(0 0 0 / 70%);
        background: var(--color-black);
        border-top: 5px solid var(--color-white);
        // -webkit-backdrop-filter: blur(5px);
        // backdrop-filter: blur(5px);
        color: var(--color-light);
        .brand {
            // img {
            //     filter: brightness(0%);
            // }
        }
        .site-header-main {
            .search {
                a {
                    color: var(--color-light);
                }
            }
            .menu {
                .menu-toggle {
                    .bar {
                        background-color: var(--color-light);
                    }
                }
            }
            .main-menu-list {
                .nav-list>li {
                    a {
                        color: var(--color-light);
                    }
                    &.active,
                    a.active {
                        border: 2px solid var(--color-light);
                    }
                }
            }
        }
    }
    .site-header-topbar {
        color: var(--color-light);
        .text-color .item-list>li .theme.theme-style-2 {
            color: var(--color-light);
        }
    }
    .site-header-topbar .text-color .item-list>li a,
    .site-header-topbar .text-size .item-list>li a {
        color: var(--color-light);
    }
    .menu-full .main-menu {
        background-color: var(--color-black);
    }
    .menu-full .dropright .dropdown-menu,
    .menu-full {
        background-color: var(--color-white);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    .menu-full .main-menu .nav-list>li>a,
    .menu-full .dropright .dropdown-menu .level-II>li>a {
        color: var(--color-light) !important;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item>li>a {
        color: var(--color-black) !important;
    }
    .menu-full .dropright .dropdown-menu>li .item-list li a {
        color: var(--color-black) !important;
    }
    .menu-full .dropright .dropdown-menu>li>a {
        color: var(--color-black) !important;
        border-bottom: 1px solid var(--color-black);
    }
    .menu-full .item-list.bullet>li::before {
        background: var(--color-black);
    }
    .btn-primary,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: #fff;
        background-color: var(--color-black);
        border-color: transparent;
    }
    .btn-primary:hover,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary:active:focus,
    .btn-primary.actitve:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .btn-primary:focus:hover,
    .btn-primary.focus:hover {
        color: #fff;
        background-color: var(--color-gray);
        border-color: transparent;
    }
    .btn-border-primary,
    .btn-border-primary:focus,
    .btn-border-primary.focus,
    .btn-border-primary:not(:disabled):not(.disabled).active,
    .btn-border-primary:not(:disabled):not(.disabled):active,
    .show>.btn-border-primary.dropdown-toggle {
        color: var(--color-black);
        background-color: transparent;
        border-color: var(--color-black);
    }
    .btn-border-primary:hover,
    .btn-border-primary:active:hover,
    .btn-border-primary.active:hover,
    .btn-border-primary:active:focus,
    .btn-border-primary.actitve:focus,
    .btn-border-primary:active.focus,
    .btn-border-primary.active.focus,
    .btn-border-primary:focus:hover,
    .btn-border-primary.focus:hover {
        color: #fff;
        background-color: var(--color-gray);
        border-color: transparent;
    }
    .select2-container--option-year .select2-selection--single {
        background-color: var(--color-gray);
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
        background-color: var(--color-black);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--color-light);
    }
    .select2-container--option-year .select2-selection--single .select2-selection__rendered {
        color: var(--color-light);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow::before,
    .select2-container--option-year .select2-selection--single .select2-selection__arrow::before {
        color: var(--color-light);
    }
    .select2-container--option-year .select2-results__option--selectable {
        color: #ccc
    }
    .select2-container--option-year .select2-results__option--selectable:hover {
        color: var(--color-light);
    }
    .select2-container--option-year.select2-container--open .select2-dropdown--below {
        background-color: var(--color-gray);
    }
    .form-default .form-control:focus {
        border: 1px solid var(--color-black);
    }
    .form-check-input:checked {
        background-color: var(--color-black);
    }
    .radio-check:checked[type="radio"] {
        filter: grayscale(1);
    }
    .download-block {
        border-top: 1px solid var(--color-black);
        border-bottom: 1px solid var(--color-black);
        .download-block-type {
            .desc.view {
                &::before {
                    border: 1px solid var(--color-black);
                }
            }
        }
        .icon {
            // filter: brightness(0) invert(1);
        }
    }
    .attachment-slider {
        .attachment-block {
            border: 1px solid var(--color-black);
            svg {
                filter: brightness(0%);
            }
            &:hover {
                background-color: #3D3D3D;
                .title {
                    color: var(--color-light);
                }
                svg {
                    filter: brightness(0) invert(1);
                }
            }
            // .icon {
            //     filter: brightness(0) invert(1);
            // }
            .title {
                color: var(--color-black);
            }
        }
    }
    .detail-link-block {
        .detail-desc {
            border-color: var(--color-black);
            .title {
                color: var(--color-black);
            }
        }
    }
    .default-slick {
        .slick-dots {
            li {
                button {
                    &:hover {
                        &::before {
                            background-color: var(--color-black);
                        }
                    }
                    &::before {
                        background-color: var(--color-gray);
                    }
                }
            }
            .slick-active {
                border: 1px solid var(--color-black);
                button {
                    // &:hover {
                    //     &::before {
                    //         background-color: var(--color-primary);
                    //     }
                    // }
                    &::before {
                        background-color: var(--color-black);
                    }
                }
            }
        }
    }
    .default-tab-slider {
        &::before {
            background-color: var(--color-black);
        }
        .slick-prev,
        .slick-next {
            border: 1px solid var(--color-black);
            &::before {
                filter: brightness(0%);
            }
            &:hover {
                background-color: #3D3D3D;
                &::before {
                    filter: brightness(0) invert(1);
                }
            }
        }
        .slick-list {
            .item {
                .tab-block {
                    border: 1px solid var(--color-black);
                    &:hover {
                        background-color: #3D3D3D;
                        a {
                            color: var(--color-light);
                        }
                    }
                    a {
                        color: var(--color-black);
                    }
                }
                .active {
                    background-color: #3D3D3D;
                    a {
                        color: var(--color-light);
                    }
                }
            }
        }
    }
    .download-block {
        .title,
        .download-block-btn .btn {
            color: var(--color-black);
        }
        .download-block-type {
            img {
                filter: brightness(0%);
            }
            .desc {
                color: var(--color-black);
                span {
                    color: var(--color-black);
                }
            }
        }
    }
    .news-block {
        .title,
        .btn {
            color: var(--color-black);
        }
        .desc {
            color: var(--color-default);
        }
    }
    .pagination-block {
        .pagination-label {
            color: var(--color-black);
        }
    }
    .pagination li a {
        color: var(--color-black)
    }
    .collapse-block {
        .card-header {
            background-color: #3D3D3D;
            h3 {
                .btn {
                    color: var(--color-light);
                }
            }
        }
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid var(--color-gray);
    }
    .table thead th,
    .table tbody td {
        color: var(--color-black);
    }
    .site-footer {
        .footer-top {
            background: url(../img/background/GIT-Pattern-Signature-Black.svg), var(--color-black);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        .contact .item-list>li a span {
            background-color: var(--color-gray);
        }
        .social .item-list>li .btn {
            background-color: var(--color-black);
        }
        .footer-sitemap .card-header {
            background: var(--color-black);
        }
        .footer-bottom {
            background-color: var(--color-black);
        }
        .footer-sitemap,
        .footer-sitemap .card,
        .footer-sitemap .list-group-item {
            background-color: var(--color-light);
        }
        .footer-sitemap .card-body .h-title {
            color: var(--color-black);
        }
        .footer-sitemap .card-body .title {
            color: var(--color-black);
        }
        .footer-sitemap .card-body .list-group .list-group-item,
        .footer-sitemap .card-body .list-group .list-group-item>a,
        .footer-sitemap .card-body .list-group .list-group-item>.link {
            color: var(--color-black);
            &::before {
                border: 1px solid var(--color-black);
            }
        }
        .footer-sitemap .link {
            color: var(--color-black);
        }
    }
    .profile-block {
        .h-title {
            color: var(--color-black);
        }
        .profile-desc {
            .profile-name {
                color: var(--color-black);
            }
            a {
                span {
                    background-color: var(--color-black);
                }
            }
        }
    }
    .form-search {
        .form-control-icon {
            .-icon-search {
                filter: brightness(0%);
            }
        }
    }
    .gallery-block {
        .gallery-desc {
            .title {
                color: var(--color-black);
            }
        }
    }
    .related-sites-block {
        .related-sites-desc {
            .title {
                color: var(--color-black);
            }
        }
    }
    .default-nav-slider {
        .item {
            .active {
                color: var(--color-black);
                &::before {
                    filter: brightness(0%);
                }
            }
            a {
                &:hover {
                    color: var(--color-black);
                    &::before {
                        filter: brightness(0%);
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            &:hover {
                &::before {
                    filter: brightness(0%);
                }
            }
        }
    }
    .border-nav-slider {
        border-bottom: 1px solid var(--color-black);
    }
}

.theme-style-3 {
    .text-primary {
        color: var(--color-black) !important;
    }
    .text-primary-light {
        color: var(--color-black) !important;
    }
    .text-secondary {
        color: #4b4b4b !important;
    }
    .text-success {
        color: var(--color-black) !important;
    }
    .text-info {
        color: var(--color-gray) !important;
    }
    .text-warning {
        color: var(--color-black) !important;
    }
    .text-danger {
        color: var(--color-black) !important;
    }
    .text-gray {
        color: var(--color-gray) !important;
    }
    .text-light {
        color: var(--color-light) !important;
    }
    .text-white {
        color: var(--color-white) !important;
    }
    .text-dark {
        color: var(--color-black) !important;
    }
    .text-black {
        color: var(--color-black) !important;
    }
    .text-default {
        color: var(--color-default) !important;
    }
    .text-light {
        color: var(--color-black) !important;
    }
    .bg-primary {
        background-color: var(--color-primary) !important;
    }
    color: #202020;
    // .site-header {
    //     border-top: 5px solid var(--color-yellow);
    //     color: var(--color-yellow);
    //     .brand {
    //         img {
    //             filter: brightness(0%);
    //         }
    //     }
    //     .site-header-main {
    //         .search {
    //             a {
    //                 color: var(--color-yellow);
    //             }
    //         }
    //         .menu {
    //             .menu-toggle {
    //                 .bar {
    //                     background-color: var(--color-yellow);
    //                 }
    //             }
    //         }
    //         .main-menu-list {
    //             .nav-list>li {
    //                 a {
    //                     color: var(--color-yellow);
    //                 }
    //                 a.active {
    //                     border: 2px solid var(--color-yellow);
    //                 }
    //             }
    //         }
    //     }
    // }
    .site-container {
        background-color: var(--color-yellow);
    }
    img {
        filter: grayscale(1);
    }
    .iframe-container {
        filter: grayscale(1);
    }
    .site-header {
        border-top: 5px solid var(--color-yellow);
        color: var(--color-black);
        // background-color: rgb(0 0 0 / 70%);
        background-color: var(--color-black);
        .brand {
            img {
                // filter: brightness(0%);
                filter: invert(87%) sepia(85%) saturate(3191%) hue-rotate(357deg) brightness(103%) contrast(101%);
            }
        }
        .site-header-topbar {
            .text-color .item-list>li .theme {
                &.theme-style-2 {
                    color: var(--color-light);
                }
                // background: var(--color-yellow);
                // border-radius: 50%;
            }
            .text-color,
            .text-size {
                .txt {
                    color: var(--color-yellow);
                }
            }
            .text-size {
                .item-list>li.active a {
                    border: 1px solid var(--color-yellow);
                    color: var(--color-yellow);
                }
                .item-list>li a {
                    color: var(--color-yellow);
                }
                .txt {
                    border-left: 1px solid var(--color-yellow);
                }
            }
            .item-list {
                li {
                    a.theme.theme-style-3 {
                        border: 1px solid var(--color-yellow);
                        border-radius: 50%;
                        color: var(--color-yellow) !important;
                    }
                }
            }
        }
        .site-header-main {
            .search {
                a {
                    color: var(--color-yellow);
                }
            }
            .menu {
                .menu-toggle {
                    .bar {
                        background-color: var(--color-yellow);
                    }
                }
            }
            .main-menu-list {
                .nav-list>li {
                    a {
                        color: var(--color-yellow);
                    }
                    &.active,
                    a.active {
                        border: 2px solid var(--color-yellow);
                    }
                }
            }
        }
    }
    .menu-full .main-menu {
        background-color: var(--color-black);
    }
    .menu-full .dropright .dropdown-menu,
    .menu-full {
        background-color: var(--color-yellow);
        -webkit-backdrop-filter: blur(3px);
        backdrop-filter: blur(3px);
    }
    // .menu-full .main-menu .nav-list>li>a,
    // .menu-full .dropright .dropdown-menu>li>a {
    //     color: var(--color-yellow) !important;
    // }
    // .menu-full .item-list.bullet>li {
    //     &::before {
    //         background-color: var(--color-yellow);
    //     }
    // }
    // .menu-full .dropright .dropdown-menu>li>a {
    //     color: var(--color-yellow) !important;
    //     border-bottom: 1px solid var(--color-yellow);
    // }
    // .menu-full .dropright .dropdown-menu>li .item-list li a {
    //     color: var(--color-yellow) !important;
    // }
    .menu-full .main-menu .nav-list>li>a,
    .menu-full .dropright .dropdown-menu .level-II>li>a {
        color: var(--color-yellow) !important;
    }
    .menu-full .dropright .dropdown-menu .dropdown-item>li>a {
        color: var(--color-black) !important;
    }
    .menu-full .dropright .dropdown-menu>li .item-list li a {
        color: var(--color-black) !important;
    }
    .menu-full .dropright .dropdown-menu>li>a {
        color: var(--color-black) !important;
        border-bottom: 1px solid var(--color-black);
    }
    .menu-full .item-list.bullet>li::before {
        background: var(--color-black);
    }
    .btn-primary,
    .btn-primary:focus,
    .btn-primary.focus,
    .btn-primary:not(:disabled):not(.disabled).active,
    .btn-primary:not(:disabled):not(.disabled):active,
    .show>.btn-primary.dropdown-toggle {
        color: var(--color-yellow);
        background-color: var(--color-black);
        border-color: transparent;
        svg {
            path {
                stroke: var(--color-yellow);
            }
        }
    }
    .btn-primary:hover,
    .btn-primary:active:hover,
    .btn-primary.active:hover,
    .btn-primary:active:focus,
    .btn-primary.actitve:focus,
    .btn-primary:active.focus,
    .btn-primary.active.focus,
    .btn-primary:focus:hover,
    .btn-primary.focus:hover {
        color: var(--color-yellow);
        background-color: var(--color-gray);
        border-color: transparent;
    }
    .btn-border-primary,
    .btn-border-primary:focus,
    .btn-border-primary.focus,
    .btn-border-primary:not(:disabled):not(.disabled).active,
    .btn-border-primary:not(:disabled):not(.disabled):active,
    .show>.btn-border-primary.dropdown-toggle {
        color: var(--color-black);
        background-color: transparent;
        border-color: var(--color-black);
    }
    .btn-border-primary:hover,
    .btn-border-primary:active:hover,
    .btn-border-primary.active:hover,
    .btn-border-primary:active:focus,
    .btn-border-primary.actitve:focus,
    .btn-border-primary:active.focus,
    .btn-border-primary.active.focus,
    .btn-border-primary:focus:hover,
    .btn-border-primary.focus:hover {
        color: var(--color-yellow);
        background-color: var(--color-gray);
        border-color: transparent;
    }
    .select2-container--option-year .select2-selection--single {
        background-color: var(--color-black);
    }
    .select2-container--option-year .select2-selection--single .select2-selection__rendered {
        color: var(--color-yellow);
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow::before,
    .select2-container--option-year .select2-selection--single .select2-selection__arrow::before {
        color: var(--color-yellow);
    }
    .select2-container--option-year .select2-results__option--selectable {
        color: var(--color-yellow);
    }
    .select2-container--option-year .select2-results__option--selectable:hover {
        color: var(--color-yellow);
    }
    .select2-container--option-year.select2-container--open .select2-dropdown--below {
        background-color: var(--color-black);
    }
    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable,
    .select2-container--default .select2-results__option--selected {
        background-color: var(--color-black);
        color: var(--color-yellow);
    }
    .select2-results__option--selectable {
        color: var(--color-black);
    }
    .select2-container--open .select2-dropdown--below {
        background-color: var(--color-yellow);
        border: 1px solid var(--color-black);
    }
    .select2-container--default .select2-selection--single {
        background-color: var(--color-black);
    }
    .select2-container--default .select2-selection--single .select2-selection__rendered {
        color: var(--color-yellow);
    }
    .form-default .form-control:focus {
        border: 1px solid var(--color-black);
    }
    .form-check .control-label {
        color: #202020;
    }
    .form-check-input:checked {
        background-color: var(--color-black);
    }
    .radio-check:checked[type="radio"] {
        filter: grayscale(1);
    }
    .download-block {
        border-top: 1px solid var(--color-black);
        border-bottom: 1px solid var(--color-black);
        .title {
            color: var(--color-black);
        }
        .icon {
            filter: brightness(0%);
        }
        .download-block-type {
            .icon {
                filter: brightness(0%);
            }
            .desc {
                &::before {
                    border: 1px solid var(--color-black);
                }
                color: var(--color-black);
                span {
                    color: var(--color-black);
                }
            }
            .desc.view {
                &::before {
                    border: 1px solid var(--color-black);
                }
            }
        }
        .btn {
            color: var(--color-black);
        }
    }
    .attachment-slider {
        .attachment-block {
            border: 1px solid var(--color-black);
            svg {
                filter: brightness(0%);
            }
            .title {
                color: var(--color-black);
            }
            .subtitle {
                color: var(--color-black);
            }
            &:hover {
                background-color: var(--color-black);
                svg {
                    stroke: var(--color-yellow);
                    filter: unset;
                    g {
                        path {
                            fill: var(--color-yellow);
                        }
                    }
                }
                .title {
                    color: var(--color-yellow);
                }
                .subtitle {
                    color: var(--color-yellow);
                }
            }
            // .icon {
            //     filter: brightness(0) invert(1);
            // }
        }
    }
    .detail-link-block {
        .detail-desc {
            .btn-primary {
                // background-color: var(--color-default);
            }
            border-color: var(--color-black);
            background-color: var(--color-yellow);
            .title,
            .desc {
                color: var(--color-black);
            }
        }
    }
    .default-slick {
        .slick-dots {
            li {
                button {
                    &:hover {
                        &::before {
                            background-color: var(--color-black);
                        }
                    }
                    &::before {
                        background-color: var(--color-gray);
                    }
                }
            }
            .slick-active {
                border: 1px solid var(--color-black);
                button {
                    // &:hover {
                    //     &::before {
                    //         background-color: var(--color-primary);
                    //     }
                    // }
                    &::before {
                        background-color: var(--color-black);
                    }
                }
            }
        }
    }
    .default-tab-slider {
        &::before {
            background-color: var(--color-black);
        }
        .slick-prev,
        .slick-next {
            border: 1px solid var(--color-black);
            &::before {
                filter: brightness(0%);
            }
            &:hover {
                background-color: var(--color-black);
                &::before {
                    // filter: brightness(0%);
                    filter: invert(74%) sepia(58%) saturate(542%) hue-rotate(357deg) brightness(107%) contrast(80%);
                }
            }
        }
        .slick-list {
            .item {
                .tab-block {
                    border: 1px solid var(--color-black);
                    &:hover {
                        background-color: var(--color-black);
                        a {
                            color: var(--color-yellow);
                        }
                    }
                    a {
                        color: var(--color-black);
                    }
                }
                .active {
                    background-color: var(--color-black);
                    a {
                        color: var(--color-yellow);
                    }
                }
            }
        }
    }
    .news-block {
        border-top: 1px solid var(--color-black);
        border-bottom: 1px solid var(--color-black);
        .title,
        .btn {
            color: var(--color-black);
        }
        .desc {
            color: var(--color-black);
        }
    }
    .pagination-block {
        .pagination-label {
            color: var(--color-black);
        }
    }
    .pagination li a {
        color: var(--color-black)
    }
    .collapse-block {
        .card-header {
            background-color: var(--color-black);
            h3 {
                .btn {
                    color: var(--color-yellow);
                }
            }
        }
        #collapse {
            .card-body {
                background-color: var(--color-yellow);
            }
        }
    }
    .table {
        background-color: var(--color-black);
    }
    .table-bordered td,
    .table-bordered th {
        border: 1px solid var(--color-yellow);
    }
    .table thead th,
    .table tbody td {
        color: var(--color-yellow);
    }
    .top-graphic {
        .wrapper {
            .title {
                color: var(--color-yellow);
            }
            .breadcrumb {
                li {
                    color: var(--color-yellow);
                }
                .breadcrumb-item {
                    &::before {
                        color: var(--color-yellow) !important;
                    }
                    a {
                        color: var(--color-yellow);
                    }
                }
            }
        }
    }
    // .breadcrumb {
    //     li {
    //         color: var(--color-yellow);
    //     }
    // }
    .site-footer {
        .footer-top {
            background: url(../img/background/GIT-Pattern-Signature-Black.svg), var(--color-black);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
        }
        #accordion .btn {
            color: var(--color-yellow);
        }
        .footer-top .title,
        .footer-top .desc,
        .contact .item-list>li,
        .link,
        .copyright {
            color: var(--color-yellow);
        }
        .policy .item-list>li+li {
            border-left: 1px solid var(--color-yellow);
        }
        .contact .item-list>li a span {
            background-color: var(--color-black);
        }
        .social .item-list>li .btn {
            background-color: var(--color-black);
            svg {
                path {
                    stroke: var(--color-yellow);
                    fill: var(--color-yellow);
                }
            }
        }
        .footer-sitemap .card-header {
            background: var(--color-black);
        }
        .footer-bottom {
            background-color: var(--color-black);
        }
        .footer-sitemap,
        .footer-sitemap .card,
        .footer-sitemap .list-group-item {
            background-color: var(--color-black);
        }
        .footer-sitemap .card-body .h-title {
            color: var(--color-yellow);
            border-bottom: 1px solid var(--color-yellow);
        }
        .footer-sitemap .card-body .title {
            color: var(--color-yellow);
        }
        .footer-sitemap .card-body .list-group .list-group-item,
        .footer-sitemap .card-body .list-group .list-group-item>a,
        .footer-sitemap .card-body .list-group .list-group-item>.link {
            color: var(--color-yellow);
            &::before {
                border: 1px solid var(--color-yellow);
            }
        }
        .footer-sitemap .link {
            color: var(--color-yellow);
        }
    }
    .profile-block {
        .h-title {
            color: var(--color-black);
            border-bottom: 1px solid var(--color-black);
        }
        .profile-desc {
            .profile-name {
                color: var(--color-black);
            }
            a {
                span {
                    background-color: var(--color-black);
                    color: var(--color-yellow);
                }
            }
        }
    }
    .form-search {
        .form-control-icon {
            .-icon-search {
                filter: brightness(0%);
            }
        }
    }
    .gallery-block {
        .gallery-desc {
            background-color: var(--color-yellow);
            border: 1px solid var(--color-black);
            // .btn-primary {
            //     background-color: var(--color-default);
            // }
            .title {
                color: var(--color-black);
            }
        }
    }
    .related-sites-block {
        .related-sites-thumbnail {
            border: 1px solid var(--color-black);
        }
        .related-sites-desc {
            border: 1px solid var(--color-black);
            .title,
            .url {
                color: var(--color-black);
            }
        }
    }
    .default-nav-slider {
        .item {
            a {
                color: var(--color-black);
            }
            .active {
                color: var(--color-black);
                &::before {
                    filter: brightness(0%);
                }
            }
            a {
                &:hover {
                    color: var(--color-black);
                    &::before {
                        filter: brightness(0%);
                    }
                }
            }
        }
        .slick-prev,
        .slick-next {
            &:hover {
                &::before {
                    filter: brightness(0%);
                }
            }
        }
    }
    .form-default .form-group .form-control {
        background-color: var(--color-yellow);
        color: var(--color-black);
        border: 1px solid var(--color-black);
    }
    .border-nav-slider {
        border-bottom: 1px solid var(--color-black);
        z-index: 2;
    }
    .form-check .form-check-input {}
}

// .site-header-topbar .text-color .item-list > li a, .site-header-topbar .text-size .item-list > li a