$color-light: #ffffff;
$color-dark: #000000;
$color-darkgray: #191919;
$color-gray: #888787;
$color-lightgray: #CCCCCC;
$color-red: #f00;
$color-primary: #E72C3A;
$color-secondary: #003E88;
$color-none: transparent;
$color-border: #ebebeb;